interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/ZZZZ?events=div%2Csplits&includePrePost=False&interval=15m&period1=MOCK_PERIOD_1&period2=MOCK_PERIOD_2
  response:
    body:
      string: '{"chart":{"result":null,"error":{"code":"Not Found","description":"No
        data found, symbol may be delisted"}}}'
    headers:
      Accept-CH:
      - Sec-CH-UA, Sec-CH-Mobile, Sec-CH-UA-Platform, Sec-CH-UA-Platform-Version,
        Sec-CH-UA-Arch, Sec-CH-UA-Model, Sec-CH-UA-Full-Version
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - bdhc70hh4kcol
      y-rid:
      - bdhc70hh4kcol
    status:
      code: 404
      message: Not Found
version: 1
