[tool.poetry]
name = "openbb-core"
version = "1.0.0b0"
description = "OpenBB package with core functionality"
authors = ["OpenBB Team <hello@openbb.co>"]
readme = "README.md"
packages = [{ include = "openbb_core" }]

[tool.poetry.dependencies]
python = "^3.8"
uvicorn = "^0.23.2"
importlib_metadata = "^6.8.0"
websockets = "^10.4"
pandas = ">=1.5.3"
html5lib = "^1.1"
fastapi = "^0.103.1"
python-jose = "^3.3.0"
uuid7 = "^0.1.0"
posthog = "^3.0.1"
python-multipart = "^0.0.6"
openbb-provider = "^1.0.0b0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
