interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://uk.finance.yahoo.com/quote/ABBV/cash-flow?p=ABBV
  response:
    body:
      string: "<!DOCTYPE html><html data-color-theme=\"light\" id=\"atomic\" class=\"NoJs
        desktop\" lang=\"en-GB\"><head prefix=\"og: https://ogp.me/ns#\"><script>window.performance
        && window.performance.mark && window.performance.mark('PageStart');</script><meta
        charSet=\"utf-8\"/><title>AbbVie Inc. (ABBV) cash flow \u2013 Yahoo Finance
        \u2013 Yahoo Finance</title><meta name=\"keywords\" content=\"cash flow statement,operating
        activities,cash flows,investing,financing,cash,net cash\"/><meta http-equiv=\"x-dns-prefetch-control\"
        content=\"on\"/><meta property=\"twitter:dnt\" content=\"on\"/><meta property=\"fb:app_id\"
        content=\"115060728528067\"/><meta name=\"theme-color\" content=\"#400090\"/><meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1\"/><meta name=\"description\"
        lang=\"en-GB\" content=\"Understand the cash flow statement for AbbVie Inc.
        (ABBV), learn where the money comes from and how the company spends it.\"/><meta
        name=\"oath:guce:consent-host\" content=\"guce.yahoo.com\"/><meta name=\"msvalidate.01\"
        content=\"A9862C0E6E1BE95BCE0BF3D0298FD58B\"/><link rel=\"manifest\" href=\"/manifest.json\"/><link
        rel=\"dns-prefetch\" href=\"//l.yimg.com\"/><link rel=\"dns-prefetch\" href=\"//s.yimg.com\"/><link
        rel=\"dns-prefetch\" href=\"//geo.query.yahoo.com\"/><link rel=\"dns-prefetch\"
        href=\"//b.scorecardresearch.com\"/><link rel=\"dns-prefetch\" href=\"//iquery.finance.yahoo.com\"/><link
        rel=\"dns-prefetch\" href=\"//fc.yahoo.com\"/><link rel=\"dns-prefetch\" href=\"//video-api.yql.yahoo.com\"/><link
        rel=\"dns-p[...]
