interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.pennystockflow.com/
  response:
    body:
      string: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01 Transitional//EN\" \"http://www.w3.org/TR/html4/loose.dtd\">\n<html>\n<head>\n<meta
        name=\"Description\" content=\"Todays Hot Penny Stocks\">\n<meta name=\"Keywords\"
        content=\"Penny Stocks, OTC Stocks, OTCBB, Pink Sheet Stocks\">\n<title>Todays
        Hot Penny Stocks</title>\n\n<style type=\"text/css\">\n<!--\n\nh1  {\n    text-align:
        center;\n    font-family: verdana, arial;\n    font-size: 24px;\n    color:
        #046204;\n}\n\nh2  {\n    text-align: center;\n    font-family: verdana, arial;\n
        \   font-size: 16px;\n    color: #046204;\n}\n\nbody, p, a  {\n    text-align:
        justify;\n    font-family: verdana, arial;\n    font-size: 12px;\n    color:
        #000000;\n}\n\ntable.stocks {\n    font-family     : verdana, arial;\n    margin-left:auto;
        margin-right:auto;\n    color           : #000000;\n    padding-right   :
        6px;\n    padding-left    : 6px;\n    border-width: 1px;\n    border-spacing:
        ;\n    border-style: outset;\n    border-color: gray;\n    border-collapse:
        collapse;\n}\n\n\n.tblhdr {\n    font-family     : verdana, arial;\n    color
        \          : #000000;\n    background      : #6fff6f;\n    padding         :
        4px;\n    font-weight     : bold;\n    font-size       : 12px;\n    text-align
     [...]
