__pycache__/
logs/
*.pyc
.DS_Store
*.env
.venv
.vscode
*.ipynb
env/
venv/
!notebooks/jupyter/.gitkeep
.python-version
iframe_figures/
exports/*
.idea
.coverage
htmlcov
gamestonk_terminal/config_plot.py
gamestonk_terminal/config_terminal.py
gamestonk_terminal/feature_flags.py
gamestonk_terminal/jupyter/reports/stored/*
!gamestonk_terminal/jupyter/reports/stored/.gitkeep
!gamestonk_terminal/jupyter/dashboards/*.ipynb
!gamestonk_terminal/jupyter/reports/*.ipynb
gamestonk_terminal/portfolio/portfolios/*
.ipynb_checkpoints/*
.swp

# Jupyter Lab Extension build files
jupyterlab/*/*.bundle.*
jupyterlab/*/lib/
jupyterlab/*/*/labextension/
jupyterlab/*/node_modules/
jupyterlab/*/*/node_modules/
jupyterlab/*/*.egg-info/
jupyterlab/*/.ipynb_checkpoints
jupyterlab/*/*.tsbuildinfo
jupyterlab/*/ui-tests/test-results/
jupyterlab/*/ui-tests/tests/*.ts-snapshots/

# Sphinx documentation build files
docs/_build

# User stylesheets
styles/user

# the file containing the API keys for the web version
gamestonk_terminal_web/setenv
