interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://apiv2.coindix.com/search?sort=-apy&tvl=1m&kind=all
  response:
    body:
      string: '{"hasPrevPage":false,"hasNextPage":true,"total":2444,"totalPages":25,"data":[{"id":44976,"name":"OXD-USDC","icon":"https://apiv2.coindix.com/icons/OXD-USDC.png","chain":"Fantom","protocol":"Beefy","base":757005050715.656,"reward":0,"rewards":{},"apy":757005050715.656,"apy_7_day":null,"tvl":7816829,"risk":2,"link":"https://apiv2.coindix.com/vault/44976/redirect","is_new":true,"watched":false},{"id":40977,"name":"2SHARES-FTM","icon":"https://apiv2.coindix.com/icons/2SHARES-FTM.png","chain":"Fantom","protocol":"Beefy","base":85341610.11546831,"reward":0,"rewards":{},"apy":85341610.11546831,"apy_7_day":25335481770.902565,"tvl":1657287,"risk":2,"link":"https://apiv2.coindix.com/vault/40977/redirect","is_new":false,"watched":false},{"id":40976,"name":"2OMB-FTM","icon":"https://apiv2.coindix.com/icons/2OMB-FTM.png","chain":"Fantom","protocol":"Beefy","base":23505009.88015369,"reward[...]
