interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.fdscanner.com/api2/unusualvolume?p=0&page_size=20&page=0
  response:
    body:
      string: '{"current_page":0,"data":[{"a":0.11,"b":0.07,"expiry":"2021-12-31","iv":34.36,"oi":131.0,"op":0.08,"po":0.59,"s":3360.0,"t":"C","tk":"AMZN","v":7867.0,"vol/oi":60.1},{"a":0.55,"b":0.4,"expiry":"2022-01-21","iv":23.16,"oi":218.0,"op":0.4,"po":4.14,"s":65.0,"t":"P","tk":"XEL","v":8132.0,"vol/oi":37.3},{"a":0.01,"b":0.0,"expiry":"2021-12-31","iv":39.11,"oi":988.0,"op":0.01,"po":0.74,"s":1065.0,"t":"C","tk":"TSLA","v":31229.0,"vol/oi":31.6},{"a":0.52,"b":0.48,"expiry":"2022-02-18","iv":50.26,"oi":135.0,"op":0.5,"po":24.97,"s":55.0,"t":"C","tk":"DVN","v":4094.0,"vol/oi":30.3},{"a":0.14,"b":0.03,"expiry":"2021-12-31","iv":41.21,"oi[...]
