interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://apiv2.coindix.com/search?sort=-apy&tvl=1m&kind=all
  response:
    body:
      string: '{"hasPrevPage":false,"hasNextPage":true,"total":1581,"totalPages":50,"data":[{"id":96613,"name":"ESHARE-BNB","icon":"https://api.coindix.com/icons/ESHARE-BNB.png","chain":"BNB Chain","protocol":"Beefy","base":30.42511882,"reward":0,"rewards":{},"apy":30.42511882,"tvl":1592553,"link":"https://api.coindix.com/vault/96613/redirect","is_new":false,"watched":false},{"id":77959,"name":"ust-wormholeUST-3Crv","icon":"https://api.coindix.com/icons/ust-wormholeUST+3Crv.png","chain":"Ethereum","protocol":"Convex","base":0.0898,"reward":14.8516,"rewards":{"CRV":8.125599999999999,"CVX":6.726},"apy":14.9414,"tvl":2600000,"link":"https://api.coindix.com/vault/77959/redirect","is_new":false,"watched":false},{"id":50508,"name":"GRAPE-MIM","icon":"https://api.coindix.com/icons/GRAPE-MIM.png","chain":"Avalanche","protocol":"Beefy","base":12.53196591,"reward":0,"rewards":{},"apy":12.53196591,"tvl":1109040,"link":"https://api.coindix.com/vault/50508/redirect","is_new":false,"watched":false},{"id":75836,"name":"BSHARE-FTM","icon":"https://api.coindix.com/icons/BSHARE-FTM.png","chain":"[...]
