interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/%5EDJI?period1=1420066800&period2=1422831600&interval=1mo&includePrePost=False&events=div%2Csplits
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"^DJI","exchangeName":"DJI","instrumentType":"INDEX","firstTradeDate":694362600,"regularMarketTime":1647637670,"gmtoffset":-14400,"timezone":"EDT","exchangeTimezoneName":"America/New_York","regularMarketPrice":34754.93,"chartPreviousClose":17823.07,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EDT","start":1647849600,"end":1647869400,"gmtoffset":-14400},"regular":{"timezone":"EDT","start":1647869400,"end":1647892800,"gmtoffset":-14400},"post":{"timezone":"EDT","start":1647892800,"end":1647907200,"gmtoffset":-14400}},"dataGranularity":"1mo","range":"","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1420088400,1422766800],"indicators":{"quote":[{"close":[17164.94921875,18132.69921875],"volume":[2173260000,1751250000],"open":[17823.0703125,17169.990234375],"low":[17136.30078125,17037.759765625],"high":[17951.779296875,18244.380859375]}],"adjclose":[{"adjclose":[17164.94921875,18132.69921875]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 16dtef9h3gmu1
      y-rid:
      - 16dtef9h3gmu1
    status:
      code: 200
      message: OK
version: 1
