interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/DOWJONES?range=1d&interval=1d
  response:
    body:
      string: '{"chart":{"result":null,"error":{"code":"Not Found","description":"No
        data found, symbol may be delisted"}}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - ddbt4m9hvk2i3
      y-rid:
      - ddbt4m9hvk2i3
    status:
      code: 404
      message: Not Found
version: 1
