interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.eclect.us/symbol/aapl?page=1
  response:
    body:
      string: "[{\"symbol\":\"AAPL\",\"industry\":\"Consumer Electronics\",\"country\":\"United
        States\",\"marketcap\":\"1 Trillion\",\"shortname\":\"Apple Inc.\",\"name\":\"0000320193-23-000006.txt\",\"date\":\"2023-02-02\",\"file_type\":\"10-Q\",\"cik\":\"0000320193\",\"daa_highlights\":[{\"kmeans_i\":49,\"sentence_i\":42,\"sentence\":\"EuropeEurope
        net sales decreased during the first quarter of 2023 compared to the same
        quarter in 2022 due to the weakness in foreign currencies relative to the
        U. S. dollar, which contributed to lower net sales of iPhone and Mac.\",\"good_or_bad\":\"good\"},{\"kmeans_i\":49,\"sentence_i\":44,\"sentence\":\"The
        weakness of the renminbi contributed to lower net sales of iPhone, which was
        partially offset by higher net sales of iPad. JapanJapan net sales decreased
        during the first quarter of 2023 compared to the same quarter in 2022 due
        to the weakness of the yen relative to the U. S. dollar, which contributed
        to lower net sales of Services and Mac.\",\"good_or_bad\":\"good\"},{\"kmeans_i\":49,\"senten[...]
