interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/EURUSD=X?events=div%2Csplits%2CcapitalGains&includePrePost=False&interval=1d&period1=MOCK_PERIOD_1&period2=MOCK_PERIOD_2
  response:
    body:
      string: '{"chart":{"result":null,"error":{"code":"Bad Request","description":"Invalid
        input - start date cannot be after end date. startDate = 1672531200, endDate
        = 1640995200"}}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 0qbkk6phthqai
      y-rid:
      - 0qbkk6phthqai
    status:
      code: 400
      message: Bad Request
version: 1
