interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/EURUSD=X?events=div%2Csplits%2CcapitalGains&includePrePost=False&interval=1d&period1=MOCK_PERIOD_1&period2=MOCK_PERIOD_2
  response:
    body:
      string: '{"chart":{"result":null,"error":{"code":"Bad Request","description":"Invalid
        input - start date cannot be after end date. startDate = 1672531200, endDate
        = 1640995200"}}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 0uvbk5lhti8kg
      y-rid:
      - 0uvbk5lhti8kg
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/EURUSD=X?interval=1d&range=1d
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"EURUSD=X","exchangeName":"CCY","instrumentType":"CURRENCY","firstTradeDate":1070236800,"regularMarketTime":1675976293,"gmtoffset":0,"timezone":"GMT","exchangeTimezoneName":"Europe/London","regularMarketPrice":1.0738,"chartPreviousClose":1.0718,"priceHint":4,"currentTradingPeriod":{"pre":{"timezone":"GMT","end":1675900800,"start":1675900800,"gmtoffset":0},"regular":{"timezone":"GMT","end":1675987140,"start":1675900800,"gmtoffset":0},"post":{"timezone":"GMT","end":1675987140,"start":1675987140,"gmtoffset":0}},"dataGranularity":"1d","range":"1d","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1675976293],"indicators":{"quote":[{"low":[1.0713521242141724],"volume":[0],"open":[1.071811318397522],"high":[1.0794472694396973],"close":[1.073767900466919]}],"adjclose":[{"adjclose":[1.073767900466919]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - b0b5bmthuankj
      y-rid:
      - b0b5bmthuankj
    status:
      code: 200
      message: OK
version: 1
