interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/EURUSD=X?interval=1d&range=1d
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"EURUSD=X","exchangeName":"CCY","instrumentType":"CURRENCY","firstTradeDate":1070236800,"regularMarketTime":1683048111,"gmtoffset":3600,"timezone":"BST","exchangeTimezoneName":"Europe/London","regularMarketPrice":1.1001,"chartPreviousClose":1.0978,"priceHint":4,"currentTradingPeriod":{"pre":{"timezone":"BST","end":1682982000,"start":1682982000,"gmtoffset":3600},"regular":{"timezone":"BST","end":1683068340,"start":1682982000,"gmtoffset":3600},"post":{"timezone":"BST","end":1683068340,"start":1683068340,"gmtoffset":3600}},"dataGranularity":"1d","range":"1d","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1683048111],"indicators":{"quote":[{"low":[1.0946906805038452],"close":[1.1001100540161133],"volume":[0],"open":[1.0976948738098145],"high":[1.1008366346359253]}],"adjclose":[{"adjclose":[1.1001100540161133]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 25gig1ti52hmq
      y-rid:
      - 25gig1ti52hmq
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/EURUSD=X?events=div%2Csplits%2CcapitalGains&includePrePost=False&interval=1d&period1=MOCK_PERIOD_1&period2=MOCK_PERIOD_2
  response:
    body:
      string: '{"chart":{"result":null,"error":{"code":"Bad Request","description":"Invalid
        input - start date cannot be after end date. startDate = 1672531200, endDate
        = 1640995200"}}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - fq3pgsli52hmr
      y-rid:
      - fq3pgsli52hmr
    status:
      code: 400
      message: Bad Request
version: 1
