interactions:
- request:
    body: '{"order_configuration": {"": {}}, "client_order_id": "29f8ecee-76a5-4333-8fd7-75e3bf269f27",
      "product_id": "", "side": ""}'
    headers:
      CB-ACCESS-KEY:
      - MOCK-CB-ACCESS-KEY
      CB-ACCESS-SIGN:
      - MOCK-CB-ACCESS-SIGN
      CB-ACCESS-TIMESTAMP:
      - MOCK-CB-ACCESS-TIMESTAMP
    method: POST
    uri: https://coinbase.com/api/v3/brokerage/orders
  response:
    body:
      string: '{"error":"unknown","error_details":"unknown value \"\\\"\\\"\" for
        enum coinbase.public_api.authed.retail_brokerage_api.OrderSide","message":"unknown
        value \"\\\"\\\"\" for enum coinbase.public_api.authed.retail_brokerage_api.OrderSide"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Trace-Id:
      - '2257313687553073813'
      - '2257313687553073813'
    status:
      code: 400
      message: Bad Request
version: 1
