interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/TSLA?events=div%2Csplits&includePrePost=False&interval=1d&period1=1598220000&period2=1635980400
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"TSLA","exchangeName":"NMS","instrumentType":"EQUITY","firstTradeDate":1277818200,"regularMarketTime":1640034002,"gmtoffset":-18000,"timezone":"EST","exchangeTimezoneName":"America/New_York","regularMarketPrice":899.94,"chartPreviousClose":926.92,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EST","start":1640077200,"end":1640097000,"gmtoffset":-18000},"regular":{"timezone":"EST","start":1640097000,"end":1640120400,"gmtoffset":-18000},"post":{"timezone":"EST","start":1640120400,"end":1640134800,"gmtoffset":-18000}},"dataGranularity":"1d","range":"","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1639751400,1640010600],"indicators":{"quote":[{"high":[960.6599731445312,921.6900024414062],"volume":[33479100,18757200],"close":[932.5700073242188,899.9400024414062],"low":[909.0399780273438,893.3900146484375],"open":[914.77001953125,910.7000122070312]}],"adjclose":[{"adjclose":[932.5700073242188,899.9400024414062]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 3gnf69dgs3g12
      y-rid:
      - 3gnf69dgs3g12
    status:
      code: 200
      message: OK
version: 1
