interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://apiv2.coindix.com/search?sort=-apy&tvl=1m&kind=all
  response:
    body:
      string: '{"hasPrevPage":false,"hasNextPage":true,"total":981,"totalPages":50,"data":[{"id":273200,"name":"MAGIC-WETH","chain":"Arbitrum","protocol":"Uniswap","base":23.7902436,"reward":0,"rewards":{},"apy":23.7902436,"tvl":1041078,"link":"https://api.nanoly.com/vaults/273200/redirect","is_new":false,"watched":false},{"id":272292,"name":"LCX-WETH","chain":"Ethereum","protocol":"Uniswap","base":3.3537874,"reward":0,"rewards":{},"apy":3.3537874,"tvl":1059213,"link":"https://api.nanoly.com/vaults/272292/redirect","is_new":false,"watched":false},{"id":272170,"name":"LDO-WETH","chain":"Ethereum","protocol":"Uniswap","base":3.2958058,"reward":0,"rewards":{},"apy":3.2958058,"tvl":4170799,"link":"https://api.nanoly.com/vaults/272170/redirect","is_new":false,"watched":false},{"id":272470,"name":"DYDX-WETH","ch[...]
