interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.pennystockflow.com/
  response:
    body:
      string: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01 Transitional//EN\" \"http://www.w3.org/TR/html4/loose.dtd\">\n<html>\n<head>\n<meta
        name=\"Description\" content=\"Todays Hot Penny Stocks\">\n<meta name=\"Keywords\"
        content=\"Penny Stocks, OTC Stocks, OTCBB, Pink Sheet Stocks\">\n<title>Todays
        Hot Penny Stocks</title>\n\n<style type=\"text/css\">\n<!--\n\nh1  {\n    text-align:
        center;\n    font-family: verdana, arial;\n    font-size: 24px;\n    color:
        #046204;\n}\n\nh2  {\n    text-align: center;\n    font-family: verdana, arial;\n
        \   font-size: 16px;\n    color: #046204;\n}\n\nbody, p, a  {\n    text-align:
        justify;\n    font-family: verdana, arial;\n    font-size: 12px;\n    color:
        #000000;\n}\n\ntable.stocks {\n    font-family     : verdana, arial;\n    margin-left:auto;
        margin-right:auto;\n    color           : #000000;\n    padding-right   :
        6px;\n    padding-left    : 6px;\n    border-width: 1px;\n    border-spacing:
        ;\n    border-style: outset;\n    border-color: gray;\n    border-collapse:
        collapse;\n}\n\n\n.tblhdr {\n    font-family     : verdana, arial;\n    color
        \          : #000000;\n    background      : #6fff6f;\n    padding         :
        4px;\n    font-weight     : bold;\n    font-size       : 12px;\n    text-align
        \     : center;\n    border-width    : 1px;\n    border-collapse : collapse;\n
        \   border-color    : black;\n}\n\ntd {\n    font-family     : verdana, arial;\n
        \   color           : #000000;\n    background      : #FFFFFF;\n    padding
        \        : 5px;\n    font-weight     : normal;\n    font-size       : 12px;\n
        \   border-width    : 1px;\n    border-collapse : collapse;\n    border-color
        \   : black;\n}\n\n\n.tdi {\n    font-family     : verdana, arial;\n    color
        \          : #000000;\n    background      : #eeeeee;\n    padding         :
        5px;\n    font-weight     : normal;\n    font-size       : 12px;\n    border-width
        \   : 1px;\n    border-collapse : collapse;\n}\n\n.err  {\n    text-align:
        center;\n    font-family: verdana, arial;\n    font-size: 12px;\n    color:
        red;\n    font-weight: bold;\n}\n\n-->\n</style>\n</head>\n<body>\n\n\n<table
        border=0 style=\"border-collapse:collapse;\">\n\n<tr><td>\n\n<h1>Todays Hot
        Penny Stocks</h1>\n\n<p>This site provides a list of todays most active and
        hottest penny stocks.</p>\n\n<p>While not for everyone, penny stocks can be
        exciting and rewarding investments in many ways.  With penny stocks, you can
        get more bang for the buck. You can turn a few hundred dollars into thousands,
        just by getting in on the right penny stock at the right time. Penny stocks
        are increasing in popularity. More and more investors of all age groups and
        skill levels are getting involved, and the dollar amounts they are putting
        into these speculative investments are representing a bigger portion of their
        portfolios. </p>\n</td></tr>\n\n\n\n<tr><td align=center>\n<br><a href=\"https://tinyurl.com/BenzingaSquawk\"
        target=_blank><img src=\"/benzinga.png\" border=\"0\"></a><br><br><script
        type=\"text/javascript\"><!--\ngoogle_ad_client = \"pub-1641527371507802\";\n/*
        Financial */\ngoogle_ad_slot = \"4718314016\";\ngoogle_ad_width = 728;\ngoogle_ad_height
        = 90;\n//-->\n</script>\n<script type=\"text/javascript\"\nsrc=\"https://pagead2.googlesyndication.com/pagead/show_ads.js\">\n</script><br><br></td></tr>\n<tr><td><h2>Todays
        Hot Penny Stocks</h2>\n<table border=1 class=\"stocks\" style=\"border-collapse:collapse;\">\n<tr><td
        width=\"60\" class=\"tblhdr\">Ticker</td><td width=\"70\" class=\"tblhdr\">Price</td><td
        width=\"70\" class=\"tblhdr\">Change</td><td width=\"100\" class=\"tblhdr\">$
        Volume</td><td width=\"100\" class=\"tblhdr\">Volume</td><td width=\"70\"
        class=\"tblhdr\"># Trades</td></tr><tr><td align=\"center\"><a href=\"https://www.otcmarkets.com/stock/ETHE/quote\"
        target=\"_blank\">ETHE</a></td>[...]
