interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.llama.fi/protocols
    response:
      body:
        string:
          "[{\"id\":\"118\",\"name\":\"MakerDAO\",\"address\":\"0x9f8f72aa9304c8b593d555f12ef6589cc3a579a2\",\"symbol\":\"MKR\",\"url\":\"https://makerdao.com/\",\"referralUrl\":\"https://oasis.app/?ref=0x08a3c2A819E3de7ACa384c798269B3Ce1CD0e437\",\"description\":\"Builders
          of Dai, a digital currency that can be used by anyone, anywhere.\\r\\n\",\"chain\":\"Ethereum\",\"logo\":\"https://icons.llama.fi/makerdao.jpg\",\"audits\":\"2\",\"audit_note\":null,\"gecko_id\":\"maker\",\"cmcId\":\"1518\",\"category\":\"CDP\",\"chains\":[\"Ethereum\"],\"module\":\"maker/index.js\",\"twitter\":\"MakerDAO\",\"audit_links\":[\"https://security.makerdao.com/\"],\"oracles\":[\"Maker\"],\"slug\":\"makerdao\",\"tvl\":8500294450.784913,\"chainTvls\":{\"Ethereum\":8500294450.784913},\"change_1h\":0.4610660477540591,\"change_1d\":-0.8601511404019817,\"change_7d\":null,\"fdv\":763993718,\"mcap\":684776901},{\"id\":\"240\",\"name\":\"Polygon
          Bridge & Staking\",\"address\":\"0x7d1afa7b718fb893db30a3abc0cfc608aacfebb0\",\"symbol\":\"MATIC\",\"url\":\"https://polygon.technology/\",\"description\":\"Ethereum
          sidechain\\r\\n\",\"chain\":\"Polygon\",\"logo\":\"https://icons.llama.fi/polygon.jpg\",\"audits\":\"0\",\"audit_note\":null,\"gecko_id\":\"matic-network\",\"cmcId\":\"3890\",\"category\":\"Chain\",\"chains\":[\"Polygon\"],\"module\":\"polygon/index.js\",\"twitter\":\"0xPolygon\",\"slug\":\"polygon-bridge-&-staking\",\"tvl\":7714640883.826025,\"chainTvls\":{\"Polygon\":7714640883.826025},\"change_1h\":-0.03462135387937337,\"change_1d\":0.7696031157867793,\"change_7d\":2.343010509903934,\"fdv\":9084008497,\"mcap\":6759864129},{\"id\":\"182\",\"name\":\"Lido\",\"address\":\"0x5a98fcbea516cf06857215779fd812ca3bef1b32\",\"symbol\":\"LDO\",\"url\":\"https://lido.fi/\",\"referralUrl\":\"https://stake.lido.fi/?ref=0x08a3c2A819E3de7ACa384c798269B3Ce1CD0e437\",\"description\":\"Liquidity
          for staked assets. Daily rewards, no lock ups. Available for Ethereum, Solana,
          Polygon, Terra, Kusama & Polkadot.\",\"chain\":\"Multi-Chain\",\"logo\":\"https://icons.llama.fi/lido.png\",\"audits\":\"2\",\"audit_note\":null,\"gecko_id\":\"lido-dao\",\"cmcId\":\"8000\",\"category\":\"Liquid
          Staking\",\"chains\":[\"Ethereum\",\"Solana\",\"Moonbeam\",\"Moonriver\",\"Terra\"],\"module\":\"lido/index.js\",\"twitter\":\"LidoFinance\",\"audit_links\":[\"https://github.com/lidofinance/audits\"],\"openSource\":true,\"slug\":\"lido\",\"tvl\":7652124661.45767,\"chainTvls\":{\"Ethereum\":7476312576.114624,\"Moonriver\":4091417.9180840743,\"Solana\":158026115.66284254,\"Terra\":267204.4409702331,\"Moonbeam\":13427347.321149098},\"change_1h\":0.7808807589294986,\"change_1d\":-1.2201227314943708,\"change_7d\":4.510781106006007,\"fdv\":1945050349,\"mcap\":1206874059},{\"id\":\"2\",\"name\":\"WBTC\",\"address\":\"0x2260fac5e5542a773aa44fbcfedf7c193bc2c599\",\"symbol\":\"WBTC\",\"url\":\"https://wbtc.network/\",\"description\":\"Wrapped
          Bitcoin (WBTC) is the first ERC20 token backed 1:1 with Bitcoin.\\r\\nCompletely
          transparent. 100% verifiable. Community led.\",\"chain\":\"Ethereum\"[...]
