interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/TSLA?events=div%2Csplits&includePrePost=False&interval=1d&period1=1598220000&period2=1635980400
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"TSLA","exchangeName":"NMS","instrumentType":"EQUITY","firstTradeDate":1277818200,"regularMarketTime":1639774808,"gmtoffset":-18000,"timezone":"EST","exchangeTimezoneName":"America/New_York","regularMarketPrice":932.57,"chartPreviousClose":932.57,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EST","end":1639751400,"start":1639731600,"gmtoffset":-18000},"regular":{"timezone":"EST","end":1639774800,"start":1639751400,"gmtoffset":-18000},"post":{"timezone":"EST","end":1639789200,"start":1639774800,"gmtoffset":-18000}},"dataGranularity":"1d","range":"","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1639751400,1639774808],"indicators":{"quote":[{"open":[914.77001953125,914.77001953125],"low":[909.0399780273438,909.0401000976562],"high":[960.6599731445312,960.659912109375],"close":[932.5700073242188,932.5700073242188],"volume":[33479100,33626772]}],"adjclose":[{"adjclose":[932.5700073242188,932.5700073242188]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 0sv8mg1grtraq
      y-rid:
      - 0sv8mg1grtraq
    status:
      code: 200
      message: OK
version: 1
