interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/cash-flow-statement/PM?apikey=MOCK_API_KEY&limit=0&period=annual
  response:
    body:
      string: "[ {\n  \"date\" : \"2020-12-31\",\n  \"symbol\" : \"PM\",\n  \"reportedCurrency\"
        : \"USD\",\n  \"cik\" : \"0001413329\",\n  \"fillingDate\" : \"2021-02-09\",\n
        \ \"acceptedDate\" : \"2021-02-09 16:20:37\",\n  \"calendarYear\" : \"2020\",\n
        \ \"period\" : \"FY\",\n  \"netIncome\" : 8592000000,\n  \"depreciationAndAmortization\"
        : 981000000,\n  \"deferredIncomeTax\" : -143000000,\n  \"stockBasedCompensation\"
        : 0.0,\n  \"changeInWorkingCapital\" : 128000000,\n  \"accountsReceivables\"
        : 0.0,\n  \"inventory\" : -165000000,\n  \"accountsPayables\" : 406000000,\n
        \ \"otherWorkingCapital\" : -139000000,\n  \"otherNonCashItems\" : 254000000,\n
        \ \"netCashProvidedByOperatingActivities\" : 9812000000,\n  \"investmentsInPropertyPlantAndEquipment\"
        : 0.0,\n  \"acquisitionsNet\" : -47000000,\n  \"purchasesOfInvestments\" :
        0.0,\n  \"salesMaturitiesOfInvestments\" : 0.0,\n  \"otherInvestingActivites\"
        : -1107000000,\n  \"netCashUsedForInvestingActivites\" : -1154000000,\n  \"debtRepayment\"
        : -4114000000,\n  \"commonStockIssued\" : 0.0,\n  \"commonStockRepurchased\"
        : 0.0,\n  \"dividendsPaid\" : -7364000000,\n  \"otherFinancingActivites\"
        : 2982000000,\n  \"netCashUsedProvidedByFinancingActivities\" : -8496000000,\n
        \ \"effectOfForexChangesOnCash\" : 258000000,\n  \"netChangeInCash\" : 420000000,\n
        \ \"cashAtEndOfPeriod\" : 7285000000,\n  \"cashAtBeginningOfPeriod\" : 6865000000,\n
        \ \"operatingCashFlow\" : 9812000000,\n  \"capitalExpenditure\" : -602000000,\n
        \ \"freeCashFlow\" : 9210000000,\n  \"link\" : \"https://www.sec.gov/Archives/edgar/data/1413329/000141332921000007/0001413329-21-000007-index.htm\",\n
        \ \"finalLink\" : \"https://www.sec.gov/Archives/edgar/data/1413329/000141332921000007/pm-20201231.htm\"\n},
        {\n  \"date\" : \"2019-12-31\",\n  \"symbol\" : \"PM\",\n  \"reportedCurrency\"
        : \"USD\",\n  \"cik\" : \"0001413329\",\n  \"fillingDate\" : \"2020-02-07\",\n
        \ \"acceptedDate\" : \"2020-02-07 06:47:13\",\n  \"calendarYear\" : \"2019\",\n
        \ \"period\" : \"FY\",\n  \"netIncome\" : 7185000000,\n  \"depreciationAndAmortization\"
        : 964000000,\n  \"deferredIncomeTax\" : [...]
