interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/key-metrics/PM?apikey=MOCK_API_KEY&limit=0&period=annual
  response:
    body:
      string: "[ {\n  \"symbol\" : \"PM\",\n  \"date\" : \"2020-12-31\",\n  \"period\"
        : \"FY\",\n  \"revenuePerShare\" : 18.42903018625562,\n  \"netIncomePerShare\"
        : 5.1740526653821455,\n  \"operatingCashFlowPerShare\" : 6.3018625561978165,\n
        \ \"freeCashFlowPerShare\" : 5.9152215799614645,\n  \"cashPerShare\" : 4.675658317276814,\n
        \ \"bookValuePerShare\" : -8.071290944123314,\n  \"tangibleBookValuePerShare\"
        : -11.955041746949261,\n  \"shareholdersEquityPerShare\" : -8.071290944123314,\n
        \ \"interestDebtPerShare\" : 20.72190109184329,\n  \"marketCap\" : 124015053114,\n
        \ \"enterpriseValue\" : 148271053114,\n  \"peRatio\" : 15.39412277979146,\n
        \ \"priceToSalesRatio\" : 4.321985541019028,\n  \"pocfratio\" : 12.639120782103547,\n
        \ \"pfcfRatio\" : 13.465260924429968,\n  \"pbRatio\" : -9.868310106946765,\n
        \ \"ptbRatio\" : -9.868310106946765,\n  \"evToSales\" : 5.167319060221649,\n
        \ \"enterpriseValueOverEBITDA\" : 12.211419297809258,\n  \"evToOperatingCashFlow\"
        : 15.111195792295149,\n  \"evToFreeCashFlow\" : 16.098919990662324,\n  \"earningsYield\"
        : 0.06495985606355849,\n  \"freeCashFlowYield\" : 0.0742651780468438,\n  \"debtToEquity\"
        : -2.2414259568711707,\n  \"debtToAssets\" : 1.2372196809104095,\n  \"netDebtToEBITDA\"
        : 1.9976939548674024,\n  \"currentRatio\" : 1.0956920723935764,\n  \"interestCoverage\"
        : 15.89423076923077,\n  \"incomeQuality\" : 1.217974180734856,\n  \"dividendYield\"
        : 0.05937988828848618,\n  \"payoutRatio\" : 0.9141012909632572,\n  \"salesGeneralAndAdministrativeToRevenue\"
        : 0.0033804976650170767,\n  \"researchAndDdevelopementToRevenue\" : 0.0,\n
        \ \"intangiblesToTotalAssets\" : 0.17813232176726543,\n  \"capexToOperatingCashFlow\"
        : -0.06135344476151651,\n  \"capexToRevenue\" : -0.020979995817941032,\n  \"capexToDepreciation\"
        : -0.6136595310907238,\n  \"stockBasedCompensationToRevenue\" : 0.0,\n  \"grahamNumber\"
        : 30.653366854337715,\n  \"roic\" : 0.45916666666666667,\n  \"returnOnTangibleAssets\"
        : 0.2187228496959166,\n  \"grahamNetNet\" : -26.043513166345537,\n  \"workingCapital\"
        : 1877000000,\n  \"tangibleAssetValue\" : -18614000000,\n  \"netCurrentAssetValue\"
        : -33954000000,\n  \"investedCapital\" : -2.5094294581045595,\n  \"averageReceivables\"
        : 3739000000,\n  \"averagePayables\" : 2539500000,\n  \"averageInventory\"
        : 9413000000,\n  \"daysSalesOutstanding\" : 47.841534815640905,\n  \"daysPayablesOutstanding\"
        : 106.04033859337443,\n  \"daysOfInventoryOnHand\" : 365.8391681471418,\n
        \ \"receivablesTurnover\" : 7.6293538952406275,\n  \"payablesTurnover\" :
        3.442086330935252,\n  \"inventoryTurnover\" : 0.9977061828797831,\n  \"roe\"
        : -0.6410440041378213,\n  \"capexPerShare\" : -0.38664097623635196\n}, {\n
        \ \"symbol\" : \"PM\",\n  \"date\" : \"2019-12-31\",\n  \"period\" : \"FY\",\n
        \ \"revenuePerShare\" : 19.167202572347268,\n  \"netIncomePerShare\" : 4.620578778135048,\n
        \ \"operatingCashFlowPerShare\" : 6.488745980707395,\n  \"freeCashFlowPerShare\"
        : 5.940836012861737,\n  \"cashPerShare\" : 4.412218649517685,\n  \"bookValuePerShare\"
        : -7.445016077170418,\n  \"tangibleBookValuePerShare\" : -11.29903536977492,\n
        \ \"[...]
