interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/ratios/PM?apikey=MOCK_API_KEY&limit=0&period=annual
  response:
    body:
      string: "[ {\n  \"symbol\" : \"PM\",\n  \"date\" : \"2021-12-31\",\n  \"period\"
        : \"FY\",\n  \"currentRatio\" : 0.9201246429498832,\n  \"quickRatio\" : 0.4381199688392625,\n
        \ \"cashRatio\" : 0.2334977927810958,\n  \"daysOfSalesOutstanding\" : 45.79207132622194,\n
        \ \"daysOfInventoryOutstanding\" : 317.3280159521436,\n  \"operatingCycle\"
        : 363.12008727836553,\n  \"daysOfPayablesOutstanding\" : 121.21784646061815,\n
        \ \"cashConversionCycle\" : 241.90224081774738,\n  \"grossProfitMargin\" :
        0.6806241044419679,\n  \"operatingProfitMargin\" : 0.40948893488298044,\n
        \ \"pretaxProfitMargin\" : 0.38949211908931697,\n  \"netProfitMargin\" : 0.29004935519821684,\n
        \ \"effectiveTaxRate\" : 0.2183616742969261,\n  \"returnOnAssets\" : 0.22061031726810365,\n
        \ \"returnOnEquity\" : -0.9013457352068078,\n  \"returnOnCapitalEmployed\"
        : 0.5836169729975039,\n  \"netIncomePerEBT\" : 0.7446860693263571,\n  \"ebtPerEbit\"
        : 0.9511664074650078,\n  \"ebitPerRevenue\" : 0.40948893488298044,\n  \"debtRatio\"
        : 1.198789053039477,\n  \"debtEquityRatio\" : -4.897882446071641,\n  \"longTermDebtToCapitalization\"
        : 1.6885603324930163,\n  \"totalDebtToCapitalization\" : 1.5709604519774012,\n
        \ \"interestCoverage\" : 17.44911804613297,\n  \"cashFlowToDebtRatio\" : 0.4303747392649069,\n
        \ \"companyEquityMultiplier\" : -4.085691668315852,\n  \"receivablesTurnover\"
        : 7.970812182741117,\n  \"payablesTurnover\" : 3.01110777544281,\n  \"inventoryTurnover\"
        : 1.150229357798165,\n  \"fixedAssetTurnover\" : 5.091601815823606,\n  \"assetTurnover\"
        : 0.7605957859045773,\n  \"operatingCashFlowPerShare\" : null,\n  \"freeCashFlowPerShare\"
        : null,\n  \"cashPerShare\" : null,\n  \"payoutRatio\" : 0.8321440333735866,\n
        \ \"operatingCashFlowSalesRatio\" : 0.3810539722974049,\n  \"freeCashFlowOperatingCashFlowRatio\"
        : 0.9374947773042533,\n  \"cashFlowCoverageRatios\" : 0.4303747392649069,\n
        \ \"shortTermCoverageRatios\" : 3.958650347337082,\n  \"capitalExpenditureCoverageRatio\"
        : -15.998663101604278,\n  \"dividendPaidAndCapexCoverageRatio\" : 1.7516100702576112,\n
        \ \"dividendPayoutRatio\" : null,\n  \"priceBookValueRatio\" : null,\n  \"priceToBookRatio\"
        : null,\n  \"priceToSalesRatio\" : null,\n  \"priceEarningsRatio\" : null,\n
        \ \"priceToFreeCashFlowsRatio\" : 0.0,\n  \"priceToOperatingCashFlowsRatio\"
        : null,\n  \"priceCashFlowRatio\" : null,\n  \"priceEarningsToGrowthRatio\"
        : null,\n  \"priceSalesRatio\" : null,\n  \"dividendYield\" : null,\n  \"enterpriseValueMultiple\"
        : 1.6689339156583376,\n  \"priceFairValue\" : null\n}, {\n  \"symbol\" : \"PM\",\n
        \ \"date\" : \"2020-12-31\",\n  \"period\" : \"FY\",\n  \"currentRatio\" :
        1.0956920723935764,\n  \"quickRatio\" : 0.562885546775427,\n  \"cashRatio\"
        : 0.3711445322457303,\n  \"daysOfSalesOutstanding\" : 47.841534815640905,\n
        \ \"daysOfInventoryOutstanding\" : 365.8391681471418,\n  \"operatingCycle\"
        : 413.6807029627827,\n  \"daysOfPayablesOutstanding\" : 106.04033859337443,\n
        \ \"cashConversionCycle\" : 307.6[...]
