interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/enterprise-values/PM?apikey=MOCK_API_KEY&limit=0&period=annual
  response:
    body:
      string: "[ {\n  \"symbol\" : \"PM\",\n  \"date\" : \"2021-09-30\",\n  \"stockPrice\"
        : 97.45,\n  \"numberOfShares\" : 0.0,\n  \"marketCapitalization\" : 0.0,\n
        \ \"minusCashAndCashEquivalents\" : 4491000000,\n  \"addTotalDebt\" : 3337000000,\n
        \ \"enterpriseValue\" : -1154000000\n}, {\n  \"symbol\" : \"PM\",\n  \"date\"
        : \"2020-12-31\",\n  \"stockPrice\" : 79.650002,\n  \"numberOfShares\" : 1557000000,\n
        \ \"marketCapitalization\" : 124015053114,\n  \"minusCashAndCashEquivalents\"
        : 7280000000,\n  \"addTotalDebt\" : 31536000000,\n  \"enterpriseValue\" :
        148271053114\n}, {\n  \"symbol\" : \"PM\",\n  \"date\" : \"2019-12-31\",\n
        \ \"stockPrice\" : 84.330002,\n  \"numberOfShares\" : 1555000000,\n  \"marketCapitalization[...]
