interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/income-statement/PM?apikey=MOCK_API_KEY&limit=0&period=annual
  response:
    body:
      string: "[ {\n  \"date\" : \"2020-12-31\",\n  \"symbol\" : \"PM\",\n  \"reportedCurrency\"
        : \"USD\",\n  \"cik\" : \"0001413329\",\n  \"fillingDate\" : \"2021-02-09\",\n
        \ \"acceptedDate\" : \"2021-02-09 16:20:37\",\n  \"calendarYear\" : \"2020\",\n
        \ \"period\" : \"FY\",\n  \"revenue\" : 28694000000,\n  \"costOfRevenue\"
        : 9569000000,\n  \"grossProfit\" : 19125000000,\n  \"grossProfitRatio\" :
        0.666515647870635,\n  \"researchAndDevelopmentExpenses\" : 0.0,\n  \"generalAndAdministrativeExpenses\"
        : 97000000,\n  \"sellingAndMarketingExpenses\" : 7384000000,\n  \"sellingGeneralAndAdministrativeExpenses\"
        : 7481000000,\n  \"otherExpenses\" : 73000000,\n  \"operatingExpenses\" :
        7554000000,\n  \"costAndExpenses\" : 17123000000,\n  \"interestIncome\" :
        110000000,\n  \"interestExpense\" : 728000000,\n  \"depreciationAndAmortization\"
        : 981000000,\n  \"ebitda\" : 12142000000,\n  \"ebitdaratio\" : 0.42315466648079736,\n
        \ \"operatingIncome\" : 11571000000,\n  \"operatingIncomeRatio\" : 0.38171743221579424,\n
        \ \"totalOtherIncomeExpensesNet\" : 618000000,\n  \"incomeBeforeTax\" : 10953000000,\n
        \ \"incomeBeforeTaxRatio\" : 0.38171743221579424,\n  \"incomeTaxExpense\"
        : 2377000000,\n  \"netIncome\" : 8056000000,\n  \"netIncomeRatio\" : 0.28075555865337704,\n
        \ \"eps\" : 5.16,\n  \"epsdiluted\" : 5.16,\n  \"weightedAverageShsOut\" :
        1557000000,\n  \"weightedAverageShsOutDil\" : 1558000000,\n  \"link\" : \"https://www.sec.gov/Archives/edgar/data/1413329/000141332921000007/0001413329-21-000007-index.htm\",\n
        \ \"finalLink\" : \"https://www.sec.gov/Archives/edgar/data/1413329/000141332921000007/pm-20201231.htm\"\n},
        {\n  \"date\" : \"2019-12-31\",\n  \"symbol\" : \"PM\",\n  \"reportedCurrency\"
        : \"USD\",\n  \"cik\" : \"0001413329\",\n  \"fillingDate\" : \"2020-02-07\",\n
        \ \"acceptedDate\" : \"2020-02-07 06:47:13\",\n  \"calendarYear\" : \"2019\",\n
        \ \"period\" : \"FY\",\n  \"revenue\" : 29805000000,\n  \"costOfRevenue\"
        : 10513000000,\n  \"grossProfit\" : 19292000000,\n  \"g[...]
