interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/%5EDJI?period1=1420088400&period2=1422853200&interval=1mo&includePrePost=False&events=div%2Csplits
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"^DJI","exchangeName":"DJI","instrumentType":"INDEX","firstTradeDate":694362600,"regularMarketTime":1647359490,"gmtoffset":-14400,"timezone":"EDT","exchangeTimezoneName":"America/New_York","regularMarketPrice":33373.6,"chartPreviousClose":17823.07,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EDT","end":1647351000,"start":1647331200,"gmtoffset":-14400},"regular":{"timezone":"EDT","end":1647374400,"start":1647351000,"gmtoffset":-14400},"post":{"timezone":"EDT","end":1647388800,"start":1647374400,"gmtoffset":-14400}},"dataGranularity":"1mo","range":"","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1420088400,1422766800],"indicators":{"quote":[{"low":[17136.30078125,17037.759765625],"volume":[2173260000,1751250000],"high":[17951.779296875,18244.380859375],"open":[17823.0703125,17169.990234375],"close":[17164.94921875,18132.69921875]}],"adjclose":[{"adjclose":[17164.94921875,18132.69921875]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 7cu2875h31dg3
      y-rid:
      - 7cu2875h31dg3
    status:
      code: 200
      message: OK
version: 1
