interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/%5EDJI?period1=1420066800&period2=1422831600&interval=1mo&includePrePost=False&events=div%2Csplits
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"^DJI","exchangeName":"DJI","instrumentType":"INDEX","firstTradeDate":694362600,"regularMarketTime":1647465175,"gmtoffset":-14400,"timezone":"EDT","exchangeTimezoneName":"America/New_York","regularMarketPrice":34063.1,"chartPreviousClose":17823.07,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EDT","end":1647523800,"start":1647504000,"gmtoffset":-14400},"regular":{"timezone":"EDT","end":1647547200,"start":1647523800,"gmtoffset":-14400},"post":{"timezone":"EDT","end":1647561600,"start":1647547200,"gmtoffset":-14400}},"dataGranularity":"1mo","range":"","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1420088400,1422766800],"indicators":{"quote":[{"close":[17164.94921875,18132.69921875],"high":[17951.779296875,18244.380859375],"low":[17136.30078125,17037.759765625],"open":[17823.0703125,17169.990234375],"volume":[2173260000,1751250000]}],"adjclose":[{"adjclose":[17164.94921875,18132.69921875]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 9cupe89h35tsp
      y-rid:
      - 9cupe89h35tsp
    status:
      code: 200
      message: OK
version: 1
