interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/D?period1=1420066800&period2=1422831600&interval=1mo&includePrePost=False&events=div%2Csplits
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"D","exchangeName":"NYQ","instrumentType":"EQUITY","firstTradeDate":322151400,"regularMarketTime":1647274633,"gmtoffset":-14400,"timezone":"EDT","exchangeTimezoneName":"America/New_York","regularMarketPrice":81.41,"chartPreviousClose":76.9,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EDT","start":1647244800,"end":1647264600,"gmtoffset":-14400},"regular":{"timezone":"EDT","start":1647264600,"end":1647288000,"gmtoffset":-14400},"post":{"timezone":"EDT","start":1647288000,"end":1647302400,"gmtoffset":-14400}},"dataGranularity":"1mo","range":"","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1420088400,1422766800],"indicators":{"quote":[{"close":[76.88999938964844,72.08999633789062],"volume":[47551200,61077600],"open":[77.26000213623047,77.18000030517578],"high":[79.88999938964844,78.87999725341797],"low":[75.33000183105469,71.61000061035156]}],"adjclose":[{"adjclose":[57.45381546020508,53.867164611816406]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - ao8llllh2uqkb
      y-rid:
      - ao8llllh2uqkb
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/O?period1=1420066800&period2=1422831600&interval=1mo&includePrePost=False&events=div%2Csplits
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"O","exchangeName":"NYQ","instrumentType":"EQUITY","firstTradeDate":782487000,"regularMarketTime":1647274631,"gmtoffset":-14400,"timezone":"EDT","exchangeTimezoneName":"America/New_York","regularMarketPrice":65.078,"chartPreviousClose":46.231,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EDT","end":1647264600,"start":1647244800,"gmtoffset":-14400},"regular":{"timezone":"EDT","end":1647288000,"start":1647264600,"gmtoffset":-14400},"post":{"timezone":"EDT","end":1647302400,"start":1647288000,"gmtoffset":-14400}},"dataGranularity":"1mo","range":"","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1420088400,1422766800],"events":{"dividends":{"1420088400":{"amount":0.18314,"date":1422541800}}},"indicators":{"quote":[{"high":[53.81782913208008,52.58720779418945],"open":[46.49224853515625,52.519378662109375],"low":[46.46317672729492,47.73255920410156],"volume":[61830423,44426157],"close":[52.62596893310547,48.50775146484375]}],"adjclose":[{"adjclose":[38.57741165161133,35.68095397949219]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 2ar75dhh2uqkb
      y-rid:
      - 2ar75dhh2uqkb
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/W?period1=1420066800&period2=1422831600&interval=1mo&includePrePost=False&events=div%2Csplits
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"W","exchangeName":"NYQ","instrumentType":"EQUITY","firstTradeDate":1412256600,"regularMarketTime":1647274628,"gmtoffset":-14400,"timezone":"EDT","exchangeTimezoneName":"America/New_York","regularMarketPrice":108.7,"chartPreviousClose":19.85,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EDT","start":1647244800,"end":1647264600,"gmtoffset":-14400},"regular":{"timezone":"EDT","start":1647264600,"end":1647288000,"gmtoffset":-14400},"post":{"timezone":"EDT","start":1647288000,"end":1647302400,"gmtoffset":-14400}},"dataGranularity":"1mo","range":"","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1420088400,1422766800],"indicators":{"quote":[{"close":[19.559999465942383,23.350000381469727],"volume":[14099500,10557000],"open":[19.989999771118164,19.530000686645508],"low":[18.1200008392334,19.5],"high":[24.48699951171875,25.208999633789062]}],"adjclose":[{"adjclose":[19.559999465942383,23.350000381469727]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 3tfeln5h2uqkb
      y-rid:
      - 3tfeln5h2uqkb
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/J?period1=1420066800&period2=1422831600&interval=1mo&includePrePost=False&events=div%2Csplits
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"J","exchangeName":"NYQ","instrumentType":"EQUITY","firstTradeDate":322151400,"regularMarketTime":1647274634,"gmtoffset":-14400,"timezone":"EDT","exchangeTimezoneName":"America/New_York","regularMarke[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/N?period1=1420066800&period2=1422831600&interval=1mo&includePrePost=False&events=div%2Csplits
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":null,"symbol":"N","exchangeName":"YHD","instrumentType":"MUTUALFUND","firstTradeDate":null,"regularMarketTime":1561759658,"gmtoffset":-14400,"timezone":"EDT","exchangeTimezoneName":"America/New_York","priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EDT","start":1647244800,"end":1647264600,"gmtoffset":-14400},"regular":{"timezone":"EDT","start":1647264600,"end":1647288000,"gmtoffset":-14400},"post":{"timezone":"EDT","start":1647288000,"end":1647302400,"gmtoffset":-14400}},"dataGranularity":"1mo","range":"","validRanges":["1mo","3mo","6mo","ytd","1y","2y","5y","10y","max"]},"indicators":{"quote":[{}],"adjclose":[{}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 510uck1h2uqkc
      y-rid:
      - 510uck1h2uqkc
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/E?period1=1420066800&period2=1422831600&interval=1mo&includePrePost=False&events=div%2Csplits
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"E","exchangeName":"NYQ","instrumentType":"EQUITY","firstTradeDate":817569000,"regularMarketTime":1647274621,"gmtoffset":-14400,"timezone":"EDT","exchangeTimezoneName":"America/New_York","regularMarketPrice":28.48,"chartPreviousClose":34.91,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EDT","start":1647244800,"end":1647264600,"gmtoffset":-14400},"regular":{"timezone":"EDT","start":1647264600,"end":1647288000,"gmtoffset":-14400},"post":{"timezone":"EDT","start":1647288000,"end":1647302400,"gmtoffset":-14400}},"dataGranularity":"1mo","range":"","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1420088400,1422766800],"indicators":{"quote":[{"close":[33.900001525878906,37.27000045776367],"volume":[10345100,6823500],"open":[35.0,34.36000061035156],"high":[35.22999954223633,37.79999923706055],"low":[31.649999618530273,33.959999084472656]}],"adjclose":[{"adjclose":[23.095706939697266,25.391651153564453]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - c99ho0th2uqkc
      y-rid:
      - c99ho0th2uqkc
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/S?period1=1420066800&period2=1422831600&interval=1mo&includePrePost=False&events=div%2Csplits
  response:
    body:
      string: '{"chart":{"result":null,"error":{"code":"Bad Request","description":"Data
        doesn''t exist for startDate = 1420066800, endDate = 1422831600"}}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 85cnmglh2uqkc
      y-rid:
      - 85cnmglh2uqkc
    status:
      code: 400
      message: Bad Request
version: 1
