interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.highshortinterest.com/
  response:
    body:
      string: "<html>\n<head>\n<meta name=\"Description\" content=\"Comprehensive
        database of high short interest stocks listed on the Nasdaq Stock Market,
        New York Stock Exchange, and American Stock Exchange.\">\n<meta name=\"Keywords\"
        content=\"high short interest stocks,stocks,stock market,stock quotes,stock
        research,nasdaq,nyse,amex\">\n<title>High Short Interest Stocks</title>\n\n<style
        type=\"text/css\">\n<!--\n\nh1  {\n    text-align: center;\n    font-family:
        verdana, arial;\n    font-size: 24px;\n    color: #046204;\n}\n\nbody, p,
        a  {\n    text-align: justify;\n    font-family: verdana, arial;\n    font-size:
        12px;\n    color: #000000;\n}\n\ntable.stocks {\n    font-family     : verdana,
        arial;\n    color           : #000000;\n    padding-right   : 6px;\n    padding-left
        \   : 6px;[...]
