interactions:
- request:
    body: null
    headers:
      Authorization:
      - MOCK_AUTHORIZATION
    method: GET
    uri: https://api.github.com/search/repositories?page=1&q=stars:%3E1
  response:
    body:
      string: "{\n  \"total_count\": 5872746,\n  \"incomplete_results\": true,\n  \"items\":
        [\n    {\n      \"id\": 28457823,\n      \"node_id\": \"MDEwOlJlcG9zaXRvcnkyODQ1NzgyMw==\",\n
        \     \"name\": \"freeCodeCamp\",\n      \"full_name\": \"freeCodeCamp/freeCodeCamp\",\n
        \     \"private\": false,\n      \"owner\": {\n        \"login\": \"freeCodeCamp\",\n
        \       \"id\": 9892522,\n        \"node_id\": \"MDEyOk9yZ2FuaXphdGlvbjk4OTI1MjI=\",\n
        \       \"avatar_url\": \"https://avatars.githubusercontent.com/u/9892522?v=4\",\n
        \       \"gravatar_id\": \"\",\n        \"url\": \"https://api.github.com/users/freeCodeCamp\",\n
        \       \"html_url\": \"https://github.com/freeCodeCamp\",\n        \"followers_url\":
        \"https://api.github.com/users/freeCodeCamp/followers\",\n        \"following_url\":
        \"https://api.github.com/users/freeCodeCamp/following{/other_user}\",\n        \"gists_url\":
        \"https://api.github.com/users/freeCodeCamp/gists{/gist_id}\",\n        \"starred_url\":
        \"https://api.github.com/users/freeCodeCamp/starred{/owner}{/repo}\",\n        \"subscriptions_url\":
        \"https://api.github.com/users/freeCodeCamp/subscriptions\",\n        \"organizations_url\":
        \"https://api.github.com/users/freeCodeCamp/orgs\",\n        \"repos_url\":
        \"https://api.github.com/users/freeCodeCamp/repos\",\n        \"events_url\":
        \"https://api.github.com/users/freeCodeCamp/events{/privacy}\",\n        \"received_events_url\":
        \"https://api.github.com/users/freeCodeCamp/received_events\",\n        \"type\":
        \"Organization\",\n        \"site_admin\": false\n      },\n      \"html_url\":
        \"https://github.com/freeCodeCamp/freeCodeCamp\",\n      \"description\":
        \"freeCodeCamp.org's open-source codebase and curriculum. Learn to code for
        free.\",\n      \"fork\": false,\n      \"url\": \"https://api.github.com/repos/freeCodeCamp/freeCodeCamp\",\n
        \     \"forks_url\": \"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/forks\",\n
        \     \"keys_url\": \"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/keys{/key_id}\",\n
        \     \"collaborators_url\": \"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/collaborators{/collaborator}\",\n
        \     \"teams_url\": \"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/teams\",\n
        \     \"hooks_url\": \"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/hooks\",\n
        \     \"issue_events_url\": \"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/issues/events{/number}\",\n
        \     \"events_url\": \"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/events\",\n
        \     \"assignees_url\": \"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/assignees{/user}\",\n
        \     \"branches_url\": \"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/branches{/branch}\",\n
        \     \"tags_url\": \"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/tags\",\n
        \     \"blobs_url\": \"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/git/blobs{/sha}\",\n
        \     \"git_tags_url\": \"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/git/tags{/sha}\",\n
        \     \"git_refs_url\": \"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/git/refs{/sha}\",\n
        \     \"trees_url\": \"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/git/trees{/sha}\",\n
        \     \"statuses_url\": \"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/statuses/{sha}\",\n
        \     \"languages_url\": \"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/languages\",\n
        \     \"stargazers_url\": \"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/stargazers\",\n
        \     \"contributors_url\": \"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/contributors\",\n
        \     \"subscribers_url\": \"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/subscribers\",\n
        \     \"subscription_url\": \"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/subscription\",\n
        \     \"commits_url\": \"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/commits{/sha}\",\n
        \     \"git_commits_url\": \"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/git/commits{/sha}\",\n
        \     \"comments_url\": \"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/comments{/number}\",\n
        \     \"issue_comment_url\": \"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/issues/comments{/number}\",\n
        \     \"contents_url\": \"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/contents/{+path}\",\n
        \     \"compare_url\": \"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/compare/{base}...{head}\",\n
        \     \"merges_url\": \"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/merges\",\n
        \     \"archive_url\": \"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/{archive_format}{/ref}\",\n
        \     \"downloads_url\": \"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/downloads\",\n
        \     \"issues_url\": \"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/issues{/number}\",\n
        \     \"pulls_url\": \"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/pulls{/number}\",\n
        \     \"milestones_url\": \"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/milestones{/number}\",\n
        \     \"notifications_url\": \"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/notifications{?since,all,participating}\",\n
        \     \"labels_url\": \"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/labels{/name}\",\n
        \     \"releases_url\": \"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/releases{/id}\",\n
        \     \"deployments_url\": \"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/deployments\",\n
        \     \"created_at\": \"2014-12-24T17:49:19Z\",\n      \"updated_at\": \"2022-05-07T16:16:58Z\",\n
        \     \"pushed_at\": \"2022-05-07T15:57:24Z\",\n      \"git_url\": \"git://github.com/freeCodeCamp/freeCodeCamp.git\",\n
        \     \"ssh_url\": \"git@github.com:freeCodeCamp/freeCodeCamp.git\",\n      \"clone_url\":
        \"https://github.com/freeCodeCamp/freeCodeCamp.git\",\n      \"svn_url\":
        \"https://github.com/freeCodeCamp/freeCodeCamp\",\n      \"homepage\": \"https://contribute.freecodecamp.org\",\n
        \     \"size\": 314101,\n      \"stargazers_count\": 345707,\n      \"watchers_count\":
        345707,\n      \"language\": \"TypeScript\",\n      \"has_issues\": true,\n
        \     \"has_projects\": false,\n      \"has_downloads\": true,\n      \"has_wiki\":
        false,\n      \"has_pages\": true,\n      \"forks_count\": 28607,\n      \"mirror_url\":
        null,\n      \"archived\": false,\n      \"disabled\": false,\n      \"open_issues_count\":
        144,\n      \"license\": {\n        \"key\": \"bsd-3-clause\",\n        \"name\":
        \"BSD 3-Clause \\\"New\\\" or \\\"Revised\\\" License\",\n        \"spdx_id\":
        \"BSD-3-Clause\",\n        \"url\": \"https://api.github.com/licenses/bsd-3-clause\",\n
        \       \"node_id\": \"MDc6TGljZW5zZTU=\"\n      },\n      \"allow_forking\":
        true,\n      \"is_template\": false,\n      \"topics\": [\n        \"careers\",\n
        \       \"certification\",\n        \"community\",\n        \"curriculum\",\n
        \       \"d3\",\n        \"education\",\n        \"freecodecamp\",\n        \"hacktoberfest\",\n
        \       \"javascript\",\n        \"learn-to-code\",\n        \"math\",\n        \"nodejs\",\n
        \       \"nonprofits\",\n        \"programming\",\n        \"react\",\n        \"teachers\"\n
        \     ],\n      \"visibility\": \"public\",\n      \"forks\": 28607,\n      \"open_issues\":
        144,\n      \"watchers\": 345707,\n      \"default_branch\": \"main\",\n      \"permissions\":
        {\n        \"admin\": false,\n        \"maintain\": false,\n        \"push\":
        false,\n        \"triage\": false,\n        \"pull\": true\n      },\n      \"score\":
        1.0\n    },\n    {\n      \"id\": 177736533,\n      \"node_id\": \"MDEwOlJlcG9zaXRvcnkxNzc3MzY1MzM=\",\n
        \     \"name\": \"996.ICU\",\n      \"full_name\": \"996icu/996.ICU\",\n      \"private\":
        false,\n      \"owner\": {\n        \"login\": \"996icu\",\n        \"id\":
        48942249,\n        \"node_id\": \"MDQ6VXNlcjQ4OTQyMjQ5\",\n        \"avatar_url\":
        \"https://avatars.githubusercontent.com/u/48942249?v=4\",\n        \"gravatar_id\":
        \"\",\n     [...]
