interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.eclect.us/symbol/aapl?page=1
  response:
    body:
      string: "[{\"symbol\":\"AAPL\",\"industry\":\"Consumer Electronics\",\"country\":\"United
        States\",\"marketcap\":\"1 Trillion\",\"shortname\":\"Apple Inc.\",\"name\":\"0000320193-21-000105.txt\",\"date\":\"2021-10-28\",\"file_type\":\"10-K\",\"cik\":\"0000320193\",\"daa_highlights\":[{\"kmeans_i\":79,\"sentence_i\":19,\"sentence\":\"Services
        net sales also include amortization of the deferred value of services bundled
        in the sales price of certain products. iPhoneiPhone net sales increased during
        2021 compared to 2020 due primarily to higher net sales from the Company\u2019
        s new iPhone models launched in the first quarter and fourth quarter of 2021
        and a favorable mix of iPhone sales.\",\"good_or_bad\":\"good\"},{\"kmeans_i\":18,\"sentence_i\":33,\"sentence\":\"The
        movement of foreign currencies in Europe relative to the U. S. dollar had
        a net favorable impact on Europe net sales during 2021.\",\"good_or_bad\":\"good\"},{\"kmeans_i\":18,\"sentence_i\":35,\"sentence\":\"The
        strength of the Chinese renminbi relative to the U. S. dollar had a favorable
        impact on Greater China net sales during 2021.\",\"good_or_bad\":\"good\"},{\"kmeans_i\":18,\"sentence_i\":38,\"sentence\":\"The
        movement of foreign currencies in the Rest of Asia Pacific relative to the
        U. S. dollar had a favorable impact on Rest of Asia Pacific net sales during
        2021.\",\"good_or_bad\":\"good\"},{\"kmeans_i\":18,\"sentence_i\":76,\"sentence\":\"Uncertain
        Tax PositionsThe Company is subject to income taxes in the U. S. and numerous
        foreign jurisdictions.\",\"good_or_bad\":\"good\"},{\"kmeans_i\":50,\"sentence_i\":66,\"sentence\":\"Other
        Purchase ObligationsThe Company\u2019 s other purchase obligations primarily
        consist of noncancelable obligations to acquire capital assets, including
        product tooling and manufacturing process equipment, and noncancelable obligations
        related to advertising, content creation and Internet and telecommunications
        services.\",\"good_or_bad\":\"bad\"}],\"rf_highlights\":[{\"kmeans_i\":68,\"sentence_i\":75,\"sentence\":\"Apple
        Inc. | 2021 Form 10-K | 8 The Company depends on component and product manufacturing
        and logistical services provided by outsourcing partners, many of which are
        located outside of the U. S. Substantially all of the Company\u2019 s manufacturing
        is performed in whole or in part by outsourcing partners located primarily
        in Asia.\",\"good_or_bad\":\"good\"},{\"kmeans_i\":68,\"sentence_i\":246,\"sentence[...]
