interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/rss_feed?apikey=MOCK_API_KEY&page=0
  response:
    body:
      string: "[\n  {\n    \"title\": \"13F-HR - TAIYO LIFE INSURANCE CO (0001254890)
        (Filer)\",\n    \"date\": \"2023-02-07 17:35:52\",\n    \"link\": \"https://www.sec.gov/Archives/edgar/data/1254890/000125489023000003/0001254890-23-000003-index.htm\",\n
        \   \"cik\": \"0001254890\",\n    \"form_type\": \"13F-HR\",\n    \"ticker\":
        \"None\",\n    \"done\": true\n  },\n  {\n    \"title\": \"13F-HR - CANANDAIGUA
        NATIONAL CORP (0000759458) (Filer)\",\n    \"date\": \"2023-02-07 17:34:44\",\n
        \   \"link\": \"https://www.sec.gov/Archives/edgar/data/759458/000075945823000001/0000759458-23-000001-index.htm\",\n
        \   \"cik\": \"0000759458\",\n    \"form_type\": \"13F-HR\",\n    \"ticker\":
        \"None\",\n    \"done\": true\n  },\n  {\n    \"title\": \"6-K - Itau Unibanco
        Holding S.A. (0001132597) (Filer)\",\n    \"date\[...]
