interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/quote/GME?apikey=MOCK_API_KEY
  response:
    body:
      string: "[\n  {\n    \"symbol\": \"GME\",\n    \"name\": \"GameStop Corp.\",\n
        \   \"price\": 21.9773,\n    \"changesPercentage\": -3.6928,\n    \"change\":
        -0.8427,\n    \"dayLow\": 21.83,\n    \"dayHigh\": 23.48,\n    \"yearHigh\":
        49.8525,\n    \"yearLow\": 15.41,\n    \"marketCap\": 6693801728,\n    \"priceAvg50\":
        21.8556,\n    \"priceAvg200\": 28.4156,\n    \"exchange\": \"NYSE\",\n    \"volume\":
        2967455,\n    \"avgVolume\": 5207175,\n    \"open\": 22.5,\n    \"previousClose\":
        22.82,\n    \"eps\": -6.292,\n    \"pe\": -3.49,\n    \"earningsAnnouncement\":
        \"2023-03-15T10:59:00.000+0000\",\n    \"sharesOutstanding\": 304577984,\n
        \   \"timestamp\": 1675097921\n  }\n]"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"252-BMzXh++svQLFPapGFVvcTZF9lkE"
    status:
      code: 200
      message: OK
version: 1
