interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/GME?interval=1d&range=1d
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"GME","exchangeName":"NYQ","instrumentType":"EQUITY","firstTradeDate":1013610600,"regularMarketTime":1673633472,"gmtoffset":-18000,"timezone":"EST","exchangeTimezoneName":"America/New_York","regularMarketPrice":20.77,"chartPreviousClose":20.63,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EST","end":1673620200,"start":1673600400,"gmtoffset":-18000},"regular":{"timezone":"EST","end":1673643600,"start":1673620200,"gmtoffset":-18000},"post":{"timezone":"EST","end":1673658000,"start":1673643600,"gmtoffset":-18000}},"dataGranularity":"1d","range":"1d","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1673633472],"indicators":{"quote":[{"open":[19.8799991607666],"low":[19.799999237060547],"close":[20.770000457763672],"high":[21.110000610351562],"volume":[3248823]}],"adjclose":[{"adjclose":[20.770000457763672]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 3qntknths37m0
      y-rid:
      - 3qntknths37m0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/GME?events=div%2Csplits%2CcapitalGains&includePrePost=False&interval=1d&period1=MOCK_PERIOD_1&period2=MOCK_PERIOD_2
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"GME","exchangeName":"NYQ","instrumentType":"EQUITY","firstTradeDate":1013610600,"regularMarketTime":1673633472,"gmtoffset":-18000,"timezone":"EST","exchangeTimezoneName":"America/New_York","regularMarketPrice":20.77,"chartPreviousClose":49.053,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EST","end":1673620200,"start":1673600400,"gmtoffset":-18000},"regular":{"timezone":"EST","end":1673643600,"start":1673620200,"gmtoffset":-18000},"post":{"timezone":"EST","end":1673658000,"start":1673643600,"gmtoffset":-18000}},"dataGranularity":"1d","range":"","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1638369000],"indicators":{"quote":[{"low":[44.252498626708984],"close":[44.959999084472656],"high":[50.02750015258789],"volume":[9406000],"open":[49.849998474121094]}],"adjclose":[{"adjclose":[44.959999084472656]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - a2hhs9lhs37m1
      y-rid:
      - a2hhs9lhs37m1
    status:
      code: 200
      message: OK
version: 1
