interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/quote/GME?apikey=MOCK_API_KEY
  response:
    body:
      string: "[\n  {\n    \"symbol\": \"GME\",\n    \"name\": \"GameStop Corp.\",\n
        \   \"price\": 18.55,\n    \"changesPercentage\": -3.8362,\n    \"change\":
        -0.74,\n    \"dayLow\": 18.46,\n    \"dayHigh\": 19.25,\n    \"yearHigh\":
        47.99,\n    \"yearLow\": 15.41,\n    \"marketCap\": 5651721398,\n    \"priceAvg50\":
        20.2712,\n    \"priceAvg200\": 25.07525,\n    \"exchange\": \"NYSE\",\n    \"volume\":
        2337859,\n    \"avgVolume\": 4985721,\n    \"open\": 19.16,\n    \"previousClose\":
        19.29,\n    \"eps\": -1.05,\n    \"pe\": -17.67,\n    \"earningsAnnouncement\":
        \"2023-05-30T10:59:00.000+0000\",\n    \"sharesOutstanding\": 304675008,\n
        \   \"timestamp\": 1682971202\n  }\n]"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"24e-XRtJPSt+45Q/tN8/AO8qQev8aT8"
    status:
      code: 200
      message: OK
version: 1
