interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/quote/AAPL,MSFT,AMZN,TSLA,BTCUSD?apikey=MOCK_API_KEY
  response:
    body:
      string: "[\n  {\n    \"symbol\": \"AAPL\",\n    \"name\": \"Apple Inc.\",\n
        \   \"price\": 169.59,\n    \"changesPercentage\": -0.053,\n    \"change\":
        -0.09,\n    \"dayLow\": 168.64,\n    \"dayHigh\": 170.45,\n    \"yearHigh\":
        176.15,\n    \"yearLow\": 124.17,\n    \"marketCap\": 2683235983012,\n    \"priceAvg50\":
        157.903,\n    \"priceAvg200\": 150.89626,\n    \"exchange\": \"NASDAQ\",\n
        \   \"volume\": 47584395,\n    \"avgVolume\": 61989696,\n    \"open\": 169.28,\n
        \   \"previousClose\": 169.68,\n    \"eps\": 5.89,\n    \"pe\": 28.79,\n    \"earningsAnnouncement\":
        \"2023-05-04T20:00:00.000+0000\",\n    \"sharesOutstanding\": 15821899776,\n
        \   \"timestamp\": 1682971204\n  },\n  {\n    \"symbol\": \"MSFT\",\n    \"name\":
        \"Microsoft Corporation\",\n    \"price\": 305.56,\n    \"changesPercentage\":
        -0.5533,\n    \"change\": -1.7,\n    \"dayLow\": 305.15,\n    \"dayHigh\":
        308.6,\n    \"yearHigh\": 308.93,\n    \"yearLow\": 213.43,\n    \"marketCap\":
        2271988260844,\n    \"priceAvg50\": 272.9444,\n    \"priceAvg200\": 256.1089,\n
        \   \"exchange\": \"NASDAQ\",\n    \"volume\": 20749354,\n    \"avgVolume\":
    [...]
