interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/GME?events=div%2Csplits&includePrePost=False&interval=1d&period1=MOCK_PERIOD_1&period2=MOCK_PERIOD_2
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"GME","exchangeName":"NYQ","instrumentType":"EQUITY","firstTradeDate":1013610600,"regularMarketTime":1662148802,"gmtoffset":-14400,"timezone":"EDT","exchangeTimezoneName":"America/New_York","regularMarketPrice":27.36,"chartPreviousClose":49.053,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EDT","end":1662125400,"start":1662105600,"gmtoffset":-14400},"regular":{"timezone":"EDT","end":1662148800,"start":1662125400,"gmtoffset":-14400},"post":{"timezone":"EDT","end":1662163200,"start":1662148800,"gmtoffset":-14400}},"dataGranularity":"1d","range":"","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1638282600,1638369000],"indicators":{"quote":[{"close":[49.0525016784668,44.959999084472656],"open":[50.025001525878906,49.849998474121094],"low":[47.0,44.252498626708984],"high":[50.98749923706055,50.02750015258789],"volume":[6895600,9406000]}],"adjclose":[{"adjclose":[49.0525016784668,44.959999084472656]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 43ob0t9hh93co
      y-rid:
      - 43ob0t9hh93co
    status:
      code: 200
      message: OK
version: 1
