interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api-v2.intrinio.com/securities/GME/prices?api_key=MOCK_API_KEY3&end_date=2021-12-02T00%3A00%3A00&frequency=daily&page_size=10000&start_date=2021-12-01T00%3A00%3A00
  response:
    body:
      string: '{"stock_prices":[{"date":"2021-12-02","intraperiod":false,"frequency":"daily","open":185.0,"high":187.43,"low":173.07,"close":181.56,"volume":2087100.0,"adj_open":46.25,"adj_high":46.8575,"adj_low":43.2675,"adj_close":45.39,"adj_volume":2087100.0,"factor":1.0,"split_ratio":1.0,"dividend":0.0,"change":0.43,"percent_change":0.0096,"fifty_two_week_high":120.75,"fifty_two_week_low":3.04},{"date":"2021-12-01","intraperiod":false,"frequency":"daily","open":199.4,"high":200.105,"low":177.01,"close":179.84,"volume":2355535.0,"adj_open":49.85,"adj_high":50.02625,"adj_low":44.2525,"adj_close":44.96,"adj_volume":2355535.0,"factor":1.0,"split_ratio":1.0,"dividend":0.0,"change":-4.09,"percent_change":-0.0834,"fifty_two_week_high":120.75,"fifty_two_week_low":3.04}],"security":{"id":"sec_y3rbdz","company_id":"com_bzqZAy","stock_exchange_id":"sxg_ozMr9y","name":"Gamestop
        Corporation","code":"EQS","currency":"USD","ticker":"GME","composite_ticker":"GME:US","figi":"BBG000BB5DK6","composite_figi":"BBG000BB5BF6","share_class_figi":"BBG001S5RLR0","primary_listing":true},"next_page":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
