interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/quote/AAPL,MSFT,AMZN,TSLA,BTCUSD?apikey=MOCK_API_KEY
  response:
    body:
      string: "[\n  {\n    \"symbol\": \"AAPL\",\n    \"name\": \"Apple Inc.\",\n
        \   \"price\": 169.68,\n    \"changesPercentage\": 0.7541,\n    \"change\":
        1.27,\n    \"dayLow\": 167.8801,\n    \"dayHigh\": 169.85,\n    \"yearHigh\":
        176.15,\n    \"yearLow\": 124.17,\n    \"marketCap\": 2684659953992,\n    \"priceAvg50\":
        157.616,\n    \"priceAvg200\": 150.7753,\n    \"exchange\": \"NASDAQ\",\n
        \   \"volume\": 52699871,\n    \"avgVolume\": 62444390,\n    \"open\": 168.49,\n
        \   \"previousClose\": 168.41,\n    \"eps\": 5.9,\n    \"pe\": 28.76,\n    \"earningsAnnouncement\":
        \"2023-05-04T20:00:00.000+0000\",\n    \"sharesOutstanding\": 15821899776,\n
        \   \"timestamp\": 1682712004\n  },\n  {\n    \"symbol\": \"MSFT\",\n    \"name\":
        \"Microsoft Corporation\",\n    \"price\": 307.26,\n    \"changesPercentage\":
        0.7972,\n    \"change\": 2.43,\n    \"dayLow\": 303.31,\n    \"dayHigh\":
        308.93,\n    \"yearHigh\": 308.93,\n    \"yearLow\": 213.43,\n    \"marketCap\":
        2284628593490,\n    \"priceAvg50\": 272.1856,\n    \"priceAvg200\": 255.8362,\n
        \   \"exchange\": \"NASDAQ\",\n    \"volume\": 34589377,\n    \"avgVolume\":
    [...]
