interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/GME?events=div%2Csplits&includePrePost=False&interval=1d&period1=MOCK_PERIOD_1&period2=MOCK_PERIOD_2
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"GME","exchangeName":"NYQ","instrumentType":"EQUITY","firstTradeDate":1013610600,"regularMarketTime":1648843202,"gmtoffset":-14400,"timezone":"EDT","exchangeTimezoneName":"America/New_York","regularMarketPrice":165.0,"chartPreviousClose":196.21,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EDT","start":1648800000,"end":1648819800,"gmtoffset":-14400},"regular":{"timezone":"EDT","start":1648819800,"end":1648843200,"gmtoffset":-14400},"post":{"timezone":"EDT","start":1648843200,"end":1648857600,"gmtoffset":-14400}},"dataGranularity":"1d","range":"","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1638369000],"indicators":{"quote":[{"high":[200.11000061035156],"open":[199.39999389648438],"volume":[2351500],"low":[177.00999450683594],"close":[179.83999633789062]}],"adjclose":[{"adjclose":[179.83999633789062]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 4ola4glh4hep2
      y-rid:
      - 4ola4glh4hep2
    status:
      code: 200
      message: OK
version: 1
