interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/GME?interval=1d&range=1d
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"GME","exchangeName":"NYQ","instrumentType":"EQUITY","firstTradeDate":1013610600,"regularMarketTime":1679947202,"gmtoffset":-14400,"timezone":"EDT","exchangeTimezoneName":"America/New_York","regularMarketPrice":23.0,"chartPreviousClose":23.98,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EDT","end":1679923800,"start":1679904000,"gmtoffset":-14400},"regular":{"timezone":"EDT","end":1679947200,"start":1679923800,"gmtoffset":-14400},"post":{"timezone":"EDT","end":1679961600,"start":1679947200,"gmtoffset":-14400}},"dataGranularity":"1d","range":"1d","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1679947202],"indicators":{"quote":[{"volume":[4542129],"low":[22.700000762939453],"open":[23.989999771118164],"close":[23.0],"high":[24.059999465942383]}],"adjclose":[{"adjclose":[23.0]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 46eh975i23udo
      y-rid:
      - 46eh975i23udo
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/GME?events=div%2Csplits%2CcapitalGains&includePrePost=False&interval=1d&period1=MOCK_PERIOD_1&period2=MOCK_PERIOD_2
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"GME","exchangeName":"NYQ","instrumentType":"EQUITY","firstTradeDate":1013610600,"regularMarketTime":1679947202,"gmtoffset":-14400,"timezone":"EDT","exchangeTimezoneName":"Americ[...]
