interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/quote/F,GM,RIVN,VW,69420?apikey=MOCK_API_KEY
  response:
    body:
      string: "[\n  {\n    \"symbol\": \"F\",\n    \"name\": \"Ford Motor Company\",\n
        \   \"price\": 11.88,\n    \"changesPercentage\": 2.3256,\n    \"change\":
        0.27,\n    \"dayLow\": 11.57,\n    \"dayHigh\": 11.94,\n    \"yearHigh\":
        16.68,\n    \"yearLow\": 10.61,\n    \"marketCap\": 46514120970,\n    \"priceAvg50\":
        12.2092,\n    \"priceAvg200\": 13.1173,\n    \"exchange\": \"NYSE\",\n    \"volume\":
        54953863,\n    \"avgVolume\": 70012027,\n    \"open\": 11.59,\n    \"previousClose\":
        11.61,\n    \"eps\": -0.49,\n    \"pe\": -24.24,\n    \"earningsAnnouncement\":
        \"2023-05-02T20:05:00.000+0000\",\n    \"sharesOutstanding\": 3915330048,\n
        \   \"timestamp\": 1682712235\n  },\n  {\n    \"symbol\": \"GM\",\n    \"name\":
        \"General Motors Company\",\n    \"price\": 33.04,\n    \"changesPercentage\":
        0.978,\n    \"change\": 0.32,\n    \"dayLow\": 32.41,\n    \"dayHigh\": 33.3,\n
        \   \"yearHigh\": 43.63,\n    \"yearLow\": 30.33,\n    \"marketCap\": 45929562685,\n
        \   \"priceAvg50\": 36.4592,\n    \"priceAvg200\": 37.09435,\n    \"exchange\":
        \"NYSE\",\n    \"volume\": 15501880,\n    \"avgVolume\": 15501916,\n    \[...]
