interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/PM?events=div%2Csplits&includePrePost=False&interval=1d&period1=MOCK_PERIOD_1&period2=MOCK_PERIOD_2
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"PM","exchangeName":"NYQ","instrumentType":"EQUITY","firstTradeDate":1205760600,"regularMarketTime":1648843202,"gmtoffset":-14400,"timezone":"EDT","exchangeTimezoneName":"America/New_York","regularMarketPrice":96.78,"chartPreviousClose":75.75,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EDT","start":1648800000,"end":1648819800,"gmtoffset":-14400},"regular":{"timezone":"EDT","start":1648819800,"end":1648843200,"gmtoffset":-14400},"post":{"timezone":"EDT","start":1648843200,"end":1648857600,"gmtoffset":-14400}},"dataGranularity":"1d","range":"","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1606833000],"indicators":{"quote":[{"volume":[6791700],"close":[77.02999877929688],"low":[75.69000244140625],"high":[77.12999725341797],"open":[76.0199966430664]}],"adjclose":[{"adjclose":[71.178955078125]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - dmcg5sph4hep3
      y-rid:
      - dmcg5sph4hep3
    status:
      code: 200
      message: OK
version: 1
