interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/quote/F,GM,RIVN,VW,69420?apikey=MOCK_API_KEY
  response:
    body:
      string: "[\n  {\n    \"symbol\": \"F\",\n    \"name\": \"Ford Motor Company\",\n
        \   \"price\": 12.06,\n    \"changesPercentage\": 1.5152,\n    \"change\":
        0.18,\n    \"dayLow\": 11.99,\n    \"dayHigh\": 12.29,\n    \"yearHigh\":
        16.68,\n    \"yearLow\": 10.61,\n    \"marketCap\": 47218880379,\n    \"priceAvg50\":
        12.1882,\n    \"priceAvg200\": 13.11915,\n    \"exchange\": \"NYSE\",\n    \"volume\":
        55959087,\n    \"avgVolume\": 69625791,\n    \"open\": 12.005,\n    \"previousClose\":
        11.88,\n    \"eps\": -0.49,\n    \"pe\": -24.61,\n    \"earningsAnnouncement\":
        \"2023-05-02T20:05:00.000+0000\",\n    \"sharesOutstanding\": 3915330048,\n
        \   \"timestamp\": 1682971388\n  },\n  {\n    \"symbol\": \"GM\",\n    \"name\":
        \"General Motors Company\",\n    \"price\": 33.48,\n    \"changesPercentage\":
        1.3317,\n    \"change\": 0.44,\n    \"dayLow\": 33.435,\n    \"dayHigh\":
        34.2796,\n    \"yearHigh\": 43.63,\n    \"yearLow\": 30.33,\n    \"marketCap\":
        46541215457,\n    \"priceAvg50\": 36.261,\n    \"priceAvg200\": 37.10095,\n
        \   \"exchange\": \"NYSE\",\n    \"volume\": 16839357,\n    \"avgVolume\":
        14667[...]
