interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/GME?interval=1d&range=1d
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"GME","exchangeName":"NYQ","instrumentType":"EQUITY","firstTradeDate":1013610600,"regularMarketTime":1677163805,"gmtoffset":-18000,"timezone":"EST","exchangeTimezoneName":"America/New_York","regularMarketPrice":20.46,"chartPreviousClose":20.52,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EST","end":1677162600,"start":1677142800,"gmtoffset":-18000},"regular":{"timezone":"EST","end":1677186000,"start":1677162600,"gmtoffset":-18000},"post":{"timezone":"EST","end":1677200400,"start":1677186000,"gmtoffset":-18000}},"dataGranularity":"1d","range":"1d","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1677163805],"indicators":{"quote":[{"low":[20.43000030517578],"volume":[196397],"open":[20.65999984741211],"high":[20.860000610351562],"close":[20.459999084472656]}],"adjclose":[{"adjclose":[20.459999084472656]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 6u5g4vdhvev92
      y-rid:
      - 6u5g4vdhvev92
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/GME?events=div%2Csplits%2CcapitalGains&includePrePost=False&interval=1d&period1=MOCK_PERIOD_1&period2=MOCK_PERIOD_2
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"GME","exchangeName":"NYQ","instrumentType":"EQUITY","firstTradeDate":1013610600,"regularMarketTime":1677163805,"gmtoffset":-18000,"timezone":"EST","exchangeTimezoneName":"America/New_York","regularMarketPrice":20.46,"chartPreviousClose":49.053,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EST","end":1677162600,"start":1677142800,"gmtoffset":-18000},"regular":{"timezone":"EST","end":1677186000,"start":1677162600,"gmtoffset":-18000},"post":{"timezone":"EST","end":1677200400,"start":1677186000,"gmtoffset":-18000}},"dataGranularity":"1d","range":"","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1638369000],"indicators":{"quote":[{"open":[49.849998474121094],"close":[44.959999084472656],"low":[44.252498626708984],"high":[50.02750015258789],"volume":[9406000]}],"adjclose":[{"adjclose":[44.959999084472656]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 8dj7u55hvev92
      y-rid:
      - 8dj7u55hvev92
    status:
      code: 200
      message: OK
version: 1
