interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/quote/GME?apikey=MOCK_API_KEY
  response:
    body:
      string: "[\n  {\n    \"symbol\": \"GME\",\n    \"name\": \"GameStop Corp.\",\n
        \   \"price\": 21.87,\n    \"changesPercentage\": 2.9177,\n    \"change\":
        0.62,\n    \"dayLow\": 21.3,\n    \"dayHigh\": 22.05,\n    \"yearHigh\": 49.8525,\n
        \   \"yearLow\": 15.41,\n    \"marketCap\": 6661120510,\n    \"priceAvg50\":
        21.7288,\n    \"priceAvg200\": 28.340763,\n    \"exchange\": \"NYSE\",\n    \"volume\":
        3088223,\n    \"avgVolume\": 4894362,\n    \"open\": 21.41,\n    \"previousClose\":
        21.25,\n    \"eps\": -6.292,\n    \"pe\": -3.48,\n    \"earningsAnnouncement\":
        \"2023-03-15T10:59:00.000+0000\",\n    \"sharesOutstanding\": 304577984,\n
        \   \"timestamp\": 1675198814\n  }\n]"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"24e-uSlHdwAYr3QAyWBVX2/udlyjuuA"
    status:
      code: 200
      message: OK
version: 1
