/* local Fira Code font */
@font-face {
  font-family: "Fira Code";
  src: url("fonts/FiraCode-VF.ttf") format("truetype");
  /* fix Fire Code font width issue that makes Text get cut off in Plotly.js */
  font-weight: 400 700;
  font-stretch: 50%;
}

html {
  font-size: 62.5%;
  font-family: "Fira Code", monospace, "Arial Black";
}

body {
  font-family: "Fira Code", monospace, "Arial Black";
  font-size: 12px;
  font-size: 1.2rem;
  color: #ffffff;
  background-color: #000000;
  font-stretch: 50%;
  overflow: hidden;
}

.saving {
  position: absolute;
  z-index: 9999999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 200px;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border: 4px solid rgba(250, 250, 250, 0.5);
  font-size: 1.5em;
  border-radius: 20px;
  animation: popup 0.3s ease-in-out;
}

.saving.show {
  display: flex;
}

.openbb_container {
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
}

.openbb_header {
  position: relative;
  z-index: 99999999999;
  text-align: center;
  top: 0;
  background-color: transparent;
  box-sizing: border-box;
}

.plotly-graph-div {
  width: 100%;
  height: 89.6%;
  position: relative;
  font-size: 12px;
  font-size: 1.2rem;
  font-family: "Fira Code", monospace, "Arial Black";
  visibility: visible;
}

#changecolor {
  position: absolute;
  z-index: 9;
  text-align: center;
  top: 0;
  right: 50;
  width: 100px;
  height: 60px;
  background-color: transparent;
  padding: 10px;
  box-sizing: border-box;
  display: none;
}

#changecolor_header:hover {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  border: 1px solid gold;
  box-shadow: 0 0 5px gold;
}

#changecolor_header {
  padding: 10px;
  cursor: move;
  z-index: 10;
  color: #fff;
}

#changecolor_header input[type="color"] {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px !important;
  cursor: pointer;
  border: 1px solid #7d7d7d;
  padding: 5px;
  background-color: #131313;
  color: #ffffff;
  margin-right: 50px !important;
}

@keyframes popup {
  0% {
    -webkit-transition: all 0.3s ease-in-out;
    transform: translate(-50%, -50%) scale(0.2);
  }

  40% {
    transform: translate(-50%, -50%) scale(1.1);
  }

  80% {
    transform: translate(-50%, -50%) scale(1.05);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.popup_overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 420px;
  background: #070707;
  border: 1px solid #dcdcdc;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  padding: 40px;
  box-sizing: border-box;
  display: none;
  font-family: "Fira Code", monospace, "Arial Black";
  animation: popup 0.3s ease-in-out;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  z-index: 2;
}

.popup_content {
  position: relative;
  background-color: transparent;
  padding: 0px;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.popup_warning {
  color: #ff0000;
  font-size: 12px;
  font-size: 1.2rem;
  font-family: "Fira Code", monospace, "Arial Black";
  display: none;
  font-weight: bold;
  margin-top: -15px;
  margin-left: 135px;
}

.csv_column_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.plotly-graph-div .modebar--hover .modebar-group {
  border: 2px solid #5a5a5a !important;
  border-radius: 4px;
  padding: 2px 2px 2px !important;
}

.modebar-group {
  display: flex !important;
  background-color: transparent !important;
}

.modebar {
  z-index: 5000 !important;
  position: fixed !important;
  bottom: 10px !important;
  top: auto !important;
  left: 50% !important;
  right: auto !important;
  align-items: center;
  transform: translate(-50%, 10%) !important;
}

@media screen and (max-width: 600px) {
  .modebar-group {
    display: block !important;
    background-color: transparent !important;
  }

  .modebar {
    bottom: 20px !important;
  }
}

.modebar-group {
  margin-left: 10px;
  margin-right: 10px;
  background: #0f0f0f !important;
  border: 1px solid #404040;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}

.modebar-group:nth-of-type(1):after {
  content: "Chart Tools";
  height: fit-content;
  width: fit-content;
  position: absolute;
  display: none;
}

.modebar-group:nth-of-type(1):hover:after {
  padding: 10px;
  display: block;
  font-size: 10px;
  color: white;
  cursor: pointer;
  background: #0f0f0f !important;
  border: 1px solid #404040;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.modebar-group:nth-of-type(2):after {
  content: "Panning Tools";
  height: fit-content;
  width: fit-content;
  position: absolute;
  display: none;
}

.modebar-group:nth-of-type(2):hover:after {
  padding: 10px;
  display: block;
  font-size: 10px;
  color: white;
  cursor: pointer;
  background: #0f0f0f !important;
  border: 1px solid #404040;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.modebar-group:nth-of-type(3):after {
  content: "Drawing Tools";
  height: fit-content;
  width: fit-content;
  position: absolute;
  display: none;
}

.modebar-group:nth-of-type(3):hover:after {
  padding: 10px;
  display: block;
  font-size: 10px;
  color: white;
  cursor: pointer;
  background: #0f0f0f !important;
  border: 1px solid #404040;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.modebar-group:nth-of-type(4):after {
  content: "Export Tools";
  height: fit-content;
  width: fit-content;
  position: absolute;
  display: none;
}

.modebar-group:nth-of-type(4):hover:after {
  padding: 10px;
  display: block;
  font-size: 10px;
  color: white;
  cursor: pointer;
  background: #0f0f0f !important;
  border: 1px solid #404040;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.modebar.vertical {
  flex-direction: row !important;
  flex-flow: initial !important;
  gap: 6px !important;
}

.js-plotly-plot .plotly .modebar.vertical .modebar-group {
  padding-bottom: 0px !important;
}

.modebar-container {
  position: initial !important;
}

.modebar-btn:hover .icon path {
  fill: #00acff !important;
}

.modebar-btn.active .icon path {
  fill: #00acff !important;
}

.menulayer {
  background: #0f0f0f;
  padding-right: 10px !important;
  padding-left: 10px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  border: 1px solid #404040;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}

.modebar-btn {
  padding: 4px !important;
  margin-left: 4px !important;
  margin-right: 4px !important;
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}

.rangeselector {
  background: #0f0f0f;
  padding: 10px !important;
  border: 1px solid #404040;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  height: 33px !important;
}

.modebar-btn:hover {
  background-color: #1f1f1f !important;
  border-radius: 8px;
}

.updatemenu-item-rect {
  fill-opacity: 0.5 !important;
}

.updatemenu-item-rect:hover {
  background-color: #1f1f1f !important;
}

.selector-text {
  text-transform: uppercase;
}

button {
  all: unset;
  cursor: pointer;
}

._btn {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 4px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-align: center;
  -webkit-text-decoration-line: none !important;
  text-decoration-line: none !important;
  transition-property: color, background-color, border-color, fill, stroke,
    opacity, box-shadow, transform, filter, -webkit-text-decoration-color,
    -webkit-backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

@media (min-width: 768px) {
  ._btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

._btn {
  background-color: #eaeaeaff;
  color: #2a2a2aff;
}

._btn:hover {
  background-color: #ffffffff;
}

._btn:focus {
  outline-style: solid;
  outline-width: 2px;
  outline-color: #808080ff;
}

._btn:active {
  background-color: #dcdcdcff;
}

._btn:active:hover {
  color: #070707ff;
}

._btn:disabled {
  background-color: #c8c8c8ff;
  color: #808080ff;
}

._btn:disabled:active {
  background-color: #c8c8c8ff;
  color: #808080ff;
}

._btn-secondary {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 4px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-align: center;
  -webkit-text-decoration-line: none !important;
  text-decoration-line: none !important;
  transition-property: color, background-color, border-color, fill, stroke,
    opacity, box-shadow, transform, filter, -webkit-text-decoration-color,
    -webkit-backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

@media (min-width: 768px) {
  ._btn-secondary {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

._btn-secondary {
  border-width: 1px;
  border-color: #c8c8c8ff;
  color: #c8c8c8ff;
  outline-offset: 0px;
}

._btn-secondary:hover {
  border-color: #ffffffff;
  color: #ffffffff;
}

._btn-secondary:focus {
  outline-style: solid;
  outline-width: 2px;
  outline-color: #808080ff;
}

._btn-secondary:active {
  border-color: #ffffffff;
  background-color: #2a2a2aff;
  color: #ffffffff;
}

._btn-secondary:disabled {
  border-color: #808080ff;
  background-color: transparent;
  color: #808080ff;
}

._btn-tertiary {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 4px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-align: center;
  -webkit-text-decoration-line: none !important;
  text-decoration-line: none !important;
  transition-property: color, background-color, border-color, fill, stroke,
    opacity, box-shadow, transform, filter, -webkit-text-decoration-color,
    -webkit-backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

@media (min-width: 768px) {
  ._btn-tertiary {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

._btn-tertiary {
  background-color: #070707ff;
  color: #f6f6f6ff;
}

._btn-tertiary:hover {
  background-color: #2a2a2aff;
  color: #ffffffff;
}

._btn-tertiary:focus {
  background-color: #070707ff;
  outline-style: solid;
  outline-width: 2px;
  outline-color: #808080ff;
}

._btn-tertiary:active {
  background-color: #474747ff;
  color: #ffffffff;
}

._btn-tertiary:disabled {
  background-color: #808080ff;
  color: #474747ff;
}

.loader {
  position: relative;
  bottom: 0px;
  right: -5px;
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #00acff;
  width: 20px;
  height: 20px;
  animation: spin 1.5s linear infinite;
  opacity: 1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 150px;
  border-bottom: 1px solid #404040;
  background: #0f0f0f;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: row;
}

ul li {
  position: relative;
}

li ul {
  position: relative;
  left: 0px;
  top: 0;
  display: none;
}

ul li a {
  display: block;
  text-decoration: none;
  color: #777;
  background: #0f0f0f;
  padding: 5px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.06);
  border: 1px solid #404040;
  border-bottom: 0;
}

/* Fix IE. Hide from IE Mac */
* html ul li {
  float: none;
}

* html ul li a {
  height: 1%;
}

/* End */

li:hover ul {
  display: block;
}

li:hover {
  max-height: 1%;
}

#openbb_menu {
  position: relative;
  top: 0;
  left: 0;
  height: 3%;
  z-index: 1 !important;
}

/* ! tailwindcss v3.2.7 | MIT License | https://tailwindcss.com */

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: "";
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
*/

html {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
  This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

*,
::before,
::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.-inset-1 {
  top: -0.25rem;
  right: -0.25rem;
  bottom: -0.25rem;
  left: -0.25rem;
}

.z-20 {
  z-index: 20;
}

.flex {
  display: flex;
}

.w-1\/3 {
  width: 33.333333%;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-4 {
  gap: 1rem;
}

.overflow-hidden {
  overflow: hidden;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.border {
  border-width: 1px;
}

.border-grey-200\/60 {
  border-color: rgb(220 220 220 / 0.6);
}

.bg-grey-900 {
  background-color: #070707ff;
}

.bg-gradient-to-br {
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
}

.from-\[\#072e49\]\/20 {
  --tw-gradient-from: rgb(7 46 73 / 0.2);
  --tw-gradient-to: rgb(7 46 73 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.via-\[\#0d345f\]\/20 {
  --tw-gradient-to: rgb(13 52 95 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), rgb(13 52 95 / 0.2),
    var(--tw-gradient-to);
}

.to-\[\#0d3362\]\/20 {
  --tw-gradient-to: rgb(13 51 98 / 0.2);
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-bold {
  font-weight: 700;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.blur-md {
  --tw-blur: blur(12px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

._header {
  background: #062d48;
  background: linear-gradient(90deg,
      #062d48,
      #0b3054 15%,
      #0e386c 45%,
      #0b203d 64%,
      #06101a 82%,
      #060709);
}


@media screen and (max-height: 1000px) and (max-width: 1100px) {
  ._header strong {
    font-size: 1.1rem !important;
  }
  ._header p {
    font-size: 1.0rem !important;
  }
}
