interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.fdscanner.com/api2/unusualvolume?p=0&page=0&page_size=20
  response:
    body:
      string: '{"current_page":0,"data":[{"a":0.55,"b":0.45,"expiry":"2022-04-01","iv":35.08,"oi":195.0,"op":0.51,"po":0.37,"s":3280.0,"t":"C","tk":"AMZN","v":9636.0,"vol/oi":49.4},{"a":0.08,"b":0.05,"expiry":"2022-04-01","iv":38.87,"oi":872.0,"op":0.06,"po":0.29,"s":267.5,"t":"C","tk":"NVDA","v":42976.0,"vol/oi":49.3},{"a":0.01,"b":0.0,"expiry":"2022-04-01","iv":91.88,"oi":280.0,"op":0.02,"po":1.32,"s":53.0,"t":"C","tk":"C","v":11742.0,"vol/oi":41.9},{"a":0.35,"b":0.25,"expiry":"2022-04-14","iv":51.12,"oi":103.0,"op":0.25,"po":9.47,"s":33.0,"t":"P","tk":"BKR","v":3506.0,"vol/oi":34.0},{"a":0.2,"b":0.15,"expiry":"2022-04-14","iv":37.06,"oi"[...]
[...]
