interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.fdscanner.com/api2/unusualvolume?p=0&page=0&page_size=20
  response:
    body:
      string: '{"current_page":0,"data":[{"a":0.08,"b":0.06,"expiry":"2022-04-08","iv":59.79,"oi":104.0,"op":0.06,"po":0.61,"s":232.5,"t":"C","tk":"NVDA","v":17461.0,"vol/oi":167.9},{"a":1.14,"b":1.06,"expiry":"2022-05-06","iv":58.08,"oi":122.0,"op":1.13,"po":0.98,"s":18.5,"t":"C","tk":"CCL","v":15177.0,"vol/oi":124.4},{"a":0.01,"b":0.0,"expiry":"2022-04-08","iv":82.52,"oi":407.0,"op":0.01,"po":1.69,"s":235.0,"t":"C","tk":"NVDA","v":49289.0,"vol/oi":121.1},{"a":0.11,"b":0.1,"expiry":"2022-04-22","iv":27.4,"oi":171.0,"op":0.11,"po":5.02,"s":20.5,"t":"C","tk":"KMI","v":20253.0,"vol/oi":118.4},{"a":0.01,"b":0.0,"expiry":"2022-04-08","iv":127.[...]
[...]
