interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/ARKW?interval=1d&range=1d
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"ARKW","exchangeName":"PCX","instrumentType":"ETF","firstTradeDate":1412083800,"regularMarketTime":1677164095,"gmtoffset":-18000,"timezone":"EST","exchangeTimezoneName":"America/New_York","regularMarketPrice":50.73,"chartPreviousClose":51.05,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EST","end":1677162600,"start":1677142800,"gmtoffset":-18000},"regular":{"timezone":"EST","end":1677186000,"start":1677162600,"gmtoffset":-18000},"post":{"timezone":"EST","end":1677200400,"start":1677186000,"gmtoffset":-18000}},"dataGranularity":"1d","range":"1d","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1677164095],"indicators":{"quote":[{"low":[50.480098724365234],"volume":[114113],"open":[51.90999984741211],"high":[51.856998443603516],"close":[50.72999954223633]}],"adjclose":[{"adjclose":[50.72999954223633]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 0jaehfthvevl9
      y-rid:
      - 0jaehfthvevl9
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/ARKW?events=div%2Csplits%2CcapitalGains&includePrePost=False&interval=1d&period1=MOCK_PERIOD_1&period2=MOCK_PERIOD_2
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"ARKW","exchangeName":"PCX","instrumentType":"ETF","firstTradeDate":1412083800,"regularMarketTime":1677164095,"gmtoffset":-18000,"timezone":"EST","exchangeTimezoneName":"America[...]
