interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.llama.fi/protocols
  response:
    body:
      string: "[{\"id\":\"3\",\"name\":\"Curve\",\"address\":\"0xD533a949740bb3306d119CC777fa900bA034cd52\",\"symbol\":\"CRV\",\"url\":\"https://curve.fi\",\"description\":\"Curve
        is a decentralized exchange liquidity pool on Ethereum designed for extremely
        efficient stablecoin trading\",\"chain\":\"Multi-Chain\",\"logo\":\"https://icons.llama.fi/curve.png\",\"audits\":\"2\",\"audit_note\":null,\"gecko_id\":\"curve-dao-token\",\"cmcId\":\"6538\",\"category\":\"Dexes\",\"chains\":[\"Ethereum\",\"Avalanche\",\"Fantom\",\"Arbitrum\",\"Polygon\",\"xDai\",\"Harmony\"],\"module\":\"curve/index.js\",\"twitter\":\"CurveFinance\",\"audit_links\":[\"https://curve.fi/audits\"],\"oracles\":[\"Chainlink\"],\"slug\":\"curve\",\"tvl\":22830656143.024944,\"chainTvls\":{\"Avalanche\":1153204949.3513274,\"Harmony\":23501114.311561443,\"Ethereum\":20260852131.110085,\"xDai\":69261606.56533273,\"Ethereum-staking\":1740392125.4285593,\"Polygon\":350426072.4789096,\"Arbitrum\":443988290.32244927,\"Fantom\":529421978.88527954,\"staking\":1740392125.4285593},\"change_1h\":-0.5168092980628671,\"change_1d\":null,\"change_7d\":-5.316379138986576,\"staking\":1740392125.4285593,\"fdv\":14445366925,\"mcap\":1714176999},{\"id\":\"319\",\"name\":\"Convex
        Finance\",\"address\":\"0x4e3fbd56cd56c3e72c1403e103b45db9da5b9d2b\",\"symbol\":\"CVX\",\"url\":\"https://www.convexfinance.com/\",\"description\":\"Convex
        simplifies your Curve-boosting experience to maximize your yields.\",\"chain\":\"Ethereum\",\"logo\":\"https://icons.llama.fi/convex-finance.jpg\",\"audits\":\"2\",\"audit_note\":null,\"gecko_id\":\"convex-finance\",\"cmcId\":\"9903\",\"category\":\"Yield\",\"chains\":[\"Ethereum\"[...]
