interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.llama.fi/protocol/sushiswap
  response:
    body:
      string: "{\"id\":\"119\",\"name\":\"SushiSwap\",\"address\":\"0x6b3595068778dd592e39a122f4f5a5cf09c90fe2\",\"symbol\":\"SUSHI\",\"url\":\"https://sushi.com/\",\"description\":\"A
        fully decentralized protocol for automated liquidity provision on Ethereum.\\r\\n\",\"chain\":\"Ethereum\",\"logo\":\"https://icons.llama.fi/sushiswap.jpg\",\"audits\":\"3\",\"audit_note\":null,\"gecko_id\":\"sushi\",\"cmcId\":\"6758\",\"category\":\"Dexes\",\"chains\":[\"OKExChain\",\"Moonriver\",\"Avalanche\",\"Harmony\",\"Binance\",\"Palm\",\"Ethereum\",\"xDai\",\"Heco\",\"Polygon\",\"Celo\",\"Arbitrum\",\"Fantom\"],\"module\":\"sushiswap/index.js\",\"twitter\":\"SushiSwap\",\"audit_links\":[\"https://github.com/peckshield/publications/blob/master/audit_reports/PeckShield-Audit-Report-SushiSwap-v1.0.pdf\"],\"forkedFrom\":[\"UniSwap\"],\"oracles\":[\"Chainlink\"],\"misrepresentedTokens\":true,\"chainTvls\":{\"OKExChain\":{\"tvl\":[{\"date\":1632182400,\"totalLiquidityUSD\":490664.8767881343},{\"date\":1632268800,\"totalLiquidityUSD\":521024.3328755169},{\"date\":1632355200,\"totalLiquidityUSD\":492073.0311093551},{\"date\":1632441600,\"totalLiquidityUSD\":397319.705788203},{\"date\":1632528000,\"totalLiquidityUSD\":331512.7891628902},{\"date\":1632614400,\"totalLiquidityUSD\":302387.75788140774},{\"date\":1632700800,\"totalLiquidityUSD\":352558.4300358191},{\"date\":1632787200,\"totalLiquidityUSD\":358654.5947136385},{\"date\":1632873600,\"totalLiquidityUSD\":3390[...]
