interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.llama.fi/protocol/anchor
  response:
    body:
      string: '{"id":"294","name":"Anchor","address":"-","symbol":"ANC","url":"https://anchorprotocol.com/","description":"Money
        market on Terra","chain":"Terra","logo":"https://icons.llama.fi/anchor.jpg","audits":"2","audit_note":null,"gecko_id":"anchor-protocol","cmcId":"8857","category":"Lending","chains":["Terra"],"module":"anchor/index.js","twitter":"anchor_protocol","audit_links":["https://docs.anchorprotocol.com/security#audits"],"methodology":"We
        use the Anchor subgraph to get the amount of bLUNA and bETH used as collateral
        on anchor and the UST that is on anchor but has not been lent, we then use
        Coingecko to price the tokens in USD.","chainTvls":{"Terra-borrowed":{"tvl":[{"date":1638835200,"totalLiquidityUSD":1583214457.7534828},{"date":1638921600,"totalLiquidityUSD":1649254016.407136},{"date":1639008000,"totalLiquidityUSD":1707797309.0098743},{"date":1639094400,"totalLiquidityUSD":1575669295.0572138},{"date":1639180800,"totalLiquidityUSD":1559862362.1800287},{"date":1639267200,"totalLiquidityUSD":1519608817.7724059},{"date":1639353600,"totalLiquidityUSD":1529030762.240064},{"date":1639440000,"totalLiquidityUSD":1386266353.3398173},{"date":1639526400,"totalLiquidityUSD":1420801588.553418},{"date":163[...]
