interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.eclect.us/symbol/pm?page=1
  response:
    body:
      string: "[{\"symbol\":\"PM\",\"industry\":\"Tobacco\",\"country\":\"United States\",\"marketcap\":\"114
        Billion\",\"shortname\":\"Philip Morris International Inc\",\"name\":\"0001413329-21-000091.txt\",\"date\":\"2021-10-27\",\"file_type\":\"10-Q\",\"cik\":\"0001413329\",\"daa_highlights\":[{\"kmeans_i\":74,\"sentence_i\":228,\"sentence\":\"The
        TPD sets forth a comprehensive set of regulatory requirements for tobacco
        products, including: \u2022 health warnings covering 65% of the front and
        back panels of cigarette packs, with an option for member states to further
        standardize tobacco packaging, including the introduction of plain packaging;
        \u2022 a ban on characterizing flavors in some tobacco products, with a transition
        period for menthol that expired in May 2020; \u2022 security features and
        tracking and tracing measures that became effective in May 2019; and \u2022
        a framework for the regulation of novel tobacco products and e-cigarettes,
        including requirements for health warnings and information leaflets, a prohibition
        on product packaging text related to reduced risk, and the introduction of
        notification requirements or authorization procedures in advance of commercialization.\",\"good_or_bad\":\"bad\"},{\"kmeans_i\":74,\"sentence_i\":270,\"sentence\":\"68
        Table of ContentsIllicit Trade: Illicit tobacco trade creates a cheap and
        unregulated supply of tobacco products, undermines efforts to reduce smoking
        prevalence, especially among youth, damages legitimate businesses and intellectual
        property rights, stimulates organized crime, increases corruption and reduces
        government tax revenue.\",\"good_or_bad\":\"bad\"},{\"kmeans_i\":74,\"sentence_i\":37[...]
