interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sentimentinvestor.com/v1/historical?end=2020-12-7&limit=100&start=2020-12-1&symbol=AAPL&token=MOCK_TOKEN
  response:
    body:
      string: '{"success":true,"start":"2020-12-01T00:00:00.000Z","end":"2020-12-07T00:00:00.000Z","limit":"100","symbol":"AAPL","results":[],"total":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"89-ae4LkH5VoQJkOubQIH9O3cOMy+U"
    status:
      code: 200
      message: OK
version: 1
