interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://webapi.thecse.com/trading/other/securities/BAD_SYMBOL.json
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <Error><Code>AccessDenied</Code><Message>Access Denied</Message><RequestId>3999PTFTEADSA08Y</RequestId><HostId>PT4CzLdsinkreo2LdI3HCZOTCKSqFpL/E3LYE65Zs20H4TRd5m74d/K6+fbssxttqANDc4dtjmw=</HostId></Error>'
    headers:
      Content-Type:
      - application/xml
    status:
      code: 403
      message: Forbidden
version: 1
