interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://webapi.thecse.com/trading/other/securities/BAD_SYMBOL.json
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <Error><Code>AccessDenied</Code><Message>Access Denied</Message><RequestId>4KSTMZNES4N3M5XV</RequestId><HostId>XDm7l4yF+muC3yi7ySuxa2JWNvYYqGy/ZrvdHDX1/zu7KB2RFNPXTJn+Sd9MgD9AchGpDS1vif8=</HostId></Error>'
    headers:
      Content-Type:
      - application/xml
    status:
      code: 403
      message: Forbidden
version: 1
