interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.m-x.ca/en/trading/data/quotes?symbol=VFV%2A
  response:
    body:
      string: "<!DOCTYPE html>\n<html class=\"no-js\" xmlns=\"http://www.w3.org/1999/xhtml\"
        lang=\"en\" xmlns:og=\"http://opengraphprotocol.org/schema/\" xmlns:fb=\"http://www.facebook.com/2008/fbml\">\n<head>\n<meta
        charset=\"utf-8\" />\n<title>TMX - Montr\xE9al Exchange - Quotes</title><meta
        name=\"viewport\" content=\"user-scalable=yes, initial-scale=1, minimum-scale=1,
        maximum-scale=3, width=device-width\" />\n<meta property=\"og:image\" content=\"https://www.tmx.com/assets/application/img/tmx_logo_highres.jpg\">\n<meta
        property=\"twitter:image\" content=\"https://www.tmx.com/assets/application/img/tmx_logo_highres.jpg\">\n<meta
        name=\"revisit-after\" content=\"1 day\" />\n<meta name=\"geo.placename\"
        content=\"Canada\" />\n<meta name=\"geo.region\" content=\"Montr\xE9al\" />\n<meta
        name=\"apple-mobile-web-app-capable\" content=\"yes\" />\n<meta name=\"apple-mobile-web-app-status-bar-style\"
        content=\"black\" />\n<link rel=\"apple-touch-icon\" href=\"/assets/application/img/touch-icon-iphone.png\"
        />\n<link rel=\"apple-touch-icon\" sizes=\"72x72\" href=\"/assets/application/img/touch-icon-ipad.png\"
        />\n<link rel=\"apple-touch-icon\" sizes=\"114x114\" href=\"/assets/application/img/touch-icon-iphone4.png\"
        />\n<link rel=\"apple-touch-icon-precomposed\" href=\"/assets/application/img/touch-icon-android.png\"
        />\n<link rel=\"icon\" href=\"/favicon.ico\" type=\"image/x-icon\" />\n<link
        rel=\"shortcut icon\" href=\"/favicon.ico\" type=\"image/x-icon\" />\n<link
        rel=\"profile\" href=\"http://microformats.org/profile/hcalendar\" />\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':\nnew
        Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],\nj=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=\n'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);\n})(window,document,'script','dataLayer','GTM-KDW587P');</script>\n<link
        rel=\"stylesheet\" type=\"text/css\" href=\"/assets/application/css/style.1683840900.min.css\"
        media=\"all\" />\n<link href=\"/assets/application/css/datatables.1643139492.min.css\"
        media=\"screen\" rel=\"stylesheet\" type=\"text/css\">\n<link href=\"/assets/application/css/quotes.1683840900.min.css\"
        media=\"screen\" rel=\"stylesheet\" type=\"text/css\"></head>\n<body class=\"en
        trading data quotes\" id=\"page-id-61\">\n<noscript><iframe src=\"https://www.googletagmanager.com/ns.html?id=GTM-KDW587P\"
        height=\"0\" width=\"0\" style=\"display:none;visibility:hidden\" title=\"google
        manager\"></iframe></noscript>\n<div id=\"container-overall\" class=\"container-overall\">\n<div
        class=\"mp-pusher\" id=\"mp-pusher\">\n<nav id=\"mp-menu\" class=\"mp-menu\">\n<div
        class=\"mp-level\">\n<div class=\"menu-close\"><a href=\"#\" id=\"close_button\"><img
        src=\"/assets/application/img/close-menu.1632866266.png\" alt=\"X\" aria-label=\"Close
        Menu\" /></a></div>\n<ul>\n<li id=\"mmenu0-home\"><a href=\"/en\" class=\"home_link\">Home</a></li>\n<li
        id=\"mmenu0-1\" class=\"has-children\">\n<a href=\"#\">About Us</a>\n<div
        class=\"mp-level\">\n<div class=\"mp-back\" tabindex=\"0\">About Us</div>\n<ul>\n<li
        id=\"mmenu1-1\"><a href=\"/en/about-us\">About Us</a></li>\n<li id=\"mmenu1-6\"
        class=\"has-children\">\n<a href=\"#\">MX</a>\n<div class=\"mp-level\">\n<div
        class=\"mp-back\" tabindex=\"0\">MX</div>\n<ul>\n<li id=\"mmenu2-6\">[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://webapi.thecse.com/trading/other/securities/VFV.json
  response:
    body:
      string: '{"updated_at":{"date":"2023-06-09","time":"16:15:13"},"metadata":{"listing_market":"TSX","symbol":"VFV","listing_date":"2012-11-07","trading_date":"2016-05-13","status":"Active","security_name":"VANGUARD
        S\u0026P 500 INDEX ETF TRANSFER UN","security_type":"ETF","sector":"INVESTMENT
        FUND","sector_tags":[],"currency":"CAD","outstanding_shares":0,"reserved_shares":null,"total_equity_shares_as_if_converted":null,"market_maker":{"dealer
        name":"TD Securities Inc.","type":"full"},"index":"No","recent_change":{},"sedar_filings":null},"metatdata":{"deprecated":"Please
        use ''metadata'' instead","removal_date":"2022-07-01","listing_market":"TSX","symbol":"VFV","listing_date":"2012-11-07","trading_date":"2016-05-13","status":"Active","security_name":"VANGUARD
        S\u0026P 500 INDEX ETF TRANSFER UN","security_type":"ETF","sector":"INVESTMENT
        FUND","sector_tags":[],"currency":"CAD","outstanding_shares":0,"reserved_shares":null,"total_equity_shares_as_if_converted":null,"market_maker":{"dealer
        name":"TD Securities Inc.","type":"full"},"index":"No","recent_change":{},"sedar_filings":null},"quote":{"Time":"15:59:03.159","Bid
        Size":null,"Bid Price":0.0,"Ask Price":0.0,"Ask Size":null},"depth_by_order":{},"depth_by_price":{},"ticker":{"Time":"15:58:54.222","Previous
        Closing Price":101.6,"Trade Count":287,"Trading Volume":5998,"Trading Value":612589,"Trading
        Value (CAD)":612589,"Opening Price":101.84,"Last Price":102.04,"Net Change":0.44,"Net
        Change Percentage":0.43,"Last Tick":-0.08,"Days Low Price":101.84,"Days High
        Price":102.22,"Days VWAP":102.091,"52 Week High":102.55,"52 Week Low":83.8,"Composite
        Index Contribution":{},"CSE25 Index Contribution":{}},"trades":[{"date":"2023-06-09","time":"15:50:00.360","timestamp":1686340200,"price":102.04,"tick":-0.08,"change":0.44,"volume":100,"buy_dealer":"Anonymous","sell_dealer":"CIBC
        World Markets Inc."},{"date":"2023-06-09","time":"15:37:35.618","timestamp":1686339455,"price":102.12,"tick":-0.1,"change":0.52,"volume":600,"buy_dealer":"Merrill
        Lynch Canada Inc.","sell_dealer":"CIBC World Markets Inc."},{"date":"2023-06-09","time":"14:28:37.479","timestamp":1686335317,"price":102.22,"tick":0.38,"change":0.62,"volume":100,"buy_dealer":"Anonymous","sell_dealer":"Virtu
        Canada Corp."},{"date":"2023-06-09","time":"11:31:13.544","timestamp":1686324673,[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.m-x.ca/en/trading/data/historical?dnld=1&from=2021-12-29&symbol=VFV&to=2021-12-29
  response:
    body:
      string: "\"Date\",\"Symbol\",\"Class Symbol\",\"Root Symbol\",\"Underlying Symbol\",\"Strike
        Price\",\"Expiry Date\",\"Call/Put\",\"Ins. Type\",\"Bid Price\",\"Ask Price\",\"Bid
        Size\",\"Ask Size\",\"Last Price\",\"Volume\",\"Last Close Price\",\"Net Change\",\"Open
        Price\",\"High Price\",[...]
