interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.m-x.ca/en/trading/data/options-list
  response:
    body:
      string: "<!DOCTYPE html>\n<html class=\"no-js\" xmlns=\"http://www.w3.org/1999/xhtml\"
        lang=\"en\" xmlns:og=\"http://opengraphprotocol.org/schema/\" xmlns:fb=\"http://www.facebook.com/2008/fbml\">\n<head>\n<meta
        charset=\"utf-8\" />\n<title>TMX - Montr\xE9al Exchange - Options List</title><meta
        name=\"viewport\" content=\"user-scalable=yes, initial-scale=1, minimum-scale=1,
        maximum-scale=3, width=device-width\" />\n<meta property=\"og:image\" content=\"https://www.tmx.com/assets/application/img/tmx_logo_highres.jpg\">\n<meta
        property=\"twitter:image\" content=\"https://www.tmx.com/assets/application/img/tmx_logo_highres.jpg\">\n<meta
        name=\"revisit-after\" content=\"1 day\" />\n<meta name=\"geo.placename\"
        content=\"Canada\" />\n<meta name=\"geo.region\" content=\"Montr\xE9al\" />\n<meta
        name=\"apple-mobile-web-app-capable\" content=\"yes\" />\n<meta name=\"apple-mobile-web-app-status-bar-style\"
        content=\"black\" />\n<link rel=\"apple-touch-icon\" href=\"/assets/application/img/touch-icon-iphone.png\"
        />\n<link rel=\"apple-touch-icon\" sizes=\"72x72\" href=\"/assets/application/img/touch-icon-ipad.png\"
        />\n<link rel=\"apple-touch-icon\" sizes=\"114x114\" href=\"/assets/application/img/touch-icon-iphone4.png\"
        />\n<link rel=\"apple-touch-icon-precomposed\" href=\"/assets/application/img/touch-icon-android.png\"
        />\n<link rel=\"icon\" href=\"/favicon.ico\" type=\"image/x-icon\" />\n<link
        rel=\"shortcut icon\" href=\"/favicon.ico\" type=\"image/x-icon\" />\n<link
        rel=\"profile\" href=\"http://microformats.org/profile/hcalendar\" />\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':\nnew
        Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],\nj=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=\n'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);\n})(window,document,'script','dataLayer','GTM-KDW587P');</script>\n<link
        rel=\"stylesheet\" type=\"text/css\" href=\"/assets/application/css/style.1653931812.min.css\"
        media=\"all\" />\n<link href=\"/assets/application/css/datatables.1643139492.min.css\"
        media=\"screen\" rel=\"stylesheet\" type=\"text/css\"></head>\n<body class=\"en
        trading data options-list\" id=\"page-id-62\">\n<noscript><iframe src=\"https://www.googletagmanager.com/ns.html?id=GTM-KDW587P\"
        height=\"0\" width=\"0\" style=\"display:none;visibility:hidden\" title=\"google
        manager\"></iframe></noscript>\n<div id=\"container-overall\" class=\"container-overall\">\n<div
        class=\"mp-pusher\" id=\"mp-pusher\">\n<nav id=\"mp-menu\" class=\"mp-menu\">\n<div
        class=\"mp-level\">\n<div class=\"menu-close\"><a href=\"#\" id=\"close_button\"><img
        src=\"/assets/application/img/close-menu.1632866266.png\" alt=\"X\" aria-label=\"Close
        Menu\" /></a></div>\n<ul>\n<li id=\"mmenu0-home\"><a href=\"/en\" class=\"home_link\">Home</a></li>\n<li
        id=\"mmenu0-1\" class=\"has-children\">\n<a href=\"#\">About Us</a>\n<div
        class=\"mp-level\">\n<div class=\"mp-back\" tabindex=\"0\">About Us</div>\n<ul>\n<li
        id=\"mmenu1-1\"><a href=\"/en/about-us\">About Us</a></li>\n<li id=\"mmenu1-6\"
        class=\"has-children\">\n<a href=\"#\">MX</a>\n<div class=\"mp-level\">\n<div
        class=\"mp-back\" tabindex=\"0\">MX</div>\n<ul>\n<li id=\"mmenu2-6\">[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.m-x.ca/en/trading/data/quotes?symbol=AC*
  response:
    body:
      string: "<!DOCTYPE html>\n<html class=\"no-js\" xmlns=\"http://www.w3.org/1999/xhtml\"
        lang=\"en\" xmlns:og=\"http://opengraphprotocol.org/schema/\" xmlns:fb=\"http://www.facebook.com/2008/fbml\">\n<head>\n<meta
        charset=\"utf-8\" />\n<title>TMX - Montr\xE9al Exchange - Quotes</title><meta
        name=\"viewport\" content=\"user-scalable[...]
