interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/PM?events=div%2Csplits&includePrePost=False&interval=1d&period1=MOCK_PERIOD_1&period2=MOCK_PERIOD_2
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"PM","exchangeName":"NYQ","instrumentType":"EQUITY","firstTradeDate":1205760600,"regularMarketTime":1646946002,"gmtoffset":-18000,"timezone":"EST","exchangeTimezoneName":"America/New_York","regularMarketPrice":91.89,"chartPreviousClose":93.2,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EST","end":1647009000,"start":1646989200,"gmtoffset":-18000},"regular":{"timezone":"EST","end":1647032400,"start":1647009000,"gmtoffset":-18000},"post":{"timezone":"EST","end":1647046800,"start":1647032400,"gmtoffset":-18000}},"dataGranularity":"1d","range":"","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1646663400,1646749800,1646836200,1646922600,1646946002],"indicators":{"quote":[{"high":[97.58999633789062,96.36000061035156,96.06999969482422,93.83000183105469,93.83000183105469],"open":[97.3499984741211,94.19000244140625,95.22000122070312,92.93000030517578,92.93000030517578],"close":[93.19999694824219,93.97000122070312,93.80999755859375,91.88999938964844,91.88999938964844],"volume":[14334100,11529300,6427300,8099400,6766710],"low":[92.44999694824219,92.69999694824219,93.3499984741211,91.5999984741211,91.5999984741211]}],"adjclose":[{"adjclose":[93.19999694824219,93.97000122070312,93.80999755859375,91.88999938964844,91.88999938964844]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - b9h2fbth2m6fe
      y-rid:
      - b9h2fbth2m6fe
    status:
      code: 200
      message: OK
version: 1
