interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/PM?events=div%2Csplits&includePrePost=False&interval=1d&period1=MOCK_PERIOD_1&period2=MOCK_PERIOD_2
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"PM","exchangeName":"NYQ","instrumentType":"EQUITY","firstTradeDate":1205760600,"regularMarketTime":1647288022,"gmtoffset":-14400,"timezone":"EDT","exchangeTimezoneName":"America/New_York","regularMarketPrice":89.59,"chartPreviousClose":88.87,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EDT","start":1647331200,"end":1647351000,"gmtoffset":-14400},"regular":{"timezone":"EDT","start":1647351000,"end":1647374400,"gmtoffset":-14400},"post":{"timezone":"EDT","start":1647374400,"end":1647388800,"gmtoffset":-14400}},"dataGranularity":"1d","range":"","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1647009000,1647288022],"indicators":{"quote":[{"open":[92.2699966430664,89.88999938964844],"close":[88.87000274658203,89.58999633789062],"high":[92.41999816894531,90.58000183105469],"low":[88.76000213623047,88.37000274658203],"volume":[8628300,9927371]}],"adjclose":[{"adjclose":[88.87000274658203,89.58999633789062]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 1hepgg9h30vi3
      y-rid:
      - 1hepgg9h30vi3
    status:
      code: 200
      message: OK
version: 1
