interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/PM?events=div%2Csplits&includePrePost=False&interval=1d&period1=MOCK_PERIOD_1&period2=MOCK_PERIOD_2
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"PM","exchangeName":"NYQ","instrumentType":"EQUITY","firstTradeDate":1205760600,"regularMarketTime":1642798802,"gmtoffset":-18000,"timezone":"EST","exchangeTimezoneName":"America/New_York","regularMarketPrice":102.92,"chartPreviousClose":102.02,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EST","start":1643014800,"end":1643034600,"gmtoffset":-18000},"regular":{"timezone":"EST","start":1643034600,"end":1643058000,"gmtoffset":-18000},"post":{"timezone":"EST","start":1643058000,"end":1643072400,"gmtoffset":-18000}},"dataGranularity":"1d","range":"","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1642689000,1642775400],"indicators":{"quote":[{"open":[101.05999755859375,102.63999938964844],"volume":[5589700,5423100],"low":[100.68000030517578,102.33000183105469],"high":[102.77999877929688,103.75],"close":[102.0199966430664,102.91999816894531]}],"adjclose":[{"adjclose":[102.0199966430664,102.91999816894531]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 6hka90dgutaoq
      y-rid:
      - 6hka90dgutaoq
    status:
      code: 200
      message: OK
version: 1
