interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/PM?events=div%2Csplits&includePrePost=False&interval=1d&period1=MOCK_PERIOD_1&period2=MOCK_PERIOD_2
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"PM","exchangeName":"NYQ","instrumentType":"EQUITY","firstTradeDate":1205760600,"regularMarketTime":1647374402,"gmtoffset":-14400,"timezone":"EDT","exchangeTimezoneName":"America/New_York","regularMarketPrice":92.66,"chartPreviousClose":88.87,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EDT","start":1647417600,"end":1647437400,"gmtoffset":-14400},"regular":{"timezone":"EDT","start":1647437400,"end":1647460800,"gmtoffset":-14400},"post":{"timezone":"EDT","start":1647460800,"end":1647475200,"gmtoffset":-14400}},"dataGranularity":"1d","range":"","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1647264600,1647351000,1647374402],"indicators":{"quote":[{"close":[89.58999633789062,92.66000366210938,92.66000366210938],"volume":[16030300,8224500,7720104],"low":[88.37000274658203,90.61000061035156,90.61000061035156],"open":[89.88999938964844,91.33000183105469,91.33000183105469],"high":[90.58000183105469,92.94999694824219,92.94499969482422]}],"adjclose":[{"adjclose":[89.58999633789062,92.66000366210938,92.66000366210938]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - av6pbj1h33mse
      y-rid:
      - av6pbj1h33mse
    status:
      code: 200
      message: OK
version: 1
