interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/PM?events=div%2Csplits&includePrePost=False&interval=1d&period1=MOCK_PERIOD_1&period2=MOCK_PERIOD_2
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"PM","exchangeName":"NYQ","instrumentType":"EQUITY","firstTradeDate":1205760600,"regularMarketTime":1647633682,"gmtoffset":-14400,"timezone":"EDT","exchangeTimezoneName":"America/New_York","regularMarketPrice":93.9,"chartPreviousClose":93.33,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EDT","end":1647869400,"start":1647849600,"gmtoffset":-14400},"regular":{"timezone":"EDT","end":1647892800,"start":1647869400,"gmtoffset":-14400},"post":{"timezone":"EDT","end":1647907200,"start":1647892800,"gmtoffset":-14400}},"dataGranularity":"1d","range":"","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1647523800,1647610200,1647633682],"indicators":{"quote":[{"volume":[6728800,9657100,9667846],"open":[93.5,94.19000244140625,94.19000244140625],"low":[92.93000030517578,93.22000122070312,93.21499633789062],"close":[93.33000183105469,93.9000015258789,93.9000015258789],"high":[93.8499984741211,94.69999694824219,94.69999694824219]}],"adjclose":[{"adjclose":[93.33000183105469,93.9000015258789,93.9000015258789]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 4j1te99h3gmt6
      y-rid:
      - 4j1te99h3gmt6
    status:
      code: 200
      message: OK
version: 1
