interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/PM?events=div%2Csplits&includePrePost=False&interval=1d&period1=MOCK_PERIOD_1&period2=MOCK_PERIOD_2
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"PM","exchangeName":"NYQ","instrumentType":"EQUITY","firstTradeDate":1205760600,"regularMarketTime":1647288022,"gmtoffset":-14400,"timezone":"EDT","exchangeTimezoneName":"America/New_York","regularMarketPrice":89.59,"chartPreviousClose":91.89,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EDT","start":1647244800,"end":1647264600,"gmtoffset":-14400},"regular":{"timezone":"EDT","start":1647264600,"end":1647288000,"gmtoffset":-14400},"post":{"timezone":"EDT","start":1647288000,"end":1647302400,"gmtoffset":-14400}},"dataGranularity":"1d","range":"","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1646922600,1647009000,1647288022],"indicators":{"quote":[{"open":[92.93000030517578,92.2699966430664,89.88999938964844],"close":[91.88999938964844,88.87000274658203,89.58999633789062],"volume":[8099400,8628300,9927371],"low":[91.5999984741211,88.76000213623047,88.37000274658203],"high":[93.83000183105469,92.41999816894531,90.58000183105469]}],"adjclose":[{"adjclose":[91.88999938964844,88.87000274658203,89.58999633789062]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - eupi8d9h2v957
      y-rid:
      - eupi8d9h2v957
    status:
      code: 200
      message: OK
version: 1
