interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/PM?events=div%2Csplits&includePrePost=False&interval=1d&period1=MOCK_PERIOD_1&period2=MOCK_PERIOD_2
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"PM","exchangeName":"NYQ","instrumentType":"EQUITY","firstTradeDate":1205760600,"regularMarketTime":1647460802,"gmtoffset":-14400,"timezone":"EDT","exchangeTimezoneName":"America/New_York","regularMarketPrice":93.77,"chartPreviousClose":88.87,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EDT","end":1647523800,"start":1647504000,"gmtoffset":-14400},"regular":{"timezone":"EDT","end":1647547200,"start":1647523800,"gmtoffset":-14400},"post":{"timezone":"EDT","end":1647561600,"start":1647547200,"gmtoffset":-14400}},"dataGranularity":"1d","range":"","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1647264600,1647351000,1647437400,1647460802],"indicators":{"quote":[{"close":[89.58999633789062,92.66000366210938,93.7699966430664,93.7699966430664],"open":[89.88999938964844,91.33000183105469,93.0,93.0],"low":[88.37000274658203,90.61000061035156,92.83000183105469,92.83000183105469],"high":[90.58000183105469,92.94999694824219,94.5,94.5],"volume":[16030300,8224500,6299100,6024099]}],"adjclose":[{"adjclose":[89.58999633789062,92.66000366210938,93.7699966430664,93.7699966430664]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 9pobpplh35tre
      y-rid:
      - 9pobpplh35tre
    status:
      code: 200
      message: OK
version: 1
