interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.llama.fi/protocols
  response:
    body:
      string: "[{\"id\":\"3\",\"name\":\"Curve\",\"address\":\"0xD533a949740bb3306d119CC777fa900bA034cd52\",\"symbol\":\"CRV\",\"url\":\"https://curve.fi\",\"description\":\"Curve
        is a decentralized exchange liquidity pool on Ethereum designed for extremely
        efficient stablecoin trading\",\"chain\":\"Multi-Chain\",\"logo\":\"https://icons.llama.fi/curve.png\",\"audits\":\"2\",\"audit_note\":null,\"gecko_id\":\"curve-dao-token\",\"cmcId\":\"6538\",\"category\":\"Dexes\",\"chains\":[\"Ethereum\",\"Avalanche\",\"Fantom\",\"Arbitrum\",\"Polygon\",\"xDai\",\"Harmony\"],\"module\":\"curve/index.js\",\"twitter\":\"CurveFinance\",\"audit_links\":[\"https://curve.fi/audits\"],\"oracles\":[\"Chainlink\"],\"slug\":\"curve\",\"tvl\":23365620520.707634,\"chainTvls\":{\"Avalanche\":1134807413.742861,\"Harmony\":26849198.658045966,\"Ethereum\":20810402550.468124,\"xDai\":66485861.025138706,\"Ethereum-staking\":1966310393.9023645,\"Polygon\":339035868.06129193,\"Arbitrum\":431968404.8901721,\"Fantom\":556071223.8620002,\"staking\":1966310393.9023645},\"change_1h\":-0.000003260391039816568,\"change_1d\":-0.6906543247209527,\"change_7d\":1.3399440557969768,\"chainTvlsChange\":{\"avalanche\":{\"change_1d\":-1.515438860869395,\"change_7d\":-1.614580831367448,\"change_1m\":4.663943335988051},\"harmony\":{\"change_1d\":14.73802167209675,\"change_7d\":47.83010588824186,\"change_1m\":70.30042363638995},\"ethereum\":{\"change_1d\":-0.5730211764736737,\"change_7d\":1.8179468642889134,\"change_1m\":10.611659831248318},\"xdai\":{\"change_1d\":-0.011726934356261154,\"change_7d\":-5.373842418471838,\"change_1m\":130.62877840722726},\"ethereum-staking\":{\"change_1d\":-2.6986454224824854,\"change_7d\":-4.440764703194574,\"change_1m\":37.663360112218726},\"polygon\":{\"change_1d\":-3.1526313111734936,\"change_7d\":-3.4623719517888105,\"change_1m\":12.265023393510859},\"arbitrum\":{\"change_1d\":-4.307962792124826,\"change_7d\":-4.579901771898591,\"change_1m\":3.169542712463681},\"fantom\":{\"change_1d\":-0.7753354569697848,\"change_7d\":-2.79954390140648,\"change_1m\":-15.242893597833827},\"staking\":{\"change_1d\":-2.6986454224824854,\"change_7d\":-4.440764703194574,\"change_1m\":37.663360112218726}},\"staking\":1966310393.9023645,\"fdv\":15888760397,\"mcap\":1885459037},{\"id\":\"319\",\"name\":\"Convex
        Finance\",\"address\":\"0x4e3fbd56cd56c3e72c1403e103b45db9da5b9d2b\",\"symbol\":\"CVX\",\"url\":\"https://www.convexfinance.com/\",\"description\":\"Convex
        simplifies your Curve-boosting experience to maximize your yields.\",\"chain\":\"Ethereum\",\"logo\":\"https://icons.llama.fi/convex-finance.jpg\",\"audits\":\"2\",\"audit_note\":null,\"gecko_id\":\"convex-finance\",\"cmcId\":\"9903\",\"category\":\"Yield\",\"chains\":[\"Ethereum\"[...]
