interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.llama.fi/protocols
  response:
    body:
      string: "[{\"id\":\"3\",\"name\":\"Curve\",\"address\":\"0xD533a949740bb3306d119CC777fa900bA034cd52\",\"symbol\":\"CRV\",\"url\":\"https://curve.fi\",\"description\":\"Curve
        is a decentralized exchange liquidity pool on Ethereum designed for extremely
        efficient stablecoin trading\",\"chain\":\"Multi-Chain\",\"logo\":\"https://icons.llama.fi/curve.png\",\"audits\":\"2\",\"audit_note\":null,\"gecko_id\":\"curve-dao-token\",\"cmcId\":\"6538\",\"category\":\"Dexes\",\"chains\":[\"Ethereum\",\"Avalanche\",\"Fantom\",\"Arbitrum\",\"Polygon\",\"xDai\",\"Harmony\"],\"module\":\"curve/index.js\",\"twitter\":\"CurveFinance\",\"audit_links\":[\"https://curve.fi/audits\"],\"oracles\":[\"Chainlink\"],\"slug\":\"curve\",\"tvl\":23326275418.076878,\"chainTvls\":{\"Avalanche\":1134093184.5267825,\"Harmony\":26849198.658045966,\"Ethereum\":20773029737.500748,\"xDai\":66424070.581338935,\"Ethereum-staking\":1954071947.4672873,\"Polygon\":338843708.2047794,\"Arbitrum\":431523650.2536667,\"Fantom\":555511868.3515131,\"staking\":1954071947.4672873},\"change_1h\":-0.1992862130387607,\"change_1d\":-0.666942163567839,\"change_7d\":1.3169565816509134,\"chainTvlsChange\":{\"avalanche\":{\"change_1d\":-1.5334371023269568,\"change_7d\":-1.9744871231076502,\"change_1m\":4.598069562786321},\"harmony\":{\"change_1d\":14.73802167209675,\"change_7d\":48.14222419165449,\"change_1m\":70.30042363638995},\"ethereum\":{\"change_1d\":-0.7279530528712002,\"change_7d\":1.8482757844858355,\"change_1m\":10.413015481872606},\"xdai\":{\"change_1d\":-0.10465375627352103,\"change_7d\":-5.463985566422238,\"change_1m\":130.41443727738323},\"ethereum-staking\":{\"change_1d\":-3.3042555132139313,\"change_7d\":-4.466945778933308,\"change_1m\":36.806534219404085},\"polygon\":{\"change_1d\":-3.1918025340347214,\"change_7d\":-3.6437930772976728,\"change_1m\":12.201393456920258},\"arbitrum\":{\"change_1d\":-4.432668282440545,\"change_7d\":-4.560629889103566,\"change_1m\":3.063319359209004},\"fantom\":{\"change_1d\":-0.700311547248532,\"change_7d\":-3.872648294306458,\"change_1m\":-15.328151299517657},\"staking\":{\"change_1d\":-3.3042555132139313,\"change_7d\":-4.466945778933308,\"change_1m\":36.806534219404085}},\"staking\":1954071947.4672873,\"fdv\":15888760397,\"mcap\":1885459037},{\"id\":\"319\",\"name\":\"Convex
        Finance\",\"address\":\"0x4e3fbd56cd56c3e72c1403e103b45db9da5b9d2b\",\"symbol\":\"CVX\",\"url\":\"https://www.convexfinance.com/\",\"description\":\"Convex
        simplifies your Curve-boosting experience to maximize your yields.\",\"chain\":\"Ethereum\",\"logo\":\"https://icons.llama.fi/convex-finance.jpg\",\"audits\":\"2\",\"audit_note\":null,\"gecko_id\":\"convex-finance\",\"cmcId\":\"9903\",\"category\":\"Yield\",\"chains\":[\"Ethereum\"[...]
