interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.llama.fi/protocols
  response:
    body:
      string: "[{\"id\":\"3\",\"name\":\"Curve\",\"address\":\"0xD533a949740bb3306d119CC777fa900bA034cd52\",\"symbol\":\"CRV\",\"url\":\"https://curve.fi\",\"description\":\"Curve
        is a decentralized exchange liquidity pool on Ethereum designed for extremely
        efficient stablecoin trading\",\"chain\":\"Multi-Chain\",\"logo\":\"https://icons.llama.fi/curve.png\",\"audits\":\"2\",\"audit_note\":null,\"gecko_id\":\"curve-dao-token\",\"cmcId\":\"6538\",\"category\":\"Dexes\",\"chains\":[\"Ethereum\",\"Avalanche\",\"Fantom\",\"Arbitrum\",\"Polygon\",\"xDai\",\"Harmony\"],\"module\":\"curve/index.js\",\"twitter\":\"CurveFinance\",\"audit_links\":[\"https://curve.fi/audits\"],\"oracles\":[\"Chainlink\"],\"slug\":\"curve\",\"tvl\":22774599686.762222,\"chainTvls\":{\"Avalanche\":1152657546.6983519,\"Harmony\":23488384.33831723,\"Ethereum\":20206661349.14399,\"xDai\":69261608.6780689,\"Ethereum-staking\":1732297278.333543,\"Polygon\":349923395.436747,\"Arbitrum\":444005838.6555177,\"Fantom\":528823191.87157446,\"staking\":1732297278.333543},\"change_1h\":-0.24553151653438476,\"change_1d\":null,\"change_7d\":-5.571997532812659,\"staking\":1732297278.333543,\"fdv\":14195000314,\"mcap\":1684466941},{\"id\":\"319\",\"name\":\"Convex
        Finance\",\"address\":\"0x4e3fbd56cd56c3e72c1403e103b45db9da5b9d2b\",\"symbol\":\"CVX\",\"url\":\"https://www.convexfinance.com/\",\"description\":\"Convex
        simplifies your Curve-boosting experience to maximize your yields.\",\"chain\":\"Ethereum\",\"logo\":\"https://icons.llama.fi/convex-finance.jpg\",\"audits\":\"2\",\"audit_note\":null,\"gecko_id\":\"convex-finance\",\"cmcId\":\"9903\",\"category\":\"Yield\",\"chains\":[\"Ethereum\"[...]
