interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.llama.fi/protocols
  response:
    body:
      string: "[{\"id\":\"3\",\"name\":\"Curve\",\"address\":\"0xD533a949740bb3306d119CC777fa900bA034cd52\",\"symbol\":\"CRV\",\"url\":\"https://curve.fi\",\"description\":\"Curve
        is a decentralized exchange liquidity pool on Ethereum designed for extremely
        efficient stablecoin trading\",\"chain\":\"Multi-Chain\",\"logo\":\"https://icons.llama.fi/curve.png\",\"audits\":\"2\",\"audit_note\":null,\"gecko_id\":\"curve-dao-token\",\"cmcId\":\"6538\",\"category\":\"Dexes\",\"chains\":[\"Ethereum\",\"Avalanche\",\"Fantom\",\"Arbitrum\",\"Polygon\",\"xDai\",\"Harmony\"],\"module\":\"curve/index.js\",\"twitter\":\"CurveFinance\",\"audit_links\":[\"https://curve.fi/audits\"],\"oracles\":[\"Chainlink\"],\"slug\":\"curve\",\"tvl\":23445804398.51974,\"chainTvls\":{\"Avalanche\":1154695677.288488,\"Harmony\":23408696.556990348,\"Ethereum\":20840804276.564854,\"xDai\":67121119.69380985,\"Ethereum-staking\":2017387944.4002206,\"Polygon\":349309365.5131957,\"Arbitrum\":448960387.0601529,\"Fantom\":561524352.2717956,\"staking\":2017387944.4002206},\"change_1h\":-0.031895839041283125,\"change_1d\":1.2314311698911666,\"change_7d\":-3.427590437627657,\"staking\":2017387944.4002206,\"fdv\":16376917321,\"mcap\":1943386771},{\"id\":\"319\",\"name\":\"Convex
        Finance\",\"address\":\"0x4e3fbd56cd56c3e72c1403e103b45db9da5b9d2b\",\"symbol\":\"CVX\",\"url\":\"https://www.convexfinance.com/\",\"description\":\"Convex
        simplifies your Curve-boosting experience to maximize your yields.\",\"chain\":\"Ethereum\",\"logo\":\"https://icons.llama.fi/convex-finance.jpg\",\"audits\":\"2\",\"audit_note\":null,\"gecko_id\":\"convex-finance\",\"cmcId\":\"9903\",\"category\":\"Yield\",\"chains\":[\"Ethereum\"[...]
