interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://api.groupme.com/v3/bots/post?bot_id=45&text=hello
  response:
    body:
      string: '{"meta":{"code":404,"errors":["The requested path does not exist"]},"response":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-gm-request-id:
      - authproxy:1587e0
      - authproxy:1587e0.groupme:42a5b0
      x-gm-service:
      - authproxy-internal
    status:
      code: 404
      message: Not Found
version: 1
