interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/income-statement/PM?apikey=MOCK_API_KEY&limit=0&period=annual
  response:
    body:
      string: "[ {\n  \"date\" : \"2021-12-31\",\n  \"symbol\" : \"PM\",\n  \"reportedCurrency\"
        : \"USD\",\n  \"cik\" : null,\n  \"fillingDate\" : \"2022-02-11\",\n  \"acceptedDate\"
        : \"2022-02-11 08:29:22\",\n  \"calendarYear\" : \"2021\",\n  \"period\" :
        \"FY\",\n  \"revenue\" : 31405000000,\n  \"costOfRevenue\" : 10030000000,\n
        \ \"grossProfit\" : 21375000000,\n  \"grossProfitRatio\" : 0.680624104441967859,\n
        \ \"researchAndDevelopmentExpenses\" : 0,\n  \"generalAndAdministrativeExpenses\"
        : 115000000,\n  \"sellingAndMarketingExpenses\" : 8304000000,\n  \"sellingGeneralAndAdministrativeExpenses\"
        : 8419000000,\n  \"otherExpenses\" : 96000000,\n  \"operatingExpenses\" :
        8515000000,\n  \"costAndExpenses\" : 18545000000,\n  \"interestIncome\" :
        109000000,\n  \"interestExpense\" : 737000000,\n  \"depreciationAndAmortization\"
        : 998000000,\n  \"ebitda\" : 13515000000,\n  \"ebitdaratio\" : 0.430345486387517906,\n
        \ \"operatingIncome\" : 12860000000,\n  \"operatingIncomeRatio\" : 0.409488934882980438,\n
        \ \"totalOtherIncomeExpensesNet\" : -628000000,\n  \"incomeBeforeTax\" : 12232000000,\n
        \ \"incomeBeforeTaxRatio\" : 0.389492119089316968,\n  \"incomeTaxExpense\"
        : 2671000000,\n  \"netIncome\" : 9109000000,\n  \"netIncomeRatio\" : 0.290049355198216841,\n
        \ \"eps\" : 0,\n  \"epsdiluted\" : 0,\n  \"weightedAverageShsOut\" : 0,\n
        \ \"weightedAverageShsOutDil\" : 0,\n  \"link\" : \"https://www.sec.gov/Archives/edgar/data/1413329/000141332922000011/0001413329-22-000011-index.htm\",\n
        \ \"finalLink\" : \"https://www.sec.gov/Archives/edgar/data/1413329/000141332922000011/pm-20211231.htm\"\n},
        {\n  \"date\" : \"2020-12-31\",\n  \"symbol\" : \"PM\",\n  \"reportedCurrency\"
        : \"USD\",\n  \"cik\" : \"0001413329\",\n  \"fillingDate\" : \"2021-02-09\",\n
        \ \"acceptedDate\" : \"2021-02-09 16:20:37\",\n  \"calendarYear\" : \"2020\",\n
        \ \"period\" : \"FY\",\n  \"revenue\" : 28694000000,\n  \"costOfRevenue\"
        : 9569000000,\n  \"grossProfit\" : 19125000000,\n  \"gr[...]
