interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/key-metrics/PM?apikey=MOCK_API_KEY&limit=0&period=annual
  response:
    body:
      string: "[ {\n  \"symbol\" : \"PM\",\n  \"date\" : \"2020-12-31\",\n  \"period\"
        : \"FY\",\n  \"revenuePerShare\" : 18.4290301862556198,\n  \"netIncomePerShare\"
        : 5.17405266538214548,\n  \"operatingCashFlowPerShare\" : 6.30186255619781655,\n
        \ \"freeCashFlowPerShare\" : 5.91522157996146447,\n  \"cashPerShare\" : 4.67565831727681402,\n
        \ \"bookValuePerShare\" : -8.07129094412331405,\n  \"tangibleBookValuePerShare\"
        : -11.9550417469492611,\n  \"shareholdersEquityPerShare\" : -8.07129094412331405,\n
        \ \"interestDebtPerShare\" : 20.7219010918432893,\n  \"marketCap\" : 124015053114,\n
        \ \"enterpriseValue\" : 148271053114,\n  \"peRatio\" : 15.3941227797914593,\n
        \ \"priceToSalesRatio\" : 4.32198554101902843,\n  \"pocfratio\" : 12.6391207821035465,\n
        \ \"pfcfRatio\" : 13.4652609244299679,\n  \"pbRatio\" : -9.86831010694676536,\n
        \ \"ptbRatio\" : -9.86831010694676536,\n  \"evToSales\" : 5.167319060221649,\n
        \ \"enterpriseValueOverEBITDA\" : 12.2114192978092575,\n  \"evToOperatingCashFlow\"
        : 15.111195792295149,\n  \"evToFreeCashFlow\" : 16.0989199906623242,\n  \"earningsYield\"
        : 0.0649598560635584882,\n  \"freeCashFlowYield\" : 0.0742651780468437939,\n
        \ \"debtToEquity\" : -2.24142595687117074,\n  \"debtToAssets\" : 1.23721968091040946,\n
        \ \"netDebtToEBITDA\" : 1.99769395486740242,\n  \"currentRatio\" : 1.09569207239357636,\n
        \ \"interestCoverage\" : 15.8942307692307701,\n  \"incomeQuality\" : 1.21797418073485608,\n
        \ \"dividendYield\" : 0.0593798882884861781,\n  \"payoutRatio\" : 0.914101290963257207,\n
        \ \"salesGeneralAndAdministrativeToRevenue\" : 0.00338049766501707667,\n  \"researchAndDdevelopementToRevenue\"
        : 0,\n  \"intangiblesToTotalAssets\" : 0.178132321767265428,\n  \"capexToOperatingCashFlow\"
        : -0.0613534447615165096,\n  \"capexToRevenue\" : -0.0209799958179410322,\n
        \ \"capexToDepreciation\" : -0.613659531090723798,\n  \"stockBasedCompensationToRevenue\"
        : 0,\n  \"grahamNumber\" : 30.6533668543377154,\n  \"roic\" : 0.459166666666666667,\n
        \ \"returnOnTangibleAssets\" : 0.218722849695916599,\n  \"grahamNetNet\" :
        -26.0435131663455373,\n  \"workingCapital\" : 1877000000,\n  \"tangibleAssetValue\"
        : -18614000000,\n  \"netCurrentAssetValue\" : -33954000000,\n  \"investedCapital\"
        : -2.50942945810455953,\n  \"averageReceivables\" : 3739000000,\n  \"averagePayables\"
        : 2539500000,\n  \"averageInventory\" : 9413000000,\n  \"daysSalesOutstanding\"
        : 47.8415348156409053,\n  \"daysPayablesOutstanding\" : 106.040338593374429,\n
        \ \"daysOfInventoryOnHand\" : 365.839168147141777,\n  \"receivablesTurnover\"
        : 7.62935389524062746,\n  \"payablesTurnover\" : 3.44208633093525185,\n  \"inventoryTurnover\"
        : 0.997706182879783077,\n  \"roe\" : -0.641044004137821255,\n  \"capexPerShare\"
        : -0.386640976236351963\n}, {\n  \"symbol\" : \"PM\",\n  \"date\" : \"2019-12-31\",\n
        \ \"period\" : \"FY\",\n  \"revenuePerShare\" : 19.1672025723472679,\n  \"netIncomePerShare\"
        : 4.62057877813504803,\n  \"operatingCashFlowPerShare\" : 6.48874598070739506,\n
        \ \"freeCashFlowPerShare\" : 5.94083601286173657,\n  \"cashPerShare\" : 4.41221864951768517,\n
        \ \"bookValuePerShare\" : -7.44501607717041836,\n  \"tangibleBookValuePerShare\"
        : -11.29903536977492,\n [...]
