interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/balance-sheet-statement/PM?apikey=MOCK_API_KEY&limit=0&period=annual
  response:
    body:
      string: "[ {\n  \"date\" : \"2020-12-31\",\n  \"symbol\" : \"PM\",\n  \"reportedCurrency\"
        : \"USD\",\n  \"cik\" : \"0001413329\",\n  \"fillingDate\" : \"2021-02-09\",\n
        \ \"acceptedDate\" : \"2021-02-09 16:20:37\",\n  \"calendarYear\" : \"2020\",\n
        \ \"period\" : \"FY\",\n  \"cashAndCashEquivalents\" : 7280000000,\n  \"shortTermInvestments\"
        : 0.0,\n  \"cashAndShortTermInvestments\" : 7280000000,\n  \"netReceivables\"
        : 3761000000,\n  \"inventory\" : 9591000000,\n  \"otherCurrentAssets\" : 860000000,\n
        \ \"totalCurrentAssets\" : 21492000000,\n  \"propertyPlantEquipmentNet\" :
        6365000000,\n  \"goodwill\" : 5964000000,\n  \"intangibleAssets\" : 2019000000,\n
        \ \"goodwillAndIntangibleAssets\" : 7983000000,\n  \"longTermInvestments\"
        : 4798000000,\n  \"taxAssets\" : 1410000000,\n  \"otherNonCurrentAssets\"
        : 2767000000,\n  \"totalNonCurrentAssets\" : 23323000000,\n  \"otherAssets\"
        : 0.0,\n  \"totalAssets\" : 44815000000,\n  \"accountPayables\" : 2780000000,\n
        \ \"shortTermDebt\" : 3368000000,\n  \"taxPayables\" : 7494000000,\n  \"deferredRevenue\"
        : 0.0,\n  \"otherCurrentLiabilities\" : 13467000000,\n  \"totalCurrentLiabilities\"
        : 19615000000,\n  \"longTermDebt\" : 28168000000,\n  \"deferredRevenueNonCurrent\"
        : 0.0,\n  \"deferredTaxLiabilitiesNonCurrent\" : 684000000,\n  \"otherNonCurrentLiabilities\"
        : 6979000000,\n  \"totalNonCurrentLiabilities\" : 35831000000,\n  \"otherLiabilities\"
        : 0.0,\n  \"capitalLeaseObligations\" : 0.0,\n  \"totalLiabilities\" : 55446000000,\n
        \ \"preferredStock\" : 0.0,\n  \"commonStock\" : 0.0,\n  \"retainedEarnings\"
        : 31638000000,\n  \"accumulatedOtherComprehensiveIncomeLoss\" : -11181000000,\n
        \ \"othertotalStockholdersEquity\" : 0.0,\n  \"totalStockholdersEquity\" :
        -12567000000,\n  \"totalLiabilitiesAndStockholdersEquity\" : 42879000000,\n
        \ \"minorityInterest\" : 1936000000,\n  \"totalEquity\" : -10631000000,\n
        \ \"totalLiabilitiesAndTotalEquity\" : 44815000000,\n  \"totalInvestments\"
        : 0.0,\n  \"totalDebt\" : 31536000000,\n  \"netDebt\" : 24256000000,\n  \"link\"
        : \"https://www.sec.gov/Archives/edgar/data/1413329/000141332921000007/0001413329-21-000007-index.htm\",\n
        \ \"finalLink\" : \"https://www.sec.gov/Archives/edgar/data/1413329/000141332921000007/pm-20201231.htm\"\n},
        {\n  \"date\" : \"2019-12-31\",\n  \"symbol\" : \"PM\",\n  \"reportedCurrency\"
        : \"USD\",\n  \"cik\" : \"0001413329\",\n  \"fillingDate\" : \"2020-02-07\",\n
        \ \"acceptedDate\" : \"2020-02-07 06:47:13\",\n  \"calendarYear\" : \"2019\",\n
        \ \"period\" : \"FY\",\n  \"cashAndCashEquivalents\" : 6861000000,\n  \"shortTermInvestments\"
        : 0.0,\n  \"cashAndShortTermInvest[...]
