interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/quote/PM?apikey=MOCK_API_KEY
  response:
    body:
      string: "[ {\n  \"symbol\" : \"PM\",\n  \"name\" : \"Philip Morris International
        Inc.\",\n  \"price\" : 89.38000000,\n  \"changesPercentage\" : 1.75318860,\n
        \ \"change\" : 1.54000090,\n  \"dayLow\" : 87.95000000,\n  \"dayHigh\" : 89.51000000,\n
        \ \"yearHigh\" : 106.51000000,\n  \"yearLow\" : 78.34000000,\n  \"marketCap\"
        : 139149459456.00000000,\n  \"priceAvg50\" : 94.41760000,\n  \"priceAvg200\"
        : 95.78810000,\n  \"volume\" : 7368138,\n  \"avgVolume\" : 4520317,\n  \"exchange\"
        : \"NYSE\",\n  \"open\" : 88.63000000,\n  \"previousClose\" : 87.84000000,\n
        \ \"eps\" : 5.74000000,\n  \"pe\" : 15.57142800,\n  \"earningsAnnouncement\"
        : \"2022-02-02T13:30:00.000+0000\",\n  \"sharesOutstanding\" : 1556829933,\n
        \ \"timestamp\" : 1638620747\n} ]"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: ''
version: 1
