interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/financial-growth/PM?apikey=MOCK_API_KEY&limit=0&period=annual
  response:
    body:
      string: "[ {\n  \"symbol\" : \"PM\",\n  \"date\" : \"2020-12-31\",\n  \"period\"
        : \"FY\",\n  \"revenueGrowth\" : -0.03727562489515182,\n  \"grossProfitGrowth\"
        : -0.008656437901720921,\n  \"ebitgrowth\" : 0.10812104960735491,\n  \"operatingIncomeGrowth\"
        : 0.10812104960735491,\n  \"netIncomeGrowth\" : 0.12122477383437717,\n  \"epsgrowth\"
        : 0.11674321503131489,\n  \"epsdilutedGrowth\" : 0.11746137787056483,\n  \"weightedAverageSharesGrowth\"
        : 0.0012861736334405145,\n  \"weightedAverageSharesDilutedGrowth\" : 0.0012853470437017994,\n
        \ \"dividendsperShareGrowth\" : 0.027027060963290685,\n  \"operatingCashFlowGrowth\"
        : -0.02755203171456888,\n  \"freeCashFlowGrowth\" : -0.0030309590820523924,\n
        \ \"tenYRevenueGrowthPerShare\" : 0.24562579066907103,\n  \"fiveYRevenueGrowthPerShare\"
        : 0.06540896314510537,\n  \"threeYRevenueGrowthPerShare\" : -0.005083663243748409,\n
        \ \"tenYOperatingCFGrowthPerShare\" : 0.22805184283647184,\n  \"fiveYOperatingCFGrowthPerShare\"
        : 0.2411424157088897,\n  \"threeYOperatingCFGrowthPerShare\" : 0.09745182756048151,\n
        \ \"tenYNetIncomeGrowthPerShare\" : 0.3107980233693023,\n  \"fiveYNetIncomeGrowthPerShare\"
        : 0.16610033154036707,\n  \"threeYNetIncomeGrowthPerShare\" : 0.33059316266331223,\n
        \ \"tenYShareholdersEquityGrowthPerShare\" : -5.233629220263199,\n  \"fiveYShareholdersEquityGrowthPerShare\"
        : -0.055992927178570434,\n  \"threeYShareholdersEquityGrowthPerShare\" : 0.036459005897681855,\n
        \ \"tenYDividendperShareGrowthPerShare\" : 0.9664819168673823,\n  \"fiveYDividendperShareGrowthPerShare\"
        : 0.17218610147719984,\n  \"threeYDividendperShareGrowthPerShare\" : 0.12582085259130543,\n
        \ \"receivablesGrowth\" : 0.011837503362927092,\n  \"inventoryGrowth\" : 0.03854899837574445,\n
        \ \"assetGrowth\" : 0.04524781341107872,\n  \"bookValueperShareGrowth\" :
        0.08412001538496539,\n  \"debtGrowth\" : 0.01581575132871638,\n  \"rdexpenseGrowth\"
        : 0.0,\n  \"sgaexpensesGrowth\" : -0.9889571948998178\n}, {\n  \"symbol\"
        : \"PM\",\n  \"date\" : \"2019-12-31\",\n  \"period\" : \"FY\",\n  \"revenueGrowth\"
        : 0.0060759493670886075,\n  \"grossProfitGrowth\" : 0.022526103779085174,\n
        \ \"ebitgrowth\" : -0.07886379675370501,\n  \"operatingIncomeGrowth\" : -0.07886379675370501,\n
        \ \"netIncomeGrowth\" : -0.09177095183921123,\n  \"epsgrowth\" : -0.09043724839861225,\n
        \ \"epsdilutedGrowth\" : -0.09102180029552955,\n  \"weightedAverageShares[...]
