interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/PM?events=div%2Csplits%2CcapitalGains&includePrePost=False&interval=1d&period1=MOCK_PERIOD_1&period2=MOCK_PERIOD_2
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"PM","exchangeName":"NYQ","instrumentType":"EQUITY","firstTradeDate":1205760600,"regularMarketTime":1673384402,"gmtoffset":-18000,"timezone":"EST","exchangeTimezoneName":"America/New_York","regularMarketPrice":102.19,"chartPreviousClose":103.49,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EST","end":1673447400,"start":1673427600,"gmtoffset":-18000},"regular":{"timezone":"EST","end":1673470800,"start":1673447400,"gmtoffset":-18000},"post":{"timezone":"EST","end":1673485200,"start":1673470800,"gmtoffset":-18000}},"dataGranularity":"1d","range":"","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1673274600,1673361000],"indicators":{"quote":[{"open":[104.0,102.62000274658203],"high":[104.43000030517578,102.81999969482422],"low":[102.27999877929688,101.79000091552734],"close":[102.30000305175781,102.19000244140625],"volume":[4864200,4275100]}],"adjclose":[{"adjclose":[102.30000305175781,102.19000244140625]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 6jrc3v9hrt34m
      y-rid:
      - 6jrc3v9hrt34m
    status:
      code: 200
      message: OK
version: 1
