interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/rss_feed?apikey=MOCK_API_KEY&page=0
  response:
    body:
      string: "[\n  {\n    \"title\": \"13F-HR - MIZUHO MARKETS AMERICAS LLC (0001825516)
        (Filer)\",\n    \"date\": \"2023-02-03 08:51:34\",\n    \"link\": \"https://www.sec.gov/Archives/edgar/data/1825516/000106299323002055/0001062993-23-002055-index.htm\",\n
        \   \"cik\": \"0001825516\",\n    \"form_type\": \"13F-HR\",\n    \"ticker\":
        \"None\",\n    \"done\": true\n  },\n  {\n    \"title\": \"13F-HR - MIZUHO
        SECURITIES USA LLC (0001513006) (Filer)\",\n    \"date\": \"2023-02-03 08:42:03\",\n
        \   \"link\": \"https://www.sec.gov/Archives/edgar/data/1513006/000106299323002050/0001062993-23-002050-index.htm\",\n
        \   \"cik\": \"0001513006\",\n    \"form_type\": \"13F-HR\",\n    \"ticker\":
        \"None\",\n    \"done\": true\n  },\n  {\n    \"title\": \"13F-HR - Larson
        Financial Group LLC (0001731061) (Filer)\",\n    \"d[...]
