interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/key-metrics/PM?apikey=MOCK_API_KEY&limit=0&period=annual
  response:
    body:
      string: "[\n  {\n    \"symbol\": \"PM\",\n    \"date\": \"2022-09-30\",\n    \"period\":
        \"FY\",\n    \"revenuePerShare\": 20.399486191393706,\n    \"netIncomePerShare\":
        5.8111753371868975,\n    \"operatingCashFlowPerShare\": 6.938342967244702,\n
        \   \"freeCashFlowPerShare\": 6.246628131021194,\n    \"cashPerShare\": 3.447655748233783,\n
        \   \"bookValuePerShare\": -5.868336544637122,\n    \"tangibleBookValuePerShare\":
        -10.118175979447656,\n    \"shareholdersEquityPerShare\": -5.868336544637122,\n
        \   \"interestDebtPerShare\": 16.280025690430314,\n    \"marketCap\": 129246570000.00002,\n
        \   \"enterpriseValue\": 148458570000,\n    \"peRatio\": 14.284545755968171,\n
        \   \"priceToSalesRatio\": 4.069220137270953,\n    \"pocfratio\": 11.963951680088865,\n
        \   \"pfcfRatio\": 13.28876927822332,\n    \"pbRatio\": -14.145405494144688,\n
        \   \"ptbRatio\": -14.145405494144688,\n    \"evToSales\": 4.674093885775455,\n
        \   \"enterpriseValueOverEBITDA\": 10.923299977926568,\n    \"evToOperatingCashFlow\":
        13.742346570397112,\n    \"evToFreeCashFlow\": 15.264093152375077,\n    \"earningsYield\":
        0.07000572626414765,\n    \"freeCashFlowYield\": 0.07525151344441867,\n    \"debtToEquity\":
        -5.26649885082631,\n    \"debtToAssets\": 1.1818159491121645,\n    \"netDebtToEBITDA\":
        1.41358251784269,\n    \"currentRatio\": 1.9048970901348474,\n    \"interestCoverage\":
        15.9140625,\n    \"incomeQuality\": 1.1339351317308701,\n    \"dividendYield\":
        0.06044260981161821,\n    \"payoutRatio\": 0.863395225464191,\n    \"salesGeneralAndAdministrativeToRevenue\":
        0.2562181222844909,\n    \"researchAndDdevelopementToRevenue\": 0,\n    \"intangiblesToTotalAssets\":
        0.20509860746125697,\n    \"capexToOperatingCashFlow\": -0.09969452929741739,\n
        \   \"capexToRevenue\": -0.03390844405264152,\n    \"capexToDepreciation\":
        -0.9058031959629941,\n    \"stockBasedCompensationToRevenue\": 0,\n    \"grahamNumber\":
        27.700062878383978,\n    \"roic\": 0.32248872001899787,\n    \"returnOnTangibleAssets\":
        0.27955261694370637,\n    \"grahamNetNet\": -27.457931920359666,\n    \"workingCapital\":
        2550000000,\n    \"tangibleAssetValue\": -15754000000,\n    \"netCurrentAssetValue\":
        -42752000000,\n    \"investedCapital\": -2.6901608843165152,\n    \"averageReceivables\":
        1970000000,\n    \"averagePayables\": 1665500000,\n    \"averageInventory\":
        4360000000,\n    \"daysSalesOutstanding\": 0,\n    \"daysPayablesOutstanding\":
        0,\n    \"daysOfInventoryOnHand\": 0,\n    \"receivablesTurnover\": 0,\n    \"payablesTurnover\":
        0,\n    \"inventoryTurnover\": 0,\n    \"roe\": -0.9902593849184634,\n    \"capexPerShare\":
        -0.6917148362235067\n  },\n  {\n    \"symbol\": \"PM\",\n    \"date\": \"2021-12-31\",\n
        \   \"period\": \"FY\",\n    \"revenuePerShare\": 20.157252888318357,\n    \"netIncomePerShare\":
        5.846598202824134,\n    \"operatingCashFlowPerShare\": 7.681001283697047,\n
        \   \"freeCashFlowPerShare\": 7.200898587933247,\n    \"cashPerShare\": 2.8857509627727858,\n
        \   \"bookValuePerShare\": -6.486521181001284,\n    \"tangibleBookValuePerShare\":
        -11.3645699[...]
