interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/profile/PM?apikey=MOCK_API_KEY
  response:
    body:
      string: "[\n  {\n    \"symbol\": \"PM\",\n    \"price\": 98.48,\n    \"beta\":
        0.709205,\n    \"volAvg\": 4480064,\n    \"mktCap\": 152666651976,\n    \"lastDiv\":
        5.04,\n    \"range\": \"82.85-109.81\",\n    \"changes\": -1.62,\n    \"companyName\":
        \"Philip Morris International Inc.\",\n    \"currency\": \"USD\",\n    \"cik\":
        \"0001413329\",\n    \"isin\": \"US7181721090\",\n    \"cusip\": \"718172109\",\n
        \   \"exchange\": \"New York Stock Exchange\",\n    \"exchangeShortName\":
        \"NYSE\",\n    \"industry\": \"Tobacco\",\n    \"website\": \"https://www.pmi.com\",\n
        \   \"description\": \"Philip Morris International Inc. operates as a tobacco
        company working to delivers a smoke-free future and evolving portfolio for
        the long-term to include products outside of the tobacco and nicotine sector.
        The company's product portfolio primarily consists of cigarettes and smoke-free
        products, including heat-not-burn, vapor, and oral nicotine products that
        are sold in markets outside the United States. The company offers its smoke-free
        products under the HEETS, HEETS Creations, HEETS Dimensions, HEETS Marlboro,
        HEETS FROM MARLBORO, Marlboro Dimensions, Marlboro HeatSticks, Parliament
        HeatSticks, and TEREA brands, as well as the KT&G-licensed brands, Fiit, and
        Miix. It also sells its products under the Marlboro, Parliament, Bond Street,
        Chesterfield, L&M, Lark, and Philip Morris brands. In addition, the company
        owns various cigarette brands, such as Dji Sam Soe, Sampoerna A, and Sampoerna
        U in Indonesia; and Fortune and Jackpot in the Philippines. The company sells
        its smoke-free products in 71 markets. Philip Morris International Inc. was
        incorporated in 1987 and is headquartered in New York, New York.\",\n    \"ceo\":
        \"Mr. Andre  Calantzopoulos\",\n    \"sector\": \"Consumer Defensive\",\n
        \   \"country\": \"US\",\n    \"fullTimeEmployees\": \"69600\",\n    \"phone\":
        \"917 663 2000\",\n    \"address\": \"120 Park Avenue\",\n    \"city\": \"New
        York\",\n    \"state\": \"NY\",\n    \"zip\": \"10017-5592\",\n    \"dcfDiff\":
        3.97239,\n    \"dcf\": 99.7876,\n    \"image\": \"https://financialmodelingprep.com/image-stock/PM.png\",\n
        \   \"ipoDate\": \"2008-03-17\",\n    \"defaultImage\": false,\n    \"isEtf\":
        false,\n    \"isActivelyTrading\": true,\n    \"isAdr\": false,\n    \"isFund\":
        false\n  }\n]"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"871-gVoFmYYxb+LMa1KMUYdfDhcNC7w"
    status:
      code: 200
      message: OK
version: 1
