interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/historical-rating/TSLA?apikey=MOCK_API_KEY
  response:
    body:
      string: "[\n  {\n    \"symbol\": \"TSLA\",\n    \"date\": \"2023-03-03\",\n
        \   \"rating\": \"A+\",\n    \"ratingScore\": 5,\n    \"ratingRecommendation\":
        \"Strong Buy\",\n    \"ratingDetailsDCFScore\": 5,\n    \"ratingDetailsDCFRecommendation\":
        \"Strong Buy\",\n    \"ratingDetailsROEScore\": 3,\n    \"ratingDetailsROERecommendation\":
        \"Neutral\",\n    \"ratingDetailsROAScore\": 3,\n    \"ratingDetailsROARecommendation\":
        \"Neutral\",\n    \"ratingDetailsDEScore\": 4,\n    \"ratingDetailsDERecommendation\":
        \"Buy\",\n    \"ratingDetailsPEScore\": 5,\n    \"ratingDetailsPERecommendation\":
        \"Strong Buy\",\n    \"ratingDetailsPBScore\": 5,\n    \"ratingDetailsPBRecommendation\":
        \"Strong Buy\"\n  },\n  {\n    \"symbol\": \"TSLA\",\n    \"date\": \"2023-02-28\",\n
        \   \"rating\": \"A+\",\n    \"ratingScore\": 5,\n    \"ratingRecommendation\":
        \"Strong Buy\",\n    \"ratingDetailsDCFScore\": 5,\n    \"ratingDetailsDCFRecommendation\":
        \"Strong Buy\",\n    \"ratingDetailsROEScore\": 3,\n    \"ratingDetailsROERecommendation\":
        \"Neutral\",\n    \"ratingDetailsROAScore\": 3,\n    \"ratingDetailsROARecommendation\":
        \"Neutral\",[...]
