interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/discounted-cash-flow/PM?apikey=MOCK_API_KEY&limit=0&period=annual
  response:
    body:
      string: "[\n  {\n    \"symbol\": \"PM\",\n    \"date\": \"2023-03-07\",\n    \"dcf\":
        100.5397302504817,\n    \"Stock Price\": 98.48\n  }\n]"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"70-AdC1e08v/5THyj7Z8yxevuIbrI4"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/historical-discounted-cash-flow/PM?apikey=MOCK_API_KEY&period=annual
  response:
    body:
      string: "[\n  {\n    \"symbol\": \"PM\",\n    \"historicalDCF\": [\n      {\n
        \       \"date\": \"2021-12-31\",\n        \"Stock Price\": 103.5199966,\n
        \       \"DCF\": 106.40760096737316\n      },\n      {\n        \"date\":
        \"2020-12-31\",\n        \"Stock Price\": 79.6500015,\n        \"DCF\": 84.32565981727682\n
        \     },\n      {\n        \"date\": \"2019-12-31\",\n        \"Stock Price\":
        84.3300018,\n        \"DCF\": 88.74222044951769\n      },\n      {\n        \"date\":
        \"2018-12-31\",\n        \"Stock Price\": 74.4800034,\n        \"DCF\": 78.71987478263665\n
        \     },\n      {\n        \"date\": \"2017-12-31\",\[...]
