interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/XYZZY?period1=-631159200&period2=1648932336&interval=1d&includePrePost=False&events=div%2Csplits
  response:
    body:
      string: '{"chart":{"result":null,"error":{"code":"Not Found","description":"No
        data found, symbol may be delisted"}}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - ciqb4p9h4hdfg
      y-rid:
      - ciqb4p9h4hdfg
    status:
      code: 404
      message: Not Found
version: 1
