<div class="container">
    <div class="card">
        <div class="contentBx">
            <h1>{{ ticker }}</h1>
            <h2 class="{{ price_color }}">{{ price }}</h2>
        </div>
    </div>
</div>
