interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/CAC40?range=1d&interval=1d
  response:
    body:
      string: '{"chart":{"result":null,"error":{"code":"Not Found","description":"No
        data found, symbol may be delisted"}}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - drjqk4hi0hal0
      y-rid:
      - drjqk4hi0hal0
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/DOWJONES?range=1d&interval=1d
  response:
    body:
      string: '{"chart":{"result":null,"error":{"code":"Not Found","description":"No
        data found, symbol may be delisted"}}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - ek1g9u9i0hal0
      y-rid:
      - ek1g9u9i0hal0
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/%5EIXIC?range=1d&interval=1d
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"^IXIC","exchangeName":"NIM","instrumentType":"INDEX","firstTradeDate":34612200,"regularMarketTime":1678289564,"gmtoffset":-18000,"timezone":"EST","exchangeTimezoneName":"America/New_York","regularMarketPrice":11561.564,"chartPreviousClose":11530.332,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EST","end":1678285800,"start":1678266000,"gmtoffset":-18000},"regular":{"timezone":"EST","end":1678309200,"start":1678285800,"gmtoffset":-18000},"post":{"timezone":"EST","end":1678323600,"start":1678309200,"gmtoffset":-18000}},"dataGranularity":"1d","range":"1d","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1678289564],"indicators":{"quote":[{"close":[11561.564453125],"open":[11553.099609375],"volume":[1297794000],"high":[11568.8095703125],"low":[11487.751953125]}],"adjclose":[{"adjclose":[11561.564453125]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - avr7p0hi0hal1
      y-rid:
      - avr7p0hi0hal1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/%5EIXIC?period1=1591416000&period2=1594094400&interval=1wk&includePrePost=False&events=div%2Csplits%2CcapitalGains
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"^IXIC","exchangeName":"NIM","instrumentType":"INDEX","firstTradeDate":34612200,"regularMarketTime":1678289564,"gmtoffset":-18000,"timezone":"EST","exchangeTimezoneName":"America/[...]
