interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/CAC40?range=1d&interval=1d
  response:
    body:
      string: '{"chart":{"result":null,"error":{"code":"Not Found","description":"No
        data found, symbol may be delisted"}}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 1rvbu8lhvh26a
      y-rid:
      - 1rvbu8lhvh26a
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/DOWJONES?range=1d&interval=1d
  response:
    body:
      string: '{"chart":{"result":null,"error":{"code":"Not Found","description":"No
        data found, symbol may be delisted"}}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - c11ea2hhvh26a
      y-rid:
      - c11ea2hhvh26a
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/%5EIXIC?range=1d&interval=1d
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"^IXIC","exchangeName":"NIM","instrumentType":"INDEX","firstTradeDate":34612200,"regularMarketTime":1677190559,"gmtoffset":-18000,"timezone":"EST","exchangeTimezoneName":"America/New_York","regularMarketPrice":11590.401,"chartPreviousClose":11507.07,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EST","start":1677229200,"end":1677249000,"gmtoffset":-18000},"regular":{"timezone":"EST","start":1677249000,"end":1677272400,"gmtoffset":-18000},"post":{"timezone":"EST","start":1677272400,"end":1677286800,"gmtoffset":-18000}},"dataGranularity":"1d","range":"1d","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1677162600],"indicators":{"quote":[{"low":[11432.580078125],"close":[11590.400390625],"volume":[4714580000],"open":[11636.9296875],"high":[11638.98046875]}],"adjclose":[{"adjclose":[11590.400390625]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 132g9olhvh26a
      y-rid:
      - 132g9olhvh26a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/%5EIXIC?period1=1591416000&period2=1594094400&interval=1wk&includePrePost=False&events=div%2Csplits%2CcapitalGains
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"^IXIC","exchangeName":"NIM","instrumentType":"INDEX","firstTradeDate":34612200,"regularMarketTime":1677190559,"gmtoffset":-18000,"timezone":"EST","exchangeTimezoneName":"America/[...]
