interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/key-metrics/TSLA?period=annual&limit=0&apikey=9d08b12c4a88cc5e1f811a4c25a7f102
  response:
    body:
      string: "[\n  {\n    \"symbol\": \"TSLA\",\n    \"date\": \"2021-12-31\",\n
        \   \"period\": \"FY\",\n    \"revenuePerShare\": 18.19574036511156,\n    \"netIncomePerShare\":
        1.8657876943881,\n    \"operatingCashFlowPerShare\": 3.8867478025693036,\n
        \   \"freeCashFlowPerShare\": 1.1774847870182557,\n    \"cashPerShare\": 5.986139283299527,\n
        \   \"bookValuePerShare\": 10.205882352941176,\n    \"tangibleBookValuePerShare\":
        10.096686950642326,\n    \"shareholdersEquityPerShare\": 10.205882352941176,\n
        \   \"interestDebtPerShare\": 3.1250845165652468,\n    \"marketCap\": 834501106014.6,\n
        \   \"enterpriseValue\": 825798106014.6,\n    \"peRatio\": 151.20512883033157,\n
        \   \"priceToSalesRatio\": 15.504544637322335,\n    \"pocfratio\": 72.5842485878577,\n
        \   \"pfcfRatio\": 239.5926230303187,\n    \"pbRatio\": 27.642555434582135,\n
        \   \"ptbRatio\": 27.642555434582135,\n    \"evToSales\": 15.342847964896048,\n
        \   \"enterpriseValueOverEBITDA\": 86.03856074334236,\n    \"evToOperatingCashFlow\":
        71.82726850609724,\n    \"evToFreeCashFlow\": 237.09391501998277,\n    \"earningsYield\":
        0.00661353227721599,\n    \"freeCashFlowYield\": 0.004173751208831907,\n    \"debtToEquity\":
        0.22909006591804962,\n    \"debtToAssets\": 0.49167082454813216,\n    \"netDebtToEBITDA\":
        -0.9067514065430298,\n    \"currentRatio\": 1.3752854605430094,\n    \"interestCoverage\":
        17.50943396226415,\n    \"incomeQuality\": 2.083167240442109,\n    \"dividendYield\":
        null,\n    \"payoutRatio\": 0,\n    \"salesGeneralAndAdministrativeToRevenue\":
        0,\n    \"researchAndDdevelopementToRevenue\": 0.04817643015067908,\n    \"intangiblesToTotalAssets\":
        0.027635157972670646,\n    \"capexToOperatingCashFlow\": -0.6970514047142733,\n
        \   \"capexToRevenue\": -0.14889545361648365,\n    \"capexToDepreciation\":
        -2.753005839917554,\n    \"stockBasedCompensationToRevenue\": 0.03940694498634413,\n
        \   \"grahamNumber\": 20.698918289394545,\n    \"roic\": 0.15311365671993588,\n
        \   \"returnOnTangibleAssets\": 0.09135299764955143,\n    \"grahamNetNet\":
        -2.882944557133198,\n    \"workingCapital\": 7395000000,\n    \"tangibleAssetValue\":
        29866000000,\n    \"netCurrentAssetValue\": -3448000000,\n    \"investedCapital\":
        0.2939150021531021,\n    \"averageReceivables\": 1899500000,\n    \"averagePayables\":
        8038000000,\n    \"averageInventory\": 4929000000,\n    \"daysSalesOutstanding\":
        12.972985526633597,\n    \"daysPayablesOutstanding\": 90.98453390357311,\n
        \   \"daysOfInventoryOnHand\": 52.249173235199045,\n    \"receivablesTurnover\":
        28.135389440669105,\n    \"payablesTurnover\": 4.011670822942643,\n    \"inventoryTurnover\":
        6.985756470383881,\n    \"roe\": 0.1828149325913412,\n    \"capexPerShare\":
        -2.709263015551048\n  },\n  {\n    \"symbol\": \"TSLA\",\n    \"date\": \"2020-12-31\",\n
        \   \"period\": \"FY\",\n    \"revenuePerShare\": 10.95,\n    \"netIncomePerShare\":
        0.23958333333333334,\n    \"operatingCashFlowPerShare\": 2.0635416666666666,\n
        \   \"freeCashFlowPerShare\": 0.9378472222222223,\n    \"cashPerShare\": 6.730555555555555,\n
        \   \"bookValuePerShare\": 7.717013888888889,\n    \"tangibleBookValuePerShare\":
        8.041319444444444,\n [...]
