interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/financial-growth/PM?apikey=MOCK_API_KEY&limit=0&period=annual
  response:
    body:
      string: "[ {\n  \"symbol\" : \"PM\",\n  \"date\" : \"2021-12-31\",\n  \"period\"
        : \"FY\",\n  \"revenueGrowth\" : 0.0944796821635184997,\n  \"grossProfitGrowth\"
        : 0.11764705882352941,\n  \"ebitgrowth\" : 0.111399187624232995,\n  \"operatingIncomeGrowth\"
        : 0.111399187624232995,\n  \"netIncomeGrowth\" : 0.130710029791459792,\n  \"epsgrowth\"
        : -1,\n  \"epsdilutedGrowth\" : -1,\n  \"weightedAverageSharesGrowth\" : -1,\n
        \ \"weightedAverageSharesDilutedGrowth\" : -1,\n  \"dividendsperShareGrowth\"
        : 0,\n  \"operatingCashFlowGrowth\" : 0.219629025682837348,\n  \"freeCashFlowGrowth\"
        : 0.218132464712269269,\n  \"tenYRevenueGrowthPerShare\" : 0,\n  \"fiveYRevenueGrowthPerShare\"
        : 0,\n  \"threeYRevenueGrowthPerShare\" : 0,\n  \"tenYOperatingCFGrowthPerShare\"
        : 0,\n  \"fiveYOperatingCFGrowthPerShare\" : 0,\n  \"threeYOperatingCFGrowthPerShare\"
        : 0,\n  \"tenYNetIncomeGrowthPerShare\" : 0,\n  \"fiveYNetIncomeGrowthPerShare\"
        : 0,\n  \"threeYNetIncomeGrowthPerShare\" : 0,\n  \"tenYShareholdersEquityGrowthPerShare\"
        : 0,\n  \"fiveYShareholdersEquityGrowthPerShare\" : 0,\n  \"threeYShareholdersEquityGrowthPerShare\"
        : 0,\n  \"tenYDividendperShareGrowthPerShare\" : 0,\n  \"fiveYDividendperShareGrowthPerShare\"
        : 0,\n  \"threeYDividendperShareGrowthPerShare\" : 0,\n  \"receivablesGrowth\"
        : 0.0475937250731188546,\n  \"inventoryGrowth\" : -0.0908143050776769878,\n
        \ \"assetGrowth\" : -0.0786566997657034417,\n  \"bookValueperShareGrowth\"
        : 0,\n  \"debtGrowth\" : -0.118277524099441908,\n  \"rdexpenseGrowth\" : 0,\n
        \ \"sgaexpensesGrowth\" : 0.185567010309278357\n}, {\n  \"symbol\" : \"PM\",\n
        \ \"date\" : \"2020-12-31\",\n  \"period\" : \"FY\",\n  \"revenueGrowth\"
        : -0.037275624895151821,\n  \"grossProfitGrowth\" : -0.00865643790172092135,\n
        \ \"ebitgrowth\" : 0.108121049607354913,\n  \"operatingIncomeGrowth\" : 0.108121049607354913,\n
        \ \"netIncomeGrowth\" : 0.121224773834377172,\n  \"epsgrowth\" : 0.116743215031314893,\n
        \ \"epsdilutedGrowth\" : 0.117461377870564834,\n  \"weightedAverageS[...]
