interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/quote/PM?apikey=MOCK_API_KEY
  response:
    body:
      string: "[ {\n  \"symbol\" : \"PM\",\n  \"name\" : \"Philip Morris International
        Inc.\",\n  \"price\" : 99.80000000,\n  \"changesPercentage\" : -2.61514470,\n
        \ \"change\" : -2.68000030,\n  \"dayLow\" : 99.25000000,\n  \"dayHigh\" :
        101.06170000,\n  \"yearHigh\" : 112.48000000,\n  \"yearLow\" : 85.64000000,\n
        \ \"marketCap\" : 154673037312.00000000,\n  \"priceAvg50\" : 101.78640000,\n
        \ \"priceAvg200\" : 98.53845000,\n  \"volume\" : 6489064,\n  \"avgVolume\"
        : 6175341,\n  \"exchange\" : \"NYSE\",\n  \"open\" : 101.04000000,\n  \"previousClose\"
        : 102.48000000,\n  \"eps\" : 5.83000000,\n  \"pe\" : 17.11835500,\n  \"earningsAnnouncement\"
        : \"2022-04-21T12:30:00.000+0000\",\n  \"sharesOutstanding\" : 1549830033,\n
        \ \"timestamp\" : 1646571914\n} ]"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: ''
version: 1
