interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/ratios/PM?apikey=MOCK_API_KEY&limit=0&period=annual
  response:
    body:
      string: "[ {\n  \"symbol\" : \"PM\",\n  \"date\" : \"2021-12-31\",\n  \"period\"
        : \"FY\",\n  \"currentRatio\" : 0.920124642949883165,\n  \"quickRatio\" :
        0.438119968839262519,\n  \"cashRatio\" : 0.233497792781095809,\n  \"daysOfSalesOutstanding\"
        : 45.7920713262219365,\n  \"daysOfInventoryOutstanding\" : 317.328015952143573,\n
        \ \"operatingCycle\" : 363.120087278365531,\n  \"daysOfPayablesOutstanding\"
        : 121.217846460618148,\n  \"cashConversionCycle\" : 241.902240817747384,\n
        \ \"grossProfitMargin\" : 0.680624104441967859,\n  \"operatingProfitMargin\"
        : 0.413150772170036595,\n  \"pretaxProfitMargin\" : 0.389492119089316968,\n
        \ \"netProfitMargin\" : 0.290049355198216841,\n  \"effectiveTaxRate\" : 0.2183616742969261,\n
        \ \"returnOnAssets\" : 0.220610317268103651,\n  \"returnOnEquity\" : -0.90134573520680783,\n
        \ \"returnOnCapitalEmployed\" : 0.588835942818243696,\n  \"netIncomePerEBT\"
        : 0.744686069326357059,\n  \"ebtPerEbit\" : 0.942736030828516425,\n  \"ebitPerRevenue\"
        : 0.413150772170036595,\n  \"debtRatio\" : 1.19878905303947692,\n  \"debtEquityRatio\"
        : -4.89788244607164103,\n  \"longTermDebtToCapitalization\" : 1.68856033249301629,\n
        \ \"totalDebtToCapitalization\" : 1.5709604519774012,\n  \"interestCoverage\"
        : 17.6051560379918577,\n  \"cashFlowToDebtRatio\" : 0.43037473926490688,\n
        \ \"companyEquityMultiplier\" : -4.08569166831585218,\n  \"receivablesTurnover\"
        : 7.97081218274111691,\n  \"payablesTurnover\" : 3.01110777544280994,\n  \"inventoryTurnover\"
        : 1.15022935779816504,\n  \"fixedAssetTurnover\" : 5.09160181582360583,\n
        \ \"assetTurnover\" : 0.760595785904577326,\n  \"operatingCashFlowPerShare\"
        : 7.68593448940269752,\n  \"freeCashFlowPerShare\" : 7.20552344251766197,\n
        \ \"cashPerShare\" : 2.88760436737315329,\n  \"payoutRatio\" : 0.832144033373586556,\n
        \ \"operatingCashFlowSalesRatio\" : 0.381053972297404897,\n  \"freeCashFlowOperatingCashFlowRatio\"
        : 0.937494777304253346,\n  \"cashFlowCoverageRatios\" : 0.43037473926490688,\n
        \ \"shortTermCoverageRatios\" : 3.95865034733708221,\n  \"capitalExpenditureCoverageRatio\"
        : -15.9986631016042775,\n  \"dividendPaidAndCapexCoverageRatio\" : 1.75161007025761117,\n
        \ \"dividendPayoutRatio\" : 0.832144033373586445,\n  \"priceBookValueRatio\"
        : -15.9490040895507637,\n  \"priceToBookRatio\" : -15.9490040895507637,\n
        \ \"priceToSalesRatio\" : 5.1323240034707851,\n  \"priceEarningsRatio\" :
        17.6946575177297198,\n  \"priceToFreeCashFlowsRatio\" : 14.3667559790533907,\n
        \ \"priceToOperatingCashFlowsRatio\" : 13.4687586971672104,\n  \"priceCashFlowRatio\"
        : 13.4687586971672104,\n  \"priceEarningsToGrowthRatio\" : 1.32257556058669024,\n
        \ \"priceSalesRatio\" : 5.1323240034707851,\n  \"dividendYield\" : 0.0470279818945234518,\n
        \ \"enterpriseValueMultiple\" : 13.6508054257491676,\n  \"priceFairValue\"
        : -15.9490040895507637\n}, {\n  \"symbol\" : \"PM\",\n  \"date\" : \"2020-12-31\",\n
        \ \"period\" : \"FY\",\n  \"currentRatio\" : 1.09569207239357636,\n  \"quickRatio\"
        : 0.562885546775427015,\n  \"cashRatio\" : 0.371144532245730296,\n  \"daysOfSalesOutstanding\"
        : 47.8415348156409053,\n  \"daysOfInventoryOutstanding\" : 365.839168147141777,\n
        \ \"operatingCycle\" : 413.680702962782675,\n  \"daysOfPayablesOutstanding\"
        : 106.040338593374429,\n  \"cashConver[...]
