interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/discounted-cash-flow/PM?apikey=MOCK_API_KEY&limit=0&period=annual
  response:
    body:
      string: "[ {\n  \"symbol\" : \"PM\",\n  \"date\" : \"2022-05-21\",\n  \"dcf\"
        : 104.03760436737315,\n  \"Stock Price\" : 101.15\n} ]"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/historical-discounted-cash-flow/PM?apikey=MOCK_API_KEY&period=annual
  response:
    body:
      string: "[ {\n  \"symbol\" : \"PM\",\n  \"historicalDCF\" : [ {\n    \"date\"
        : \"2021-12-31\",\n    \"Stock Price\" : 103.519997,\n    \"DCF\" : 106.40760136737315\n
        \ }, {\n    \"date\" : \"2020-12-31\",\n    \"Stock Price\" : 79.650002,\n
        \   \"DCF\" : 84.32566031727681\n  }, {\n    \"date\" : \"2019-12-31\",\n
        \   \"Stock Price\" : 84.330002,\n    \"DCF\" : 88.74222064951769\n  }, {\n
        \   \"date\" : \"2018-12-31\",\n    \"Stock Price\" : 74.480003,\n    \"DCF\"
        : 78.71987438263666\n  }, {\n    \"date\" : \"2017-12-31\",\n    \"Stock Price\"
        : 107.940002,\n    \"DCF\" : 113.3826566391752[...]
