interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/quote/PM?apikey=MOCK_API_KEY
  response:
    body:
      string: "[ {\n  \"symbol\" : \"PM\",\n  \"name\" : \"Philip Morris International
        Inc.\",\n  \"price\" : 101.15000000,\n  \"changesPercentage\" : 0.64676800,\n
        \ \"change\" : 0.65000200,\n  \"dayLow\" : 99.65000000,\n  \"dayHigh\" : 101.74000000,\n
        \ \"yearHigh\" : 112.48000000,\n  \"yearLow\" : 85.64000000,\n  \"marketCap\"
        : 156793618432.00000000,\n  \"priceAvg50\" : 98.67640000,\n  \"priceAvg200\"
        : 98.46685000,\n  \"volume\" : 5077019,\n  \"avgVolume\" : 6351306,\n  \"exchange\"
        : \"NYSE\",\n  \"open\" : 100.68000000,\n  \"previousClose\" : 100.50000000,\n
        \ \"eps\" : 5.78000000,\n  \"pe\" : 17.50000000,\n  \"earningsAnnouncement\"
        : \"2022-07-21T12:30:00.000+0000\",\n  \"sharesOutstanding\" : 1550109920,\n
        \ \"timestamp\" : 1653145681\n} ]"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: ''
version: 1
