interactions:
- request:
    body: null
    headers:
      Authorization:
      - MOCK_AUTHORIZATION
    method: GET
    uri: https://api.github.com/repos/openbb-finance/openbbterminal
  response:
    body:
      string: "{\n  \"id\": 323048702,\n  \"node_id\": \"MDEwOlJlcG9zaXRvcnkzMjMwNDg3MDI=\",\n
        \ \"name\": \"OpenBBTerminal\",\n  \"full_name\": \"OpenBB-finance/OpenBBTerminal\",\n
        \ \"private\": false,\n  \"owner\": {\n    \"login\": \"OpenBB-finance\",\n
        \   \"id\": 80064875,\n    \"node_id\": \"MDEyOk9yZ2FuaXphdGlvbjgwMDY0ODc1\",\n
        \   \"avatar_url\": \"https://avatars.githubusercontent.com/u/80064875?v=4\",\n
        \   \"gravatar_id\": \"\",\n    \"url\": \"https://api.github.com/users/OpenBB-finance\",\n
        \   \"html_url\": \"https://github.com/OpenBB-finance\",\n    \"followers_url\":
        \"https://api.github.com/users/OpenBB-finance/followers\",\n    \"following_url\":
        \"https://api.github.com/users/OpenBB-finance/following{/other_user}\",\n
        \   \"gists_url\": \"https://api.github.com/users/OpenBB-finance/gists{/gist_id}\",\n
        \   \"starred_url\": \"https://api.github.com/users/OpenBB-finance/starred{/owner}{/repo}\",\n
        \   \"subscriptions_url\": \"https://api.github.com/users/OpenBB-finance/subscriptions\",\n
        \   \"organizations_url\": \"https://api.github.com/users/OpenBB-finance/orgs\",\n
        \   \"repos_url\": \"https://api.github.com/users/OpenBB-finance/repos\",\n
        \   \"events_url\": \"https://api.github.com/users/OpenBB-finance/events{/privacy}\",\n
        \   \"received_events_url\": \"https://api.github.com/users/OpenBB-finance/received_events\",\n
        \   \"type\": \"Organization\",\n    \"site_admin\": false\n  },\n  \"html_url\":
        \"https://github.com/OpenBB-finance/OpenBBTerminal\",\n  \"description\":
        \"Investment Research for Everyone, Anywhere.\",\n  \"fork\": false,\n  \"url\":
        \"https://api.github.com/repos/OpenBB-finance/OpenBBTerminal\",\n  \"forks_url\":
        \"https://api.github.com/repos/OpenBB-finance/OpenBBTerminal/forks\",\n  \"keys_url\":
        \"https://api.github.com/repos/OpenBB-finance/OpenBBTerminal/keys{/key_id}\",\n
        \ \"collaborators_url\": \"https://api.github.com/repos/OpenBB-finance/OpenBBTerminal/collaborators{/collaborator}\",\n
        \ \"teams_url\": \"https://api.github.com/repos/OpenBB-finance/OpenBBTerminal/teams\",\n
        \ \"hooks_url\": \"https://api.github.com/repos/OpenBB-finance/OpenBBTerminal/hooks\",\n
        \ \"issue_events_url\": \"https://api.github.com/repos/OpenBB-finance/OpenBBTerminal/issues/events{/number}\",\n
        \ \"events_url\": \"https://api.github.com/repos/OpenBB-finance/OpenBBTerminal/events\",\n
        \ \"assignees_url\": \"https://api.github.com/repos/OpenBB-finance/OpenBBTerminal/assignees{/user}\",\n
        \ \"branches_url\": \"https://api.github.com/repos/OpenBB-finance/OpenBBTerminal/branches{/branch}\",\n
        \ \"tags_url\": \"https://api.github.com/repos/OpenBB-finance/OpenBBTerminal/tags\",\n
        \ \"blobs_url\": \"https://api.github.com/repos/OpenBB-finance/OpenBBTerminal/git/blobs{/sha}\",\n
        \ \"git_tags_url\": \"https://api.github.com/repos/OpenBB-finance/OpenBBTerminal/git/tags{/sha}\",\n
        \ \"git_refs_url\": \"https://api.github.com/repos/OpenBB-finance/OpenBBTerminal/git/refs{/sha}\",\n
        \ \"trees_url\": \"https://api.github.com/repos/OpenBB-finance/OpenBBTerminal/git/trees{/sha}\",\n
        \ \"statuses_url\": \"https://api.github.com/repos/OpenBB-finance/OpenBBTerminal/statuses/{sha}\",\n
        \ \"languages_url\": \"https://api.github.com/repos/OpenBB-finance/OpenBBTerminal/languages\",\n
        \ \"stargazers_url\": \"https://api.github.com/repos/OpenBB-finance/OpenBBTerminal/stargazers\",\n
        \ \"contributors_url\": \"https://api.github.com/repos/OpenBB-finance/OpenBBTerminal/contributors\",\n
        \ \"subscribers_url\": \"https://api.github.com/repos/OpenBB-finance/OpenBBTerminal/subscribers\",\n
        \ \"subscription_url\": \"https://api.github.com/repos/OpenBB-finance/OpenBBTerminal/subscription\",\n
        \ \"commits_url\": \"https://api.github.com/repos/OpenBB-finance/OpenBBTerminal/commits{/sha}\",\n
        \ \"git_commits_url\": \"https://api.github.com/repos/OpenBB-finance/OpenBBTerminal/git/commits{/sha}\",\n
        \ \"comments_url\": \"https://api.github.com/repos/OpenBB-finance/OpenBBTerminal/comments{/number}\",\n
        \ \"issue_comment_url\": \"https://api.github.com/repos/OpenBB-finance/OpenBBTerminal/issues/comments{/number}\",\n
        \ \"contents_url\": \"https://api.github.com/repos/OpenBB-finance/OpenBBTerminal/contents/{+path}\",\n
        \ \"compare_url\": \"https://api.github.com/repos/OpenBB-finance/OpenBBTerminal/compare/{base}...{head}\",\n
        \ \"merges_url\": \"https://api.github.com/repos/OpenBB-finance/OpenBBTerminal/merges\",\n
        \ \"archive_url\": \"https://api.github.com/repos/OpenBB-finance/OpenBBTerminal/{archive_format}{/ref}\",\n
        \ \"downloads_url\": \"https://api.github.com/repos/OpenBB-finance/OpenBBTerminal/downloads\",\n
        \ \"issues_url\": \"https://api.github.com/repos/OpenBB-finance/OpenBBTerminal/issues{/number}\",\n
        \ \"pulls_url\": \"https://api.github.com/repos/OpenBB-finance/OpenBBTerminal/pulls{/number}\",\n
        \ \"milestones_url\": \"https://api.github.com/repos/OpenBB-finance/OpenBBTerminal/milestones{/number}\",\n
        \ \"notifications_url\": \"https://api.github.com/repos/OpenBB-finance/OpenBBTerminal/notifications{?since,all,participating}\",\n
        \ \"labels_url\": \"https://api.github.com/repos/OpenBB-finance/OpenBBTerminal/labels{/name}\",\n
        \ \"releases_url\": \"https://api.github.com/repos/OpenBB-finance/OpenBBTerminal/releases{/id}\",\n
        \ \"deployments_url\": \"https://api.github.com/repos/OpenBB-finance/OpenBBTerminal/deployments\",\n
        \ \"created_at\": \"2020-12-20T10:46:38Z\",\n  \"updated_at\": \"2022-05-07T16:20:36Z\",\n
        \ \"pushed_at\": \"2022-05-07T16:38:53Z\",\n  \"git_url\": \"git://github.com/OpenBB-finance/OpenBBTerminal.git\",\n
        \ \"ssh_url\": \"git@github.com:OpenBB-finance/OpenBBTerminal.git\",\n  \"clone_url\":
        \"https://github.com/OpenBB-finance/OpenBBTerminal.git\",\n  \"svn_url\":
        \"https://github.com/OpenBB-finance/OpenBBTerminal\",\n  \"homepage\": \"https://openbb-finance.github.io/OpenBBTerminal/\",\n
        \ \"size\": 490690,\n  \"stargazers_count\": 11878,\n  \"watchers_count\":
        11878,\n  \"language\": \"Python\",\n  \"has_issues\": true,\n  \"has_projects\":
        true,\n  \"has_downloads\": true,\n  \"has_wiki\": false,\n  \"has_pages\":
        true,\n  \"forks_count\": 1272,\n  \"mirror_url\": null,\n  \"archived\":
        false,\n  \"disabled\": false,\n  \"open_issues_count\": 55,\n  \"license\":
        {\n    \"key\": \"mit\",\n    \"name\": \"MIT License\",\n    \"spdx_id\":
        \"MIT\",\n    \"url\": \"https://api.github.com/licenses/mit\",\n    \"node_id\":
        \"MDc6TGljZW5zZTEz\"\n  },\n  \"allow_forking\": true,\n  \"is_template\":
        false,\n  \"topics\": [\n    \"artificial-intelligence\",\n    \"cryptocurrency\",\n
        \   \"economics\",\n    \"finance\",\n    \"gamestonk-terminal\",\n    \"investment\",\n
        \   \"investment-analysis\",\n    \"investment-research\",\n    \"machine-learning\",\n
        \   \"python\",\n    \"quantitative-finance\",\n    \"stock-market\",\n    \"stocks\",\n
        \   \"terminal-app\"\n  ],\n  \"visibility\": \"public\",\n  \"forks\": 1272,\n
        \ \"open_issues\": 55,\n  \"watchers\": 11878,\n  \"default_branch\": \"main\",\n
        \ \"permissions\": {\n    \"admin\": false,\n    \"maintain\": false,\n    \"push\":
        false,\n    \"triage\": false,\n    \"pull\": true\n  },\n  \"temp_clone_token\":
        \"\",\n  \"organization\": {\n    \"login\": \"OpenBB-finance\",\n    \"id\":
        80064875,\n    \"node_id\": \"MDEyOk9yZ2FuaXphdGlvbjgwMDY0ODc1\",\n    \"avatar_url\":
        \"https://avatars.githubusercontent.com/u/80064875?v=4\",\n    \"gravatar_id\":
        \"\",\n    \"url\": \"https://api.github.com/users/OpenBB-finance\",\n    \"html_url\":
        \"https://github.com/OpenBB-finance\",\n    \"followers_url\": \"https://api.github.com/users/OpenBB-finance/followers\",\n
        \   \"following_url\": \"https://api.github.com/users/OpenBB-finance/following{/other_user}\",\n
        \   \"gists_url\": \"https://api.github.com/users/OpenBB-finance/gists{/gist_id}\",\n
        \   \"starred_url\": \"https://api.github.com/users/OpenBB-finance/starred{/owner}{/repo}\",\n
        \   \"subscriptions_url\": \"https://api.github.com/users/OpenBB-finance/subscriptions\",\n
        \   \"organizations_url\": \"https://api.github.com/users/OpenBB-finance/orgs\",\n
        \   \"repos_url\": \"https://api.github.com/users/OpenBB-finance/repos\",\n
        \   \"events_url\": \"https://api.github.com/users/OpenBB-finance/events{/privacy}\",\n
        \   \"received_events_url\": \"https://api.github.com/users/OpenBB-finance/received_events\",\n
        \   \"type\": \"Organization\",\n    \"site_admin\": false\n  },\n  \"network_count\":
        1272,\n  \"subscribers_count\": 190\n}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9db98e6e5f1f0e73dc6eec5e3045139ebcfc85b2879e7af329b9cd9a69d08c81"
      Last-Modified:
      - Sat, 07 May 2022 16:20:36 GMT
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v3; param=star; format=json
      X-OAuth-Scopes:
      - ''
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4630'
      X-RateLimit-Reset:
      - '1651942760'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '370'
      github-authentication-token-expiration:
      - 2022-06-06 04:34:24 UTC
    status:
      code: 200
      message: OK
    url: https://api.github.com/repos/openbb-finance/openbbterminal
- request:
    body: null
    headers:
      Authorization:
      - MOCK_AUTHORIZATION
    method: GET
    uri: https://api.github.com/repos/openbb-finance/openbbterminal/releases
  response:
    body:
      string: "[\n  {\n    \"url\": \"https://api.github.com/repos/OpenBB-finance/OpenBBTerminal/releases/66200959\",\n
        \   \"assets_url\": \"https://api.github.com/repos/OpenBB-finance/OpenBBTerminal/releases/66200959/assets\",\n
        \   \"upload_url\": \"https://uploads.github.com/repos/OpenBB-finance/OpenBBTerminal/releases/66200959/assets{?name,label}\",\n
        \   \"html_url\": \"https://github.com/OpenBB-finance/OpenBBTerminal/releases/tag/v1.2.1\",\n
        \   \"id\": 66200959,\n    \"author\": {\n      \"login\": \"piiq\",\n      \"id\":
        11668535,\n      \"node_id\": \"MDQ6VXNlcjExNjY4NTM1\",\n      \"avatar_url\":
        \"https://avatars.githubusercontent.com/u/11668535?v=4\",\n      \"gravatar_id\":
        \"\",\n      \"url\": \"https://api.github.com/users/piiq\",\n      \"html_url\":
        \"https://github.com/piiq\",\n      \"followers_url\": \"https://api.github.com/users/piiq/followers\",\n
        \     \"following_url\": \"https://api.github.com/users/piiq/following{/other_user}\",\n
        \     \"gists_url\": \"https://api.github.com/users/piiq/gists{/gist_id}\",\n
        \     \"starred_url\": \"https://api.github.com/users/piiq/starred{/owner}{/repo}\",\n
        \     \"subscriptions_url\": \"https://api.github.com/users/piiq/subscriptions\",\n
        \     \"organizations_url\": \"https://api.github.com/users/piiq/orgs\",\n
        \     \"repos_url\": \"https://api.github.com/users/piiq/repos\",\n      \"events_url\":
        \"https://api.github.com/users/piiq/events{/privacy}\",\n      \"received_events_url\":
        \"https://api.github.com/users/piiq/received_events\",\n      \"type\": \"User\",\n
        \     \"site_admin\": false\n    },\n    \"node_id\": \"RE_kwDOE0FU_s4D8iV_\",\n
        \   \"tag_name\": \"v1.2.1\",\n    \"target_commitish\": \"main\",\n    \"name\":
        \"OpenBB Terminal v1.2.1\",\n    \"draft\": false,\n    \"prerelease\": true,\n
        \   \"created_at\": \"2022-05-05T22:06:59Z\",\n    \"published_at\": \"2022-05-06T08:27:12Z\",\n
        \   \"assets\": [\n      {\n        \"url\": \"https://api.github.com/repos/OpenBB-finance/OpenBBTerminal/releases/assets/64645546\",\n
        \       \"id\": 64645546,\n        \"node_id\": \"RA_kwDOE0FU_s4D2mmq\",\n
        \       \"name\": \"OpenBB.Terminal.dmg\",\n        \"label\": null,\n        \"uploader\":
        {\n          \"login\": \"piiq\",\n          \"id\": 11668535,\n          \"node_id\":
        \"MDQ6VXNlcjExNjY4NTM1\",\n          \"avatar_url\": \"https://avatars.githubusercontent.com/u/11668535?v=4\",\n
        \         \"gravatar_id\": \"\",\n          \"url\": \"https://api.github.com/users/piiq\",\n
        \         \"html_url\": \"https://github.com/piiq\",\n          \"followers_url\":
        \"https://api.github.com/users/piiq/followers\",\n          \"following_url\":
        \"https://api.github.com/users/piiq/following{/other_user}\",\n          \"gists_url\":
        \"https://api.github.com/users/piiq/gists{/gist_id}\",\n          \"starred_url\":
        \"https://api.github.com/users/piiq/starred{/owner}{/repo}\",\n          \"subscriptions_url\":
        \"https://api.github.com/users/piiq/subscriptions\",\n          \"organizations_url\":
        \"https://api.github.com/users/piiq/orgs\",\n          \"repos_url\": \"https://api.github.com/users/piiq/repos\",\n
        \         \"events_url\": \"https://api.github.com/users/piiq/events{/privacy}\",\n
        \         \"received_events_url\": \"https://api.github.com/users/piiq/received_events\",\n
        \         \"type\": \"User\",\n          \"site_admin\": false\n        },\n
        \       \"content_type\": \"application/octet-stream\",\n        \"state\":
        \"uploaded\",\n        \"size\": 530289904,\n        \"download_count\": 23,\n
        \       \"created_at\": \"2022-05-06T08:13:12Z\",\n        \"updated_at\":
        \"2022-05-06T08:16:07Z\",\n        \"browser_download_url\": \"https://github.com/OpenBB-finance/OpenBBTerminal/releases/download/v1.2.1/OpenBB.Terminal.dmg\"\n
        \     },\n      {\n        \"url\": \"https://api.github.com/repos/OpenBB-finance/OpenBBTerminal/releases/assets/64645927\",\n
        \       \"id\": 64645927,\n        \"node_id\": \"RA_kwDOE0FU_s4D2msn\",\n
        \       \"name\": \"OpenBB.Terminal.Setup.exe\",\n        \"label\": null,\n
        \       \"uploader\": {\n          \"login\": \"piiq\",\n          \"id\":
        11668[...]
