interactions:
- request:
    body: null
    headers:
      Authorization:
      - MOCK_TOKEN
    method: GET
    uri: https://sandbox.tradier.com/v1/markets/quotes?symbols=AAPL&includeAllRoots=true&strikes=false
  response:
    body:
      string: '{"quotes":{"quote":{"symbol":"AAPL","description":"Apple Inc","exch":"Q","type":"stock","last":125.02,"change":0.00,"volume":110599,"open":null,"high":null,"low":null,"close":null,"bid":124.81,"ask":124.87,"change_percentage":0.00,"average_volume":83938969,"last_volume":6688900,"trade_date":1672952400445,"prevclose":125.02,"week_52_high":179.61,"week_52_low":124.17,"bidsize":1,"bidexch":"P","bid_date":1673005387000,"asksize":4,"askexch":"Q","ask_date":1673005394000,"root_symbols":"AAPL"}}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Allowed:
      - '200'
      X-Ratelimit-Available:
      - '198'
      X-Ratelimit-Expiry:
      - '1673006340000'
      X-Ratelimit-Used:
      - '2'
    status:
      code: 200
      message: ''
version: 1
