interactions:
- request:
    body: null
    headers:
      Authorization:
      - MOCK_TOKEN
    method: GET
    uri: https://sandbox.tradier.com/v1/markets/options/chains?symbol=AAPL&expiration=2025-01-17&greeks=true
  response:
    body:
      string: '{"options":{"option":[{"symbol":"AAPL250117P00050000","description":"AAPL
        Jan 17 2025 $50.00 Put","exch":"Z","type":"option","last":1.15,"change":-0.15,"volume":63,"open":1.2,"high":1.2,"low":1.15,"close":1.15,"bid":0.9,"ask":1.18,"underlying":"AAPL","strike":50.0,"greeks":{"delta":-0.0362729723983621,"gamma":6.955457825091315E-4,"theta":-0.00609558833486176,"vega":0.10196233465812052,"rho":0.8359004103377976,"phi":-2.4581054840203636,"bid_iv":0.432746,"mid_iv":0.445313,"ask_iv":0.45788,"smv_vol":0.444,"updated_at":"2023-01-06
        21:00:02"},"change_percentage":-11.54,"average_volume":0,"last_volume":2,"trade_date":1673038078756,"prevclose":1.3,"week_52_high":0.0,"week_52_low":0.0,"bidsize":553,"bidexch":"Q","bid_date":1673038799000,"asksize":2,"askexch":"N","ask_date":1673037991000,"open_interest":5529,"contract_size":100,"expiration_date":"2025-01-17","expiration_type":"standard","option_type":"put","root_symbol":"AAPL"},{"symbol":"AAPL250117C00050000","description":"AAPL
        Jan 17 2025 $50.00 Call","exch":"Z","type":"option","last":84.5,"change":4.98,"volume":1,"open":84.5,"high":84.5,"low":84.5,"close":84.5,"bid":82.15,"ask":85.95,"underlying":"AAPL","strike":50.0,"greeks":{"delta":0.9637270276016379,"gamma":6.955457825091315E-4,"theta":-0.00609558833486176,"vega":0.10196233465812052,"rho":0.8359004103377976,"phi":-2.4581054840203636,"bid_iv":0.0,"mid_iv":0.605051,"ask_iv":0.605051,"smv_vol":0.444[...]
