interactions:
- request:
    body: null
    headers:
      Authorization:
      - MOCK_TOKEN
    method: GET
    uri: https://sandbox.tradier.com/v1/markets/options/chains?symbol=AAPL&expiration=2025-01-17&greeks=true
  response:
    body:
      string: '{"options":{"option":[{"symbol":"AAPL250117P00050000","description":"AAPL
        Jan 17 2025 $50.00 Put","exch":"Z","type":"option","last":1.3,"change":0.00,"volume":0,"open":null,"high":null,"low":null,"close":null,"bid":1.18,"ask":1.35,"underlying":"AAPL","strike":50.0,"greeks":{"delta":-0.0349850669696836,"gamma":7.119151531799793E-4,"theta":-0.005979960339760774,"vega":0.09660759690143053,"rho":0.8451111690359961,"phi":-2.406809509695866,"bid_iv":0.449073,"mid_iv":0.455898,"ask_iv":0.462722,"smv_vol":0.455,"updated_at":"2023-01-05
        20:59:59"},"change_percentage":0.00,"average_volume":0,"last_volume":1,"trade_date":1672951248868,"prevclose":1.3,"week_52_high":0.0,"week_52_low":0.0,"bidsize":0,"bidexch":"X","bid_date":1672992000000,"asksize":0,"askexch":"X","ask_date":1672992000000,"open_interest":5529,"contract_size":100,"expiration_date":"2025-01-17","expiration_type":"standard","option_type":"put","root_symbol":"AAPL"},{"symbol":"AAPL250117C00050000","description":"AAPL
        Jan 17 2025 $50.00 Call","exch":"Z","type":"option","last":79.52,"change":0.00,"volume":0,"open":null,"high":null,"low":null,"close":null,"bid":77.65,"ask":81.55,"underlying":"AAPL","strike":50.0,"greeks":{"delta":0.9650149330303164,"gamma":7.119151531799793E-4,"theta":-0.005979960339760774,"vega":0.09660759690143053,"rho":0.8451111690359961,"phi":-2.406809509695866,"bid_iv":0.0,"mid_iv":0.599309,"ask_iv":0.599309,"smv_vol":0.45[...]
- request:
    body: null
    headers:
      Authorization:
      - MOCK_TOKEN
    method: GET
    uri: https://sandbox.tradier.com/v1/markets/history?symbol=AAPL250117P00090000&interval=daily
  response:
    body:
      string: '{"history":{"day":[{"date":"2023-01-03","open":7.5,"high":7.5,"low":7.08,"close":7.08,"volume":1070},{"date":"2023-01-05","open":7.0,"high":7.0,"low":7.0,"close":7.0,"volume":2}]}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Allowed:
      - '200'
      X-Ratelimit-Available:
      - '198'
      X-Ratelimit-Expiry:
      - '1673006340000'
      X-Ratelimit-Used:
      - '2'
    status:
      code: 200
      message: ''
version: 1
