interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/historical-rating/PLTR?apikey=845b22316eeec4168d249976bba94330
  response:
    body:
      string: "[ {\n  \"symbol\" : \"PLTR\",\n  \"date\" : \"2021-08-18\",\n  \"rating\"
        : \"B+\",\n  \"ratingScore\" : 4,\n  \"ratingRecommendation\" : \"Buy\",\n
        \ \"ratingDetailsDCFScore\" : 5,\n  \"ratingDetailsDCFRecommendation\" : \"Strong
        Buy\",\n  \"ratingDetailsROEScore\" : 3,\n  \"ratingDetailsROERecommendation\"
        : \"Neutral\",\n  \"ratingDetailsROAScore\" : 3,\n  \"ratingDetailsROARecommendation\"
        : \"Neutral\",\n  \"ratingDetailsDEScore\" : 3,\n  \"ratingDetailsDERecommendation\"
        : \"Neutral\",\n  \"ratingDetailsPEScore\" : 1,\n  \"ratingDetailsPERecommendation\"
        : \"Strong Sell\",\n  \"ratingDetailsPBScore\" : 5,\n  \"ratingDetailsPBRecommendation\"
        : \"Strong Buy\"\n}, {\n  \"symbol\" : \"PLTR\",\n  \"date\" : \"2021-08-17\",\n
        \ \"rating\" : \"B+\",\n  \"ratingScore\" : 4,\n  \"ratingRecommendation\"
        : \"Buy\",\n  \"ratingDetailsDCFScore\" : 5,\n  \"ratingDetailsDCFRecommendation\"
        : \"Strong Buy\",\n  \"ratingDetailsROEScore\" : 3,\n  \"ratingDetailsROERecommendation\"
        : \"Neutral\",\n  \"ratingDetailsROAScore\" : 3,\n  \"ratingDetailsROARecommendation\"
        : \"Neutral\",\n  \"ratingDetailsDEScore\" : [...]
