interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.m-x.ca/en/trading/data/options-list
  response:
    body:
      string: "<!DOCTYPE html>\n<html class=\"no-js\" xmlns=\"http://www.w3.org/1999/xhtml\"
        lang=\"en\" xmlns:og=\"http://opengraphprotocol.org/schema/\" xmlns:fb=\"http://www.facebook.com/2008/fbml\">\n<head>\n<meta
        charset=\"utf-8\" />\n<title>TMX - Montr\xE9al Exchange - Options List</title><meta
        name=\"viewport\" content=\"user-scalable=yes, initial-scale=1, minimum-scale=1,
        maximum-scale=3, width=device-width\" />\n<meta property=\"og:image\" content=\"https://www.tmx.com/assets/application/img/tmx_logo_highres.jpg\">\n<meta
        property=\"twitter:image\" content=\"https://www.tmx.com/assets/application/img/tmx_logo_highres.jpg\">\n<meta
        name=\"revisit-after\" content=\"1 day\" />\n<meta name=\"geo.placename\"
        content=\"Canada\" />\n<meta name=\"geo.region\" content=\"Montr\xE9al\" />\n<meta
        name=\"apple-mobile-web-app-capable\" content=\"yes\" />\n<meta name=\"apple-mobile-web-app-status-bar-style\"
        content=\"black\" />\n<link rel=\"apple-touch-icon\" href=\"/assets/application/img/touch-icon-iphone.png\"
        />\n<link rel=\"apple-touch-icon\" sizes=\"72x72\" href=\"/assets/application/img/touch-icon-ipad.png\"
        />\n<link rel=\"apple-touch-icon\" sizes=\"114x114\" href=\"/assets/application/img/touch-icon-iphone4.png\"
        />\n<link rel=\"apple-touch-icon-precomposed\" href=\"/assets/application/img/touch-icon-android.png\"
        />\n<link rel=\"icon\" href=\"/favicon.ico\" type=\"image/x-icon\" />\n<link
        rel=\"shortcut icon\" href=\"/favicon.ico\" type=\"image/x-icon\" />\n<link
        rel=\"profile\" href=\"http://microformats.org/profile/hcalendar\" />\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':\nnew
        Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],\nj=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=\n'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);\n})(window,document,'script','dataLayer','GTM-KDW587P');</script>\n<link
        rel=\"stylesheet\" type=\"text/css\" href=\"/assets/application/css/style.1683840901.min.css\"
        media=\"all\" />\n<link href=\"/assets/application/css/datatables.1643139492.min.css\"
        media=\"screen\" rel=\"stylesheet\" type=\"text/css\"></head>\n<body class=\"en
        trading data options-list\" id=\"page-id-62\">\n<noscript><iframe src=\"https://www.googletagmanager.com/ns.html?id=GTM-KDW587P\"
        height=\"0\" width=\"0\" style=\"display:none;visibility:hidden\" title=\"google
        manager\"></iframe></noscript>\n<div id=\"container-overall\" class=\"container-overall\">\n<div
        class=\"mp-pusher\" id=\"mp-pusher\">\n<nav id=\"mp-menu\" class=\"mp-menu\">\n<div
        class=\"mp-level\">\n<div class=\"menu-close\"><a href=\"#\" id=\"close_button\"><img
        src=\"/assets/application/img/close-menu.1632866266.png\" alt=\"X\" aria-label=\"Close
        Menu\" /></a></div>\n<ul>\n<li id=\"mmenu0-home\"><a href=\"/en\" class=\"home_link\">Home</a></li>\n<li
        id=\"mmenu0-1\" class=\"has-children\">\n<a href=\"#\">About Us</a>\n<div
        class=\"mp-level\">\n<div class=\"mp-back\" tabindex=\"0\">About Us</div>\n<ul>\n<li
        id=\"mmenu1-1\"><a href=\"/en/about-us\">About Us</a></li>\n<li id=\"mmenu1-6\"
        class=\"has-children\">\n<a href=\"#\">MX</a>\n<div class=\"mp-level\">\n<div
        class=\"mp-back\" tabindex=\"0\">MX</div>\n<ul>\n<li id=\"mmenu2-6\">[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.nasdaq.com/api/quote/SPY/option-chain?assetclass=stocks&fromdate=2010-09-09&todate=2030-09-09&excode=oprac&callput=callput&money=all&type=all
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAAAKtWSkksSVSyyivNydFRyk0tLk5MT4Vxi0sSS0qLlayqlYqc81OAwiYGBjpKSSC2
        L0xldLVSMljO0MDAUEcptagovwguqRRcmZuUn6OQl1+ikFqRWVxSrKdUG6ujlJJalpqTX5CKUAmy
        sLYWABjrwgWOAAAA
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-EdgeConnect-MidMile-RTT:
      - '61'
      - '61'
      - '65'
      - '61'
      X-EdgeConnect-Origin-MEX-Latency:
      - '20'
      - '20'
      - '20'
      - '20'
      gid:
      - '203'
      lang:
      - en
      rid:
      - 9247cc57-cc4b-4453-83c2-7d3d8aafd312
      srctype:
      - default
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.nasdaq.com/api/quote/SPY/option-chain?assetclass=index&fromdate=2010-09-09&todate=2030-09-09&excode=oprac&callput=callput&money=all&type=all
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAAAKtWSkksSVSyyivNydFRyk0tLk5MT4Vxi0sSS0qLlayqlYqc81OAwiYGBjpKSSC2
        L0xldLVSMljO0MDAUEcptagovwguqRRcmZuUn6OQl1+ikFqRWVxSrKdUG6ujlJJalpqTX5CKUAmy
        sLYWABjrwgWOAAAA
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-EdgeConnect-MidMile-RTT:
      - '72'
      - '76'
      - '72'
      X-EdgeConnect-Origin-MEX-Latency:
      - '22'
      - '22'
      - '22'
      cache-hit:
      - '3004'
      gid:
      - '201'
      lang:
      - en
      rid:
      - df4bc91c-c513-4b55-9edc-4f2d7d51f57b
      srctype:
      - default
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.nasdaq.com/api/quote/SPY/option-chain?assetclass=etf&fromdate=2010-09-09&todate=2030-09-09&excode=oprac&callput=callput&money=all&type=all
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAAANy9X481OXLm91UaDV/YQHcOgwz+mzvZWgMGtBAgyQYMXxjtUWs10Ls9hZ5u7wqL
        /e7LUyfzVDIYJ5nkSUZllhbQ6tRb1VX5PEkyfhFk8L99/88//fbT93/8b9//9pfffvr2Dz//6S+/
        /vP3f0Rjww/ff/vpr7/9068//fPP3//x+7/7m3/8p+/+6R/+5m//wx+/+58Q[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.nasdaq.com/api/quote/SPY/info?assetclass=stocks
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAAAKtWSkksSVSyyivNydFRyk0tLk5MT4Vxi0sSS0qLlayqlYqc81OAwiYGBjpKSSC2
        L0xldLVSMljO0MDAUEcptagovwguqRRcmZuUn6OQl1+ikFqRWVxSrKdUG6ujlJJalpqTX5CKUAmy
        sLYWABjrwgWOAAAA
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-EdgeConnect-MidMile-RTT:
      - '63'
      - '66'
      - '63'
      X-EdgeConnect-Origin-MEX-Latency:
      - '21'
      - '21'
      - '21'
      cache-hit:
      - '3004'
      - '3002'
      - '2001'
      gid:
      - '202'
      lang:
      - en
      rid:
      - b5157603-7b74-4907-9765-62ec47ef4211
      srctype:
      - default
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.nasdaq.com/api/quote/SPY/info?assetclass=index
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAAAKtWSkksSVSyyivNydFRyk0tLk5MT4Vxi0sSS0qLlayqlYqc81OAwiYGBjpKSSC2
        L0xldLVSMljO0MDAUEcptagovwguqRRcmZuUn6OQl1+ikFqRWVxSrKdUG6ujlJJalpqTX5CKUAmy
        sLYWABjrwgWOAAAA
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-EdgeConnect-MidMile-RTT:
      - '63'
      - '66'
      - '63'
      X-EdgeConnect-Origin-MEX-Latency:
      - '49'
      - '49'
      - '49'
      gid:
      - '101'
      lang:
      - en
      rid:
      - ae583ab4-4a49-43c9-8e6a-560676b13c83
      srctype:
      - default
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.nasdaq.com/api/quote/SPY/info?assetclass=etf
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAAAFWRXU/CMBSG/8rSqDcuWAaIcGcAo4mQhe3GGC8O6wGbde1cO+Ik/HdPkQ931z7v
        2/PxdscEOGDjHbNNsTKKjVkSv7GQZaYoQTcLKPDApssguYmDAeckWmeyPG1KknStVMjwO/sEvfHW
        OJmRQ9oFWAFfr9I6FGy8BmXxgrtU5sKeUV0sZSULqJrpcSwF1iWgMK5k5stf9bsPneGIWmh0k1PT
        W97pDomVWGWoHWzwv8T716QJVA5etJAZOFORUpdEff20AoGpLNA6KEpS5tAEURQGEY96h2WWCMob
        zlOupDhNtLh7JA/YvA3IkciflqF13xpVH7K95+GwPwh7oxHbU7SYGS3OAfzFS4Hk6BIHrrb0YqKM
        pVB9TUsh0AqeztInQjk23mdPT7Vxcu1XlkYTfP+gHrSohc358+yx7o5VEyMIR5zT/P48bzsFblEZ
        CrnF9/tfTCuSjEYCAAA=
    headers:
      Content-Type:
      - application/json; charset=utf-8
      cache-hit:
      - '3002'
      - '2001'
      gid:
      - '202'
      lang:
      - en
      rid:
      - 114f682b-aaa1-4242-a943-46dd240f2559
      srctype:
      - default
    status:
      code: 200
      message: OK
version: 1
