@mixin chroma_base {
  .chroma {
    color: var(--code-font-color);
    margin: 1rem 0;
  }
  .chroma code {
    background-color: var(--code-background);
    display: block;
    line-height: 1.45;
    font-size: 0.85em;
    border-radius: $border-radius;
  }
  .chroma .lntable {
    max-height: var(--code-max-height);

    code {
      max-height: none;
    }
  }
  .chroma .lntable td:first-child code {
    border-radius: 0;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }
  .chroma .lntable td:nth-child(2) code {
    border-radius: 0;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    padding-left: 0.5em;
  }
  .chroma .lntable td:nth-child(2) code .hl {
    width: auto;
    margin-left: -0.5em;
    padding: 0 0.5em;
  }

  .highlight {
    pre.chroma {
      margin: 0;
    }

    > pre.chroma code {
      padding: 1rem;
      width: 100%;
      overflow: auto;
    }
  }
}
