.flex {
  display: flex;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-25 {
  flex: 1 1 25%;
}

.flex-inline {
  display: inline-flex;
}

.flex-even {
  flex: 1 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grid {
  flex-direction: column;
  border: $border-1 solid var(--accent-color);
  border-radius: $border-radius;
  background: var(--accent-color-lite);
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.mx-auto {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.svg-sprite {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

.badge-placeholder {
  display: inline-block;
  min-width: 4rem;
}

@mixin spin($duration) {
  animation: spin $duration ease infinite;
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
}
