interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sentimentinvestor.com/v1/supported?symbol=AAPL&token=MOCK_TOKEN
  response:
    body:
      string: '{"success":true,"result":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1e-67lGrrcaMC/51/8ZvvIFlxBZfJs"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sentimentinvestor.com/v1/historical?end=2021-12-15&limit=100&start=2021-12-12&symbol=AAPL&token=MOCK_TOKEN
  response:
    body:
      string: '{"success":true,"start":"2021-12-12T00:00:00.000Z","end":"2021-12-15T00:00:00.000Z","limit":"100","symbol":"AAPL","results":[{"sentiment_count":70,"timestamp_date":"2021-12-12T00:00:00.000Z","total":131,"twitter":65,"stocktwits":27,"reddit_comment":31,"reddit_post":0,"yahoo":8,"ticker":"aapl","likes":114,"retweets":4,"user_followers":416846,"user_tweet_count":1004982,"RHI":2.8149,"AHI":3.0529,"SGP":0,"id":"hist_12_0_aapl"},{"sentiment_count":27,"timestamp_date":"2021-12-12T01:00:00.000Z","total":112,"twitter":50,"stocktwits":8,"reddit_comment":52,"reddit_post":0,"yahoo":2,"ticker":"aapl","likes":4569,"retweets":8,"user_followers":271574,"user_tweet_count":2065248,"RHI":2.4082,"AHI":2.6144,"SGP":0,"id":"hist_12_1_aapl"},{"sentiment_count":29,"timestamp_date":"2021-12-12T02:00:00.000Z","total":70,"twitter":47,"stocktwits":20,"reddit_comment":1,"reddit_post":0,"yahoo":2,"ticker":"aapl","likes":115,"[...]
