interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/PM?events=div%2Csplits&includePrePost=False&interval=1d&period1=MOCK_PERIOD_1&period2=MOCK_PERIOD_2
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"PM","exchangeName":"NYQ","instrumentType":"EQUITY","firstTradeDate":1205760600,"regularMarketTime":1647443589,"gmtoffset":-14400,"timezone":"EDT","exchangeTimezoneName":"America/New_York","regularMarketPrice":94.18,"chartPreviousClose":75.75,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EDT","end":1647437400,"start":1647417600,"gmtoffset":-14400},"regular":{"timezone":"EDT","end":1647460800,"start":1647437400,"gmtoffset":-14400},"post":{"timezone":"EDT","end":1647475200,"start":1647460800,"gmtoffset":-14400}},"dataGranularity":"1d","range":"","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1606833000],"indicators":{"quote":[{"close":[77.02999877929688],"open":[76.0199966430664],"low":[75.69000244140625],"volume":[6791700],"high":[77.12999725341797]}],"adjclose":[{"adjclose":[72.14187622070312]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - b58mrp5h33vk8
      y-rid:
      - b58mrp5h33vk8
    status:
      code: 200
      message: OK
version: 1
