interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/PM?events=div%2Csplits&includePrePost=False&interval=1d&period1=1605481200&period2=1637103600
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"PM","exchangeName":"NYQ","instrumentType":"EQUITY","firstTradeDate":1205760600,"regularMarketTime":1639069535,"gmtoffset":-18000,"timezone":"EST","exchangeTimezoneName":"America/New_York","regularMarketPrice":89.93,"chartPreviousClose":75.75,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EST","end":1639060200,"start":1639040400,"gmtoffset":-18000},"regular":{"timezone":"EST","end":1639083600,"start":1639060200,"gmtoffset":-18000},"post":{"timezone":"EST","end":1639098000,"start":1639083600,"gmtoffset":-18000}},"dataGranularity":"1d","range":"","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1606746600,1606833000],"indicators":{"quote":[{"volume":[5539100,6791700],"high":[76.08999633789062,77.12999725341797],"low":[75.41999816894531,75.69000244140625],"close":[75.75,77.02999877929688],"open":[75.69999694824219,76.0199966430664]}],"adjclose":[{"adjclose":[71.90919494628906,73.1242904663086]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - cc3g3clgr4dr8
      y-rid:
      - cc3g3clgr4dr8
    status:
      code: 200
      message: OK
version: 1
