interactions:
- request:
    body: '{"jurisdiction": "CFTC", "assetClass": "RATES", "currency": "CLP", "minNotionalAmount":
      "0", "maxNotionalAmount": "999999999999", "displayType": "w", "disseminationDateTimeLow":
      "07/13/2026", "disseminationDateTimeHigh": "07/15/2026", "productId": null,
      "underlyingAsset": null, "upi": null, "upiShortName": "NA/Swap OIS CLP", "name":
      null, "searchIndicator": "post"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://pddata.dtcc.com/ppd/api/search/webdisplay
  response:
    body:
      string: '{"tradeList":null,"errorList":[{"errorCode":"1009","errorMessage":"Dissemination
        Date Time format is not correct.","severity":"Fatal"}]}'
    headers:
      Akamai-GRN:
      - 0.8ed02e17.1784263290.1c009ed3
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"jurisdiction": "CFTC", "assetClass": "RATES", "currency": "CLP", "minNotionalAmount":
      "0", "maxNotionalAmount": "999999999999", "displayType": "w", "disseminationDateTimeLow":
      "2026-07-12T00:00:00.000Z", "disseminationDateTimeHigh": "2026-07-12T23:59:59.999Z",
      "productId": null, "underlyingAsset": null, "upi": null, "upiShortName": "NA/Swap
      OIS CLP", "name": null, "searchIndicator": "post"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://pddata.dtcc.com/ppd/api/search/webdisplay
  response:
    body:
      string: '{"tradeList":[],"errorList":null}'
    headers:
      Akamai-GRN:
      - 0.8ed02e17.1784263290.1c00a2db
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
