interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api-v2.intrinio.com/options/chain/AAPL/2025-01-17?api_key=MOCK_API_KEY
  response:
    body:
      string: '{"chain":[{"option":{"id":"opt_PdZ2QP","code":"AAPL250117C00310000","ticker":"AAPL","expiration":"2025-01-17","strike":310.0,"type":"call"},"price":{"date":"2022-12-30","close":1.02974,"close_bid":0.85,"close_ask":1.2,"volume":45,"volume_bid":37,"volume_ask":4,"trades":14,"open_interest":3141,"open_interest_change":21,"next_day_open_interest":0,"implied_volatility":0.298091,"implied_volatility_change":0.004288,"delta":0.053917}},{"option":{"id":"opt_pLpVR4","code":"AAPL250117C00300000","ticker":"AAPL","expiration":"2025-01-17","strike":300.0,"type":"call"},"price":{"date":"2022-12-30","close":1.23632,"close_bid":1.0,"close_ask":1.46,"volume":72,"volume_bid":68,"volume_ask":2,"trades":10,"open_interest":2454,"open_interest_change":26,"next_day_open_interest":0,"implied_volatility":0.298114,"implied_volatility_change":-0.001098,"delta":0.063111}},{"option":{"id":"opt_ON82rD","code":"AAPL250117C00290000","ticker[...]
