interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api-v2.intrinio.com/securities/AAPL?api_key=MOCK_API_KEY
  response:
    body:
      string: '{"id":"sec_agjrgj","company_id":"com_NX6GzO","stock_exchange_id":"sxg_ozMr9y","name":"Apple
        Inc","type":"Ordinary Shares","code":"EQS","share_class":"AAPL","currency":"USD","round_lot_size":100,"ticker":"AAPL","exchange_ticker":"AAPL:UW","composite_ticker":"AAPL:US","alternate_tickers":[],"figi":"BBG000B9Y5X2","cik":"0000320193","composite_figi":"BBG000B9XRY4","share_class_figi":"BBG001S5N8V8","figi_uniqueid":"EQ0010169500001000","primary_security":true,"primary_listing":true,"active":true,"etf":false,"delisted":false,"first_stock_price":"1980-12-12","last_stock_price":"2023-05-19","last_stock_price_adjustment":"2023-05-12","last_corporate_action":"2023-05-11","previous_tickers":[],"listing_exchange_mic":"XNAS"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api-v2.intrinio.com/options/tickers?api_key=MOCK_API_KEY
  response:
    body:
      string: '{"tickers":["1AAPL","1ABST","1AGI","1AHCO","1ALLT","1ALLY","1AMC","1AMZN","1ARKK","1ASND","1BABA","1BAC","1BKNG","1BZH","1C","1CAR","1CCL","1CERE","1CGNT","1CHWY","1CLF","1COF","1CTVA","1CURI","1DAL","1DD","1DKS","1DOCU","1DXCM","1ECPG","1EFA","1EGO","1EVA","1EXPE","1F","1FB","1HES","1ILMN","1JPM","1KWEB","1LYFT","1META","1MGM","1MGNI","1MSFT","1MUR","1NECB","1NEM","1NFLX","1NKLA","1NRG","1NU","1OPEN","1PBR","1PRU","1PYPL","1QCOM","1QQQ","1RCL","1ROKU","1RUT","1SIRI","1SPOK","1SPOT","1SPX","1SPY","1STX","1[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api-v2.intrinio.com/securities/AAPL/prices/realtime?api_key=MOCK_API_KEY
  response:
    body:
      string: '{"messages":["market_center, listing_venue, sales_conditions, and quote_conditions
        are only available with our delayed sip feed."],"last_price":174.97,"last_time":"2023-05-19T21:45:34.000Z","last_size":null,"bid_price":174.96,"bid_size":200,"ask_price":174.99,"ask_size":10,"open_price":175.3,"close_price":null,"high_price":176.33,"low_price":174.97,"exchange_volume":2888628,"market_volume":null,"updated_on":"2023-05-19T22:00:37.119Z","source":"bats_delayed","listing_venue":null,"sales_conditions":null,"quote_conditions":null,"market_center_code":null,"is_darkpool":null,"security":{"id":"sec_agjrgj","ticker":"AAPL","exchange_ticker":"AAPL:UW","figi":"BBG000B9Y5X2","composite_figi":"BBG000B9XRY4"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api-v2.intrinio.com/options/expirations/AAPL?after=MOCK_AFTER&api_key=MOCK_API_KEY&before=MOCK_BEFORE
  response:
    body:
      string: '{"expirations":["2025-12-19","2025-06-20","2025-01-17","2024-12-20","2024-09-20","2024-06-21","2024-03-15","2024-01-19","2023-12-15","2023-11-17","2023-10-20","2023-09-15","2023-08-18","2023-07-21","2023-06-30","2023-06-23","2023-06-16","2023-06-09","2023-06-02","2023-05-26"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api-v2.intrinio.com/options/chain/AAPL/2025-12-19?api_key=MOCK_API_KEY
  response:
    body:
      string: '{"chain":[{"option":{"id":"opt_7bA87P","code":"AAPL251219C00310000","ticker":"AAPL","expiration":"2025-12-19","strike":310.0,"type":"call"},"price":{"date":"2023-05-19","close":3.35,"close_bid":3.2,"close_ask":3.5,"volume":25,"volume_bid":2,"volume_ask":23,"trades":4,"open_interest":482,"open_interest_change":2,"next_day_open_interest":0,"implied_volatility":0.222558,"implied_volatility_change":-0.001645,"delta":0.128507}},{"option":{"id":"opt_n65JBl","code":"AAPL251219C00300000","ticker":"AAPL","expiration":"2025-12-19","strike":300.0,"type":"call"},"price":{"date":"2023-05-19","close":4.175,"close_bid":3.85,"close_ask":4.5,"volume":53,"volume_bid":1,"volume_ask":51,"trades":5,"open_interest":5881,"open_interest_change":97,"next_day_open_interest":0,"implied_volatility":0.225374,"implied_volatility_change":-0.000249,"delta":0.152592}},{"option":{"id":"opt_apD10D","code":"AAPL251219C00290000","ticker":"[...]
[...]
