interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api-v2.intrinio.com/options/chain/AAPL/2025-01-17?api_key=MOCK_API_KEY
  response:
    body:
      string: '{"chain":[{"option":{"id":"opt_PdZ2QP","code":"AAPL250117C00310000","ticker":"AAPL","expiration":"2025-01-17","strike":310.0,"type":"call"},"price":{"date":"2022-12-28","close":0.905002,"close_bid":0.8,"close_ask":1.01,"volume":241,"volume_bid":28,"volume_ask":157,"trades":30,"open_interest":3113,"open_interest_change":98,"next_day_open_interest":0,"implied_volatility":0.300484,"implied_volatility_change":0.00729,"delta":0.049151}},{"option":{"id":"opt_pLpVR4","code":"AAPL250117C00300000","ticker":"AAPL","expiration":"2025-01-17","strike":300.0,"type":"call"},"price":{"date":"2022-12-28","close":1.085,"close_bid":1.0,"close_ask":1.17,"volume":48,"volume_bid":13,"volume_ask":15,"trades":20,"open_interest":2413,"open_interest_change":-13,"next_day_open_interest":0,"implied_volatility":0.301274,"implied_volatility_change":0.007622,"delta":0.057473}},{"option":{"id":"opt_ON82rD","code":"AAPL250117C00290000","ticker"[...]
