interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api-v2.intrinio.com/securities/AAPL/historical_data/adj_close_price?api_key=MOCK_API_KEY&end_date=2022-12-27&frequency=daily&start_date=2022-12-27
  response:
    body:
      string: '{"historical_data":[{"date":"2022-12-27","value":130.03}],"security":{"id":"sec_agjrgj","company_id":"com_NX6GzO","stock_exchange_id":"sxg_ozMr9y","name":"Apple
        Inc","code":"EQS","currency":"USD","ticker":"AAPL","composite_ticker":"AAPL:US","figi":"BBG000B9Y5X2","composite_figi":"BBG000B9XRY4","share_class_figi":"BBG001S5N8V8","primary_listing":true},"next_page":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api-v2.intrinio.com/securities/AAPL/historical_data/adj_close_price?api_key=MOCK_API_KEY&end_date=2022-12-27&frequency=daily&start_date=2022-12-27
  response:
    body:
      string: '{"historical_data":[{"date":"2022-12-27","value":129.65243442773397}],"security":{"id":"sec_agjrgj","company_id":"com_NX6GzO","stock_exchange_id":"sxg_ozMr9y","name":"Apple
        Inc","code":"EQS","currency":"USD","ticker":"AAPL","composite_ticker":"AAPL:US","figi":"BBG000B9Y5X2","composite_figi":"BBG000B9XRY4","share_class_figi":"BBG001S5N8V8","primary_listing":true},"next_page":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
