interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api-v2.intrinio.com/options/expirations/AAPL?after=MOCK_AFTER&api_key=MOCK_API_KEY&before=MOCK_BEFORE
  response:
    body:
      string: '{"expirations":["2025-01-17","2024-06-21","2024-03-15","2024-01-19","2023-12-15","2023-10-20","2023-09-15","2023-07-21","2023-06-16","2023-05-19","2023-04-21","2023-03-17","2023-02-17","2023-02-10","2023-02-03","2023-01-27","2023-01-20","2023-01-13","2023-01-06"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api-v2.intrinio.com/options/chain/AAPL/2025-01-17/eod?api_key=MOCK_API_KEY&date=2022-12-27
  response:
    body:
      string: '{"chain":[{"option":{"code":"AAPL250117C00310000","ticker":"AAPL","expiration":"2025-01-17","strike":310.0,"type":"call"},"prices":{"date":"2022-12-27","close":0.98,"close_bid":0.9,"close_ask":1.05,"volume":210,"open":1.3,"open_ask":1.63,"open_bid":0.42,"open_interest":3015,"high":1.3,"low":0.98,"mark":0.0,"ask_high":2.5,"ask_low":1.01,"bid_high":1.26,"bid_low":0.61,"implied_volatility":0.24227,"delta":0.05024,"gamma":0.00194,"theta":-0.00444,"vega":0.22777}},{"option":{"code":"AAPL250117C00300000","ticker":"AAPL","expiration":"2025-01-17","strike":300.0,"type":"call"},"prices":{"date":"2022-12-27","close":1.15,"close_bid":1.1,"close_ask":1.29,"volume":19,"open":1.21,"open_ask":2.97,"open_bid":1.0,"open_interest":2426,"high":1.21,"low":1.15,"mark":0.0,"ask_high":2.1,"ask_low":1.15,"bid_high":1.32,"bid_low":0.75,"implied_volatility":0.24151,"delta":0.06007,"gamma":0.00224,"theta":-0.00513,"vega":0.2623}},{"option":{"code":"AAPL250117C0029000[...]
[...]
