interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api-v2.intrinio.com/securities/AAPL?api_key=MOCK_API_KEY
  response:
    body:
      string: '{"id":"sec_agjrgj","company_id":"com_NX6GzO","stock_exchange_id":"sxg_ozMr9y","name":"Apple
        Inc","type":"Ordinary Shares","code":"EQS","share_class":"AAPL","currency":"USD","round_lot_size":100,"ticker":"AAPL","exchange_ticker":"AAPL:UW","composite_ticker":"AAPL:US","alternate_tickers":[],"figi":"BBG000B9Y5X2","cik":"0000320193","composite_figi":"BBG000B9XRY4","share_class_figi":"BBG001S5N8V8","figi_uniqueid":"EQ0010169500001000","primary_security":true,"primary_listing":true,"active":true,"etf":false,"delisted":false,"first_stock_price":"1980-12-12","last_stock_price":"2023-05-15","last_stock_price_adjustment":"2023-05-12","last_corporate_action":"2023-05-11","previous_tickers":[],"listing_exchange_mic":"XNAS"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api-v2.intrinio.com/options/tickers?api_key=MOCK_API_KEY
  response:
    body:
      string: '{"tickers":["1AAPL","1ABST","1AGI","1AHCO","1ALLT","1ALLY","1AMC","1AMWL","1AMZN","1ARCH","1ARKK","1ASND","1BABA","1BAC","1BKNG","1BZH","1C","1CAR","1CCL","1CERE","1CGNT","1CHWY","1CLF","1COF","1CTVA","1CURI","1DAL","1DD","1DKS","1DOCU","1DXCM","1ECPG","1EFA","1EGO","1EVA","1EXPE","1F","1FB","1GDX","1HES","1ILMN","1JPM","1KWEB","1LYFT","1META","1MGM","1MGNI","1MSFT","1MUR","1NECB","1NEM","1NFLX","1NKLA","1NRG","1NU","1OPEN","1PBR","1PRU","1PYPL","1QCOM","1QQQ","1RCL","1RIG","1ROKU","1RUT","1SIRI","1SPOK","[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api-v2.intrinio.com/securities/AAPL/prices/realtime?api_key=MOCK_API_KEY
  response:
    body:
      string: '{"messages":["market_center, listing_venue, sales_conditions, and quote_conditions
        are only available with our delayed sip feed."],"last_price":171.97,"last_time":"2023-05-15T21:45:33.000Z","last_size":null,"bid_price":171.94,"bid_size":2,"ask_price":172.03,"ask_size":807,"open_price":172.97,"close_price":null,"high_price":173.32,"low_price":171.48,"exchange_volume":1846549,"market_volume":null,"updated_on":"2023-05-15T22:00:34.568Z","source":"bats_delayed","listing_venue":null,"sales_conditions":null,"quote_conditions":null,"market_center_code":null,"is_darkpool":null,"security":{"id":"sec_agjrgj","ticker":"AAPL","exchange_ticker":"AAPL:UW","figi":"BBG000B9Y5X2","composite_figi":"BBG000B9XRY4"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api-v2.intrinio.com/options/expirations/AAPL?after=MOCK_AFTER&api_key=MOCK_API_KEY&before=MOCK_BEFORE
  response:
    body:
      string: '{"expirations":["2025-12-19","2025-06-20","2025-01-17","2024-12-20","2024-09-20","2024-06-21","2024-03-15","2024-01-19","2023-12-15","2023-11-17","2023-10-20","2023-09-15","2023-08-18","2023-07-21","2023-06-30","2023-06-23","2023-06-16","2023-06-09","2023-06-02","2023-05-26","2023-05-19"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api-v2.intrinio.com/options/chain/AAPL/2025-12-19?api_key=MOCK_API_KEY
  response:
    body:
      string: '{"chain":[{"option":{"id":"opt_7bA87P","code":"AAPL251219C00310000","ticker":"AAPL","expiration":"2025-12-19","strike":310.0,"type":"call"},"price":{"date":"2023-05-15","close":3.17495,"close_bid":3.05,"close_ask":3.3,"volume":15,"volume_bid":4,"volume_ask":1,"trades":5,"open_interest":471,"open_interest_change":19,"next_day_open_interest":0,"implied_volatility":0.227746,"implied_volatility_change":-0.003128,"delta":0.122629}},{"option":{"id":"opt_n65JBl","code":"AAPL251219C00300000","ticker":"AAPL","expiration":"2025-12-19","strike":300.0,"type":"call"},"price":{"date":"2023-05-15","close":3.87499,"close_bid":3.8,"close_ask":3.95,"volume":291,"volume_bid":210,"volume_ask":69,"trades":37,"open_interest":5771,"open_interest_change":34,"next_day_open_interest":0,"implied_volatility":0.229374,"implied_volatility_change":-0.004046,"delta":0.143792}},{"option":{"id":"opt_apD10D","code":"AAPL251219C00290000","tic[...]
[...]
