interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://kermankohli.substack.com/feed
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><rss xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
        xmlns:content=\"http://purl.org/rss/1.0/modules/content/\" xmlns:atom=\"http://www.w3.org/2005/Atom\"
        version=\"2.0\" xmlns:itunes=\"http://www.itunes.com/dtds/podcast-1.0.dtd\"
        xmlns:googleplay=\"http://www.google.com/schemas/play-podcasts/1.0\"><channel><title><![CDATA[Kerman
        Kohli]]></title><description><![CDATA[I write about the cutting edge of DeFi,
        Reputation & Web3 as a serial-founder and angel investor. ]]></description><link>https://kermankohli.substack.com</link><image><url>https://substackcdn.com/image/fetch/w_256,c_limit,f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fbucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com%2Fpublic%2Fimages%2F1f410752-5752-4cfc-a56f-3677bcb4504c_972x972.png</url><title>Kerman
        Kohli</title><link>https://kermankohli.substack.com</link></image><generator>Substack</generator><lastBuildDate>Wed,
        15 Mar 2023 17:35:59 GMT</lastBuildDate><atom:link href=\"https://kermankohli.substack.com/feed\"
        rel=\"self\" type=\"application/rss+xml\"/><copyright><![CDATA[Kerman Kohli]]></copyright><language><![CDATA[en]]></language><webMaster><![CDATA[kermankohli@substack.com]]></webMaster><itunes:owner><itunes:email><![CDATA[kermankohli@substack.com]]></itunes:email><itunes:name><![CDATA[Kerman
        Kohli]]></itunes:name></itunes:owner><itunes:author><![CDATA[Kerman Kohli]]></itunes:author><googleplay:owner><![CDATA[kermankohli@substack.com]]></googleplay:owner><googleplay:email><![CDATA[kermankohli@substack.com]]></googleplay:email><googleplay:author><![CDATA[Kerman
        Kohli]]></googleplay:author><item><title><![CDATA[Value Capture, AI and Crypto]]></title><description><![CDATA[Some
        thoughts on value capture and AI]]></description><link>https://kermankohli.substack.com/p/value-capture-ai-and-crypto</link><guid
        isPermaLink=\"true\">https://kermankohli.substack.com/p/value-capture-ai-and-crypto</guid><dc:creator><![CDATA[Kerman
        Kohli]]></dc:creator><pubDate>Mon, 06 Mar 2023 21:29:46 GMT</pubDate><enclosure
        url=\"https://substack-post-media.s3.amazonaws.com/public/images/f1bdd65c-355b-4397-be5f-8abf3fdbd172_1024x1024.png\"
        length=\"0\" type=\"image/jpeg\"/><content:encoded><![CDATA[<h1>Value Capture,
        AI and Crypto</h1><p>I&#8217;ve said this before but it&#8217;s becoming increasingly
        clear from other thinkers in the space:</p><p>The people who create LLM/AI
        models won&#8217;t be the ones who capture the value they create.</p><p>This
        is in stark contrast to crypto where the people who create the technology
        capture a good chunk of the value (be close to the money, and you&#8217;ll
        be good).</p><div class=\"tweet\" data-attrs=\"{&quot;url&quot;:&quot;https://twitter.com/zxocw/status/1630490532781895680&quot;,&quot;full_text&quot;:&quot;in
        crypto nearly 100% of value accrues to start-ups and outsiders, not existing
        establishment interests\\n\\nvalue capture in AI technologies will be primarily
        by incumbants. there will be valuable startups, but for example even openai
        realized they needed to align with legacy tech&quot;,&quot;username&quot;:&quot;zxocw&quot;,&quot;name&quot;:&quot;olaf&quot;,&quot;date&quot;:&quot;Tue
        Feb 28 08:50:10 +0000 2023&quot;,&quot;photos&quot;:[],&quot;quoted_tweet&quot;:{},&quot;retweet_count&quot;:19,&quot;like_count&quot;:244,&quot;expanded_url&quot;:{},&quot;video_url&quot;:null,&quot;belowTheFold&quot;:false}\"><a
        class=\"tweet-link-top\" href=\"https://twitter.com/zxocw/status/1630490532781895680\"
        target=\"_blank\"><div class=\"tweet-header\"><img class=\"tweet-header-avatar\"
        src=\"https://substackcdn.com/image/twitter_name/w_96/zxocw.jpg\" alt=\"Twitter
        avatar for @zxocw\"><div class=\"tweet-header-text\"><span class=\"tweet-author-name\">olaf
        </span><span class=\"tweet-author-handle\">@zxocw</span></div></div><div class=\"tweet-text\">in
        crypto nearly 100% of value accrues to start-ups and outsiders, not existing
        establishment interests\n\nvalue capture in AI technologies will be primarily
        by incumbants. there will be valuable startups, but for example even openai
        realized they needed to align with legacy tech</div></a><a class=\"tweet-link-bottom\"
        href=\"https://twitter.com/zxocw/status/1630490532781895680\" target=\"_blank\"><div
        class=\"tweet-footer\"><span class=\"tweet-date\">8:50 AM &#8729; Feb 28,
        2023</span><hr><div class=\"tweet-ufi\"><span href=\"https://twitter.com/zxocw/status/1630490532781895680/likes\"
        class=\"likes\"><span class=\"like-count\">244</span>Likes</span><span href=\"https://twitter.com/zxocw/status/1630490532781895680/retweets\"
        class=\"retweets\"><span class=\"rt-count\">19</span>Retweets</span></div></div></a></div><p>OpenAI
        already knows this and has deployed a multi-pronged approach to capture the
        value that it creates:</p><ol><li><p>Get people hooked on their API and develop
        network effects with it</p></li><li><p>Invest in other startups that use their
        tech (not perfect but still pretty good)</p></li><li><p>Work directly with
        brands who might benefit from the value they provide</p></li></ol><div class=\"tweet\"
        data-attrs=\"{&quot;url&quot;:&quot;https://twitter.com/DrJimFan/status/1628414866544525319&quot;,&quot;full_text&quot;:&quot;OpenAI
        is now helping Coca-Cola improve its mar[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://thedefiant.io/api/feed
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAAA+xb23IbR5J911eUsZbDjkXjSvBmkg6KFGWFTJkj0FKMJyYche4CUGZ3V09XNUHw
        yR+xLxOxG7FP+yH7Kf6SPZnV3WiQlEk4fJmHVUgiLl1ZVZknM09mFZ8JcZBbK65VbrVJD1uDTq8l
        bpI4tfuhSZ1K3WFr7lxm97vdrMjjjslnXYzo9ju9bmKiIla2Wz7ZrUYupovVqIWK46nJExUt1ISH
        n5gkwePHF6/rEVH4wDRR2FWxokdpun79sHQmachfLDqLIQ8Y9Hqj7jG+rZ60yyes3i7TSIfSYf/1
        FDaWdv6Usf[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://thedailygwei.substack.com/feed
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><rss xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
        xmlns:content=\"http://purl.org/rss/1.0/modules/content/\" xmlns:atom=\"http://www.w3.org/2005/Atom\"
        version=\"2.0\" xmlns:itunes=\"http://www.itunes.com/dtds/podcast-1.0.dtd\"
        xmlns:googleplay=\"http://www.google.com/schemas/play-podcasts/1.[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://todayindefi.substack.com/feed
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><rss xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
        xmlns:content=\"http://purl.org/rss/1.0/modules/content/\" xmlns:atom=\"http://www.w3.org/2005/Atom\"
        version=\"2.0\" xmlns:itunes=\"http://www.itunes.com/dtds/podcast-1.0.dtd\"
        xmlns:googleplay=\"http://www.google.com/schemas/play-podcasts/1.0[...]
