interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/TSLA?interval=1d&range=1d
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"TSLA","exchangeName":"NMS","instrumentType":"EQUITY","firstTradeDate":1277818200,"regularMarketTime":1680638404,"gmtoffset":-14400,"timezone":"EDT","exchangeTimezoneName":"America/New_York","regularMarketPrice":192.58,"chartPreviousClose":194.77,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EDT","start":1680595200,"end":1680615000,"gmtoffset":-14400},"regular":{"timezone":"EDT","start":1680615000,"end":1680638400,"gmtoffset":-14400},"post":{"timezone":"EDT","start":1680638400,"end":1680652800,"gmtoffset":-14400}},"dataGranularity":"1d","range":"1d","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1680638404],"indicators":{"quote":[{"open":[197.32000732421875],"volume":[126463845],"low":[190.32000732421875],"close":[192.5800018310547],"high":[198.74459838867188]}],"adjclose":[{"adjclose":[192.5800018310547]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 5131ckpi2piln
      y-rid:
      - 5131ckpi2piln
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/TSLA?events=div%2Csplits%2CcapitalGains&includePrePost=False&interval=1d&period1=MOCK_PERIOD_1&period2=MOCK_PERIOD_2
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"TSLA","exchangeName":"NMS","instrumentType":"EQUITY","firstTradeDate":1277818200,"regularMarketTime":1680638404,"gmtoffset":-14400,"timezone":"EDT","exchangeTimezoneName":"America/New_York","regularMarketPrice":192.58,"chartPreviousClose":308.973,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EDT","end":1680615000,"start":1680595200,"gmtoffset":-14400},"regular":{"timezone":"EDT","end":1680638400,"start":1680615000,"gmtoffset":-14400},"post":{"timezone":"EDT","end":1680652800,"start":1680638400,"gmtoffset":-14400}},"dataGranularity":"1d","range":"","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1639751400],"indicators":{"quote":[{"open":[304.92333984375],"low":[303.0133361816406],"close":[310.8566589355469],"volume":[100437300],"high":[320.2200012207031]}],"adjclose":[{"adjclose":[310.8566589355469]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - a1ufpo5i2piln
      y-rid:
      - a1ufpo5i2piln
    status:
      code: 200
      message: OK
version: 1
