interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/TSLA?interval=1d&range=1d
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"TSLA","exchangeName":"NMS","instrumentType":"EQUITY","firstTradeDate":1277818200,"regularMarketTime":1680811204,"gmtoffset":-14400,"timezone":"EDT","exchangeTimezoneName":"America/New_York","regularMarketPrice":185.06,"chartPreviousClose":185.52,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EDT","end":1680787800,"start":1680768000,"gmtoffset":-14400},"regular":{"timezone":"EDT","end":1680811200,"start":1680787800,"gmtoffset":-14400},"post":{"timezone":"EDT","end":1680825600,"start":1680811200,"gmtoffset":-14400}},"dataGranularity":"1d","range":"1d","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1680811204],"indicators":{"quote":[{"volume":[123857932],"high":[186.38999938964844],"open":[183.0800018310547],"low":[179.74000549316406],"close":[185.05999755859375]}],"adjclose":[{"adjclose":[185.05999755859375]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 8go2nq1i2uric
      y-rid:
      - 8go2nq1i2uric
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/TSLA?events=div%2Csplits%2CcapitalGains&includePrePost=False&interval=1d&period1=MOCK_PERIOD_1&period2=MOCK_PERIOD_2
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"TSLA","exchangeName":"NMS","instrumentType":"EQUITY","firstTradeDate":1277818200,"regularMarketTime":1680811204,"gmtoffset":-14400,"timezone":"EDT","exchangeTimezoneName":"America/New_York","regularMarketPrice":185.06,"chartPreviousClose":308.973,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EDT","start":1680768000,"end":1680787800,"gmtoffset":-14400},"regular":{"timezone":"EDT","start":1680787800,"end":1680811200,"gmtoffset":-14400},"post":{"timezone":"EDT","start":1680811200,"end":1680825600,"gmtoffset":-14400}},"dataGranularity":"1d","range":"","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1639751400],"indicators":{"quote":[{"low":[303.0133361816406],"high":[320.2200012207031],"volume":[100437300],"open":[304.92333984375],"close":[310.8566589355469]}],"adjclose":[{"adjclose":[310.8566589355469]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 99v3pp1i2urid
      y-rid:
      - 99v3pp1i2urid
    status:
      code: 200
      message: OK
version: 1
