interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/TSLA?interval=1d&range=1d
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"TSLA","exchangeName":"NMS","instrumentType":"EQUITY","firstTradeDate":1277818200,"regularMarketTime":1682107204,"gmtoffset":-14400,"timezone":"EDT","exchangeTimezoneName":"America/New_York","regularMarketPrice":165.08,"chartPreviousClose":162.99,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EDT","start":1682064000,"end":1682083800,"gmtoffset":-14400},"regular":{"timezone":"EDT","start":1682083800,"end":1682107200,"gmtoffset":-14400},"post":{"timezone":"EDT","start":1682107200,"end":1682121600,"gmtoffset":-14400}},"dataGranularity":"1d","range":"1d","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1682083800],"indicators":{"quote":[{"volume":[123352300],"open":[164.8000030517578],"low":[161.32000732421875],"high":[166.0],"close":[165.0800018310547]}],"adjclose":[{"adjclose":[165.0800018310547]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 6re6lv1i47nf6
      y-rid:
      - 6re6lv1i47nf6
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/TSLA?events=div%2Csplits%2CcapitalGains&includePrePost=False&interval=1d&period1=MOCK_PERIOD_1&period2=MOCK_PERIOD_2
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"TSLA","exchangeName":"NMS","instrumentType":"EQUITY","firstTradeDate":1277818200,"regularMarketTime":1682107204,"gmtoffset":-14400,"timezone":"EDT","exchangeTimezoneName":"America/New_York","regularMarketPrice":165.08,"chartPreviousClose":308.973,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EDT","end":1682083800,"start":1682064000,"gmtoffset":-14400},"regular":{"timezone":"EDT","end":1682107200,"start":1682083800,"gmtoffset":-14400},"post":{"timezone":"EDT","end":1682121600,"start":1682107200,"gmtoffset":-14400}},"dataGranularity":"1d","range":"","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1639751400],"indicators":{"quote":[{"volume":[100437300],"open":[304.92333984375],"high":[320.2200012207031],"low":[303.0133361816406],"close":[310.8566589355469]}],"adjclose":[{"adjclose":[310.8566589355469]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 7hlocb9i47nf6
      y-rid:
      - 7hlocb9i47nf6
    status:
      code: 200
      message: OK
version: 1
