interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/TSLA?interval=1d&range=1d
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"TSLA","exchangeName":"NMS","instrumentType":"EQUITY","firstTradeDate":1277818200,"regularMarketTime":1685036177,"gmtoffset":-14400,"timezone":"EDT","exchangeTimezoneName":"America/New_York","regularMarketPrice":184.51,"chartPreviousClose":182.9,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EDT","end":1685021400,"start":1685001600,"gmtoffset":-14400},"regular":{"timezone":"EDT","end":1685044800,"start":1685021400,"gmtoffset":-14400},"post":{"timezone":"EDT","end":1685059200,"start":1685044800,"gmtoffset":-14400}},"dataGranularity":"1d","range":"1d","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1685036177],"indicators":{"quote":[{"open":[186.5399932861328],"close":[184.51010131835938],"high":[186.77999877929688],"volume":[66805072],"low":[180.5800018310547]}],"adjclose":[{"adjclose":[184.51010131835938]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - ceb4aqdi6v74i
      y-rid:
      - ceb4aqdi6v74i
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/TSLA?events=div%2Csplits%2CcapitalGains&includePrePost=False&interval=1d&period1=MOCK_PERIOD_1&period2=MOCK_PERIOD_2
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"TSLA","exchangeName":"NMS","instrumentType":"EQUITY","firstTradeDate":1277818200,"regularMarketTime":1685036177,"gmtoffset":-14400,"timezone":"EDT","exchangeTimezoneName":"America/New_York","regularMarketPrice":184.52,"chartPreviousClose":308.973,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EDT","start":1685001600,"end":1685021400,"gmtoffset":-14400},"regular":{"timezone":"EDT","start":1685021400,"end":1685044800,"gmtoffset":-14400},"post":{"timezone":"EDT","start":1685044800,"end":1685059200,"gmtoffset":-14400}},"dataGranularity":"1d","range":"","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1639751400],"indicators":{"quote":[{"high":[320.2200012207031],"volume":[100437300],"low":[303.0133361816406],"close":[310.8566589355469],"open":[304.92333984375]}],"adjclose":[{"adjclose":[310.8566589355469]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 7aal5spi6v74i
      y-rid:
      - 7aal5spi6v74i
    status:
      code: 200
      message: OK
version: 1
