interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/TSLA?events=div%2Csplits%2CcapitalGains&includePrePost=False&interval=1d&period1=MOCK_PERIOD_1&period2=MOCK_PERIOD_2
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"TSLA","exchangeName":"NMS","instrumentType":"EQUITY","firstTradeDate":1277818200,"regularMarketTime":1674248404,"gmtoffset":-18000,"timezone":"EST","exchangeTimezoneName":"America/New_York","regularMarketPrice":133.42,"chartPreviousClose":308.973,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EST","start":1674464400,"end":1674484200,"gmtoffset":-18000},"regular":{"timezone":"EST","start":1674484200,"end":1674507600,"gmtoffset":-18000},"post":{"timezone":"EST","start":1674507600,"end":1674522000,"gmtoffset":-18000}},"dataGranularity":"1d","range":"","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1639751400],"indicators":{"quote":[{"low":[303.0133361816406],"high":[320.2200012207031],"close":[310.8566589355469],"open":[304.92333984375],"volume":[100437300]}],"adjclose":[{"adjclose":[310.8566589355469]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 5bfkhiphst4e7
      y-rid:
      - 5bfkhiphst4e7
    status:
      code: 200
      message: OK
version: 1
