interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/TSLA?interval=1d&range=1d
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"TSLA","exchangeName":"NMS","instrumentType":"EQUITY","firstTradeDate":1277818200,"regularMarketTime":1675112404,"gmtoffset":-18000,"timezone":"EST","exchangeTimezoneName":"America/New_York","regularMarketPrice":166.66,"chartPreviousClose":177.9,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EST","end":1675175400,"start":1675155600,"gmtoffset":-18000},"regular":{"timezone":"EST","end":1675198800,"start":1675175400,"gmtoffset":-18000},"post":{"timezone":"EST","end":1675213200,"start":1675198800,"gmtoffset":-18000}},"dataGranularity":"1d","range":"1d","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1675089000],"indicators":{"quote":[{"close":[166.66000366210938],"low":[166.5],"high":[179.77000427246094],"volume":[230203200],"open":[178.0500030517578]}],"adjclose":[{"adjclose":[166.66000366210938]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 4hstn7hhths6g
      y-rid:
      - 4hstn7hhths6g
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/TSLA?events=div%2Csplits%2CcapitalGains&includePrePost=False&interval=1d&period1=MOCK_PERIOD_1&period2=MOCK_PERIOD_2
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"TSLA","exchangeName":"NMS","instrumentType":"EQUITY","firstTradeDate":1277818200,"regularMarketTime":1675112404,"gmtoffset":-18000,"timezone":"EST","exchangeTimezoneName":"America/New_York","regularMarketPrice":166.66,"chartPreviousClose":308.973,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EST","start":1675155600,"end":1675175400,"gmtoffset":-18000},"regular":{"timezone":"EST","start":1675175400,"end":1675198800,"gmtoffset":-18000},"post":{"timezone":"EST","start":1675198800,"end":1675213200,"gmtoffset":-18000}},"dataGranularity":"1d","range":"","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1639751400],"indicators":{"quote":[{"high":[320.2200012207031],"volume":[100437300],"open":[304.92333984375],"close":[310.8566589355469],"low":[303.0133361816406]}],"adjclose":[{"adjclose":[310.8566589355469]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - cgodos1hths6g
      y-rid:
      - cgodos1hths6g
    status:
      code: 200
      message: OK
version: 1
