interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/TSLA?interval=1d&range=1d
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"TSLA","exchangeName":"NMS","instrumentType":"EQUITY","firstTradeDate":1277818200,"regularMarketTime":1684872004,"gmtoffset":-14400,"timezone":"EDT","exchangeTimezoneName":"America/New_York","regularMarketPrice":185.77,"chartPreviousClose":188.87,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EDT","start":1684915200,"end":1684935000,"gmtoffset":-14400},"regular":{"timezone":"EDT","start":1684935000,"end":1684958400,"gmtoffset":-14400},"post":{"timezone":"EDT","start":1684958400,"end":1684972800,"gmtoffset":-14400}},"dataGranularity":"1d","range":"1d","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1684848600],"indicators":{"quote":[{"low":[185.25999450683594],"volume":[156598900],"open":[186.1999969482422],"close":[185.77000427246094],"high":[192.9600067138672]}],"adjclose":[{"adjclose":[185.77000427246094]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - dat20pli6r34d
      y-rid:
      - dat20pli6r34d
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/TSLA?events=div%2Csplits%2CcapitalGains&includePrePost=False&interval=1d&period1=MOCK_PERIOD_1&period2=MOCK_PERIOD_2
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"TSLA","exchangeName":"NMS","instrumentType":"EQUITY","firstTradeDate":1277818200,"regularMarketTime":1684872004,"gmtoffset":-14400,"timezone":"EDT","exchangeTimezoneName":"America/New_York","regularMarketPrice":185.77,"chartPreviousClose":308.973,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EDT","start":1684915200,"end":1684935000,"gmtoffset":-14400},"regular":{"timezone":"EDT","start":1684935000,"end":1684958400,"gmtoffset":-14400},"post":{"timezone":"EDT","start":1684958400,"end":1684972800,"gmtoffset":-14400}},"dataGranularity":"1d","range":"","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1639751400],"indicators":{"quote":[{"open":[304.92333984375],"high":[320.2200012207031],"close":[310.8566589355469],"volume":[100437300],"low":[303.0133361816406]}],"adjclose":[{"adjclose":[310.8566589355469]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - 7dia08hi6r34d
      y-rid:
      - 7dia08hi6r34d
    status:
      code: 200
      message: OK
version: 1
