interactions:
- request:
    body: null
    headers:
      authorization:
      - Bearer test_access_token
    method: GET
    uri: https://api.twitter.com/2/tweets/search/recent?query=%28%5C%24AAPL%29+%28lang%3Aen%29&max_results=10&tweet.fields=created_at%2Clang
  response:
    body:
      string: "{\n  \"title\": \"Unauthorized\",\n  \"type\": \"about:blank\",\n  \"status\":
        401,\n  \"detail\": \"Unauthorized\"\n}"
    headers:
      content-type:
      - application/problem+json
      perf:
      - '7626143928'
      x-connection-hash:
      - 1e182b3237f6bb0c3a00ce53985d58aa7b50ae4f3a2ee4f67a19628eb0dce8fd
      x-response-time:
      - '99'
      x-transaction-id:
      - bfda8c6b5d23a375
    status:
      code: 401
      message: Unauthorized
version: 1
