interactions:
- request:
    body: null
    headers:
      authorization:
      - Bearer test_access_token
    method: GET
    uri: https://api.twitter.com/2/tweets/search/recent?query=%28%5C%24AAPL%29+%28lang%3Aen%29&max_results=10&tweet.fields=created_at%2Clang
  response:
    body:
      string: "{\n  \"title\": \"Unauthorized\",\n  \"type\": \"about:blank\",\n  \"status\":
        401,\n  \"detail\": \"Unauthorized\"\n}"
    headers:
      content-type:
      - application/problem+json
      perf:
      - '7626143928'
      x-connection-hash:
      - dbf66a93e5a4aae61197c56bbcfdd557ad3fc01f7e92b4839ca270b48f083d20
      x-response-time:
      - '99'
      x-transaction-id:
      - a528194fa126d229
    status:
      code: 401
      message: Unauthorized
version: 1
