interactions:
- request:
    body: '{"query": "\n        {\n        ethereum {\n        dexTrades(options:
      {limit: 10, desc: \"count\"}) {\n            count\n            protocol\n        }}}\n        "}'
    headers:
      Content-Type:
      - application/json
      x-api-key:
      - test_key
    method: POST
    uri: https://graphql.bitquery.io/
  response:
    body:
      string: "<html>\r\n<head><title>401 Authorization Required</title></head>\r\n<body>\r\n<center><h1>401
        Authorization Required</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html
    status:
      code: 401
      message: Unauthorized
version: 1
