interactions:
- request:
    body: null
    headers:
      authorization:
      - Bearer test_access_token
    method: GET
    uri: https://api.twitter.com/2/tweets/search/recent?query=%28%5C%24AAPL%29+%28lang%3Aen%29&max_results=10&tweet.fields=created_at%2Clang
  response:
    body:
      string: "{\n  \"title\": \"Unauthorized\",\n  \"type\": \"about:blank\",\n  \"status\":
        401,\n  \"detail\": \"Unauthorized\"\n}"
    headers:
      content-type:
      - application/problem+json
      perf:
      - '7626143928'
      x-connection-hash:
      - ed82b92b9e5f5dea5ce8688ae3c41fa9087b081e56c3dc6ee4790bc1e1f540b6
      x-response-time:
      - '99'
      x-transaction-id:
      - 68b6788361988af6
    status:
      code: 401
      message: Unauthorized
version: 1
