interactions:
- request:
    body: null
    headers:
      authorization:
      - Bearer test_access_token
    method: GET
    uri: https://api.twitter.com/2/tweets/search/recent?query=%28%5C%24AAPL%29+%28lang%3Aen%29&max_results=10&tweet.fields=created_at%2Clang
  response:
    body:
      string: "{\n  \"title\": \"Unauthorized\",\n  \"type\": \"about:blank\",\n  \"status\":
        401,\n  \"detail\": \"Unauthorized\"\n}"
    headers:
      content-type:
      - application/problem+json
      perf:
      - '7626143928'
      x-connection-hash:
      - a8c3d930fa03f78d1c8683327a2657d3cf6bf34396c69e2e89f8949a5b607189
      x-response-time:
      - '99'
      x-transaction-id:
      - 173321d825908b29
    status:
      code: 401
      message: Unauthorized
version: 1
