interactions:
- request:
    body: null
    headers:
      authorization:
      - Bearer test_access_token
    method: GET
    uri: https://api.twitter.com/2/tweets/search/recent?query=%28%5C%24AAPL%29+%28lang%3Aen%29&max_results=10&tweet.fields=created_at%2Clang
  response:
    body:
      string: "{\n  \"title\": \"Unauthorized\",\n  \"type\": \"about:blank\",\n  \"status\":
        401,\n  \"detail\": \"Unauthorized\"\n}"
    headers:
      content-type:
      - application/problem+json
      perf:
      - '7626143928'
      x-connection-hash:
      - 4490c8044b75511f262b4e5a516c913ac2c2e6e8687a53f0208a756bce0b7b7d
      x-response-time:
      - '99'
      x-transaction-id:
      - 812c9832a1f912a1
    status:
      code: 401
      message: Unauthorized
version: 1
