interactions:
- request:
    body: null
    headers:
      authorization:
      - Bearer test_access_token
    method: GET
    uri: https://api.twitter.com/2/tweets/search/recent?query=%28%5C%24AAPL%29+%28lang%3Aen%29&max_results=10&tweet.fields=created_at%2Clang
  response:
    body:
      string: "{\n  \"title\": \"Unauthorized\",\n  \"type\": \"about:blank\",\n  \"status\":
        401,\n  \"detail\": \"Unauthorized\"\n}"
    headers:
      content-type:
      - application/problem+json
      perf:
      - '7626143928'
      x-connection-hash:
      - 3f3750f962a0710d9b7b049d65511b18352660e6b7ac534dd9681c87f9c1ea2f
      x-response-time:
      - '99'
      x-transaction-id:
      - ffeb1d211ef5b410
    status:
      code: 401
      message: Unauthorized
version: 1
