interactions:
- request:
    body: null
    headers:
      authorization:
      - Bearer test_access_token
    method: GET
    uri: https://api.twitter.com/2/tweets/search/recent?query=%28%5C%24AAPL%29+%28lang%3Aen%29&max_results=10&tweet.fields=created_at%2Clang
  response:
    body:
      string: "{\n  \"title\": \"Unauthorized\",\n  \"type\": \"about:blank\",\n  \"status\":
        401,\n  \"detail\": \"Unauthorized\"\n}"
    headers:
      content-type:
      - application/problem+json
      perf:
      - '7626143928'
      x-connection-hash:
      - c93c4db14396ac39adbdccc23fdf53b76b972ad7e3a40d2bf8d2dc6152dd655c
      x-response-time:
      - '99'
      x-transaction-id:
      - 60b8ca3af2b0b823
    status:
      code: 401
      message: Unauthorized
version: 1
