interactions:
- request:
    body: null
    headers:
      authorization:
      - Bearer test_access_token
    method: GET
    uri: https://api.twitter.com/2/tweets/search/recent?query=%28%5C%24AAPL%29+%28lang%3Aen%29&max_results=10&tweet.fields=created_at%2Clang
  response:
    body:
      string: "{\n  \"title\": \"Unauthorized\",\n  \"type\": \"about:blank\",\n  \"status\":
        401,\n  \"detail\": \"Unauthorized\"\n}"
    headers:
      content-type:
      - application/problem+json
      perf:
      - '7626143928'
      x-connection-hash:
      - 622280a50e24f89dd5bf13746a18763c934c7c37a35d217235ff1052a4ea4b36
      x-response-time:
      - '100'
      x-transaction-id:
      - 8fbcc0d88ac11b96
    status:
      code: 401
      message: Unauthorized
version: 1
