interactions:
- request:
    body: null
    headers:
      Accepts:
      - application/json
    method: GET
    uri: https://sandbox-api.coinmarketcap.com/v1/cryptocurrency/map
  response:
    body:
      string: "{\n    \"status\": {\n        \"timestamp\": \"2022-07-11T13:59:48.863Z\",\n
        \       \"error_code\": 1002,\n        \"error_message\": \"API key missing.\",\n
        \       \"elapsed\": 0,\n        \"credit_count\": 0\n    }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Traefik-Route:
      - coinmarketcap-pro-apis-sandbox
    status:
      code: 401
      message: Unauthorized
version: 1
