interactions:
- request:
    body: null
    headers:
      authorization:
      - Bearer VALIDKEY
    method: GET
    uri: https://api.twitter.com/2/tweets/search/recent?query=%28%5C%24AAPL%29+%28lang%3Aen%29&max_results=10&tweet.fields=created_at%2Clang
  response:
    body:
      string: "{\n  \"title\": \"Unauthorized\",\n  \"type\": \"about:blank\",\n  \"status\":
        401,\n  \"detail\": \"Unauthorized\"\n}"
    headers:
      content-type:
      - application/problem+json
      x-connection-hash:
      - bcb5a40b4ef5c86ffe6ac659777a0737bd959bca3a86375e62c339afea15b06e
      x-response-time:
      - '1'
    status:
      code: 401
      message: Unauthorized
version: 1
