interactions:
- request:
    body: null
    headers:
      Accepts:
      - application/json
      X-CMC_PRO_API_KEY:
      - VALIDKEY
    method: GET
    uri: https://pro-api.coinmarketcap.com/v1/cryptocurrency/map
  response:
    body:
      string: "{\n    \"status\": {\n        \"timestamp\": \"2022-04-09T13:01:28.940Z\",\n
        \       \"error_code\": 1001,\n        \"error_message\": \"This API Key is
        invalid.\",\n        \"elapsed\": 0,\n        \"credit_count\": 0\n    }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Traefik-Route:
      - coinmarketcap-pro-apis
    status:
      code: 401
      message: Unauthorized
version: 1
