interactions:
- request:
    body: null
    headers:
      authorization:
      - Bearer 890
    method: GET
    uri: https://api.twitter.com/2/tweets/search/recent?query=%28%5C%24AAPL%29+%28lang%3Aen%29&max_results=10&tweet.fields=created_at%2Clang
  response:
    body:
      string: "{\n  \"title\": \"Unauthorized\",\n  \"type\": \"about:blank\",\n  \"status\":
        401,\n  \"detail\": \"Unauthorized\"\n}"
    headers:
      content-type:
      - application/problem+json
      x-connection-hash:
      - c03c7584d00d3a80511129342199e0c3ab3fc416d39608f267e0f5c85767a31f
      x-response-time:
      - '100'
    status:
      code: 401
      message: Unauthorized
version: 1
