interactions:
- request:
    body: null
    headers:
      authorization:
      - Bearer VALIDKEY
    method: GET
    uri: https://api.twitter.com/2/tweets/search/recent?query=%28%5C%24AAPL%29+%28lang%3Aen%29&max_results=10&tweet.fields=created_at%2Clang
  response:
    body:
      string: "{\n  \"title\": \"Unauthorized\",\n  \"type\": \"about:blank\",\n  \"status\":
        401,\n  \"detail\": \"Unauthorized\"\n}"
    headers:
      content-type:
      - application/problem+json
      x-connection-hash:
      - 5cc798a0bd73adae70be98e118015c3d5be07d92c5ca9b6a32804308cfbfc737
      x-response-time:
      - '99'
    status:
      code: 401
      message: Unauthorized
version: 1
