interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dappradar.com/v2/api/dapps?params=WkdGd2NISmhaR0Z5Y0dGblpUMHhKbk5uY205MWNEMXRZWGdtWTNWeWNtVnVZM2s5VlZORUptWmxZWFIxY21Wa1BURW1jbUZ1WjJVOVpHRjVKbk52Y25ROWRYTmxjaVp2Y21SbGNqMWtaWE5qSm14cGJXbDBQVEky
  response:
    body:
      string: '{"page":1,"resultsPerPage":10,"pageCount":323,"resultCount":8403,"dapps":[{"id":3803,"name":"Splinterlands","slug":"splinterlands","new":false,"statistic":{"balance":415049.781,"balanceInFiat":387563.94,"totalBalanceInFiat":387563.94,"graph":"https:\/\/s3.amazonaws.com\/dapp-activity.dappradar.com\/hive_3803_f4080b58e0396f39f4e6ba94a0fd5884.png","exchangeRate":1,"currencyName":"usd","transactionCount":2443065,"userActivity":305103,"volumeInFiat":7976.610000000001,"totalVolumeInFiat":7976.610000000001,"totalVolumeChangeInFiat":-19.86,"changes":{"dau":{"status":"+4.54%","label":"positive"},"volume":{"status":"-58.81%","label":"negative"},"tx":{"status":"+4.24%","label":"positive"},"tokenVolume":{"status":"-","label":"neutral"},"totalVolume":{"status":"-19.86%","label":"negative"},"totalBalance":{"status":"-2.26%","label":"negative"}}},"godzillaId":20,"slugs":{"multichain":"splinterlands","hive":"splinterlands","wax":"splinterlands"},"logo":"https:\/\/dashboard-assets.dappradar.com\/document\/3803\/splinterlands-dapp-games-hive-logo-50x50_a226c66bc5a85c250400e213a02de3a0.png","deepLink":"https:\/\/dappradar.com\/deeplink\/3803","mobileFriendly":false,"featured":false,"protocols":["hive","wax"],"activeProtocols":["hive","wax"],"category":"games","tracked":true},{"id":4600,"name":"PancakeSwap","slug":"pancakeswap","new":false,"statistic":{"balance":0,"balanceInFiat":0,"totalBalanceInFiat":1787218283.97,"graph":"https:\/\/s3.amazonaws.com\/dapp-activity.dappradar.com\/bsc_4600_0966d2b554616381f9ed607c38e69a29.png","exchangeRate":1,"currencyName":"usd","transactionCount":825950,"userActivity":289333,"volumeInFiat":90647866.04,"totalVolumeInFiat":223688791.05,"totalVolumeChangeInFiat":-13.66,"changes":{"dau":{"status":"-7.74%","label":"negative"},"volume":{"status":"-13.58%","label":"negative"},"tx":{"status":"-2.27%","label":"negative"},"tokenVolume":{"status":"-13.71%","label":"negative"},"totalVolume":{"status":"-13.66%","label":"negative"},"totalBalance":{"status":"+1.06%","label":"positive"}}},"godzillaId":null,"slugs":{"binance-smart-chain":"pancakeswap"},"logo":"https:\/\/dashboard-assets.dappradar.com\/document\/4600\/pancakeswap-dapp-defi-bsc-logo-50x50_20e5d8b6c50c2cead9eb33120e4e1417.png","deepLink":"https:\/\/dappradar.com\/deeplink\/4600","mobileFriendly":false,"featured":false,"protocols":["binance-smart-chain"],"activeProtocols":["binance-smart-chain"],"category":"defi","tracked":true},{"id":5314,"name":"Alien
        Worlds","slug":"alien-worlds","new":false,"statistic":{"balance":0,"balanceInFiat":0,"totalBalanceInFiat":[...]
