interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finbrain.tech/v0/technicalSummary/ZZZZ
  response:
    body:
      string: '{"message":"Technical Summary is not available for this ticker","error":{"name":"i","message":"Technical
        Summary is not available for this ticker","status":404,"cause":404}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"ad-6JNVwdYeegSwNy/5lMeDshljVbI"
      x-amz-apigw-id:
      - QB6KCEL2oAMFevw=
      x-amzn-Remapped-connection:
      - close
      x-amzn-Remapped-content-length:
      - '173'
      x-amzn-Remapped-date:
      - Mon, 04 Apr 2022 00:36:03 GMT
      x-amzn-RequestId:
      - 715a53ed-0751-4fa0-a2d1-ee30ebec343b
    status:
      code: 404
      message: Not Found
version: 1
