name: publish

on: [push]

jobs:
  publish-image:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build the hello-world Docker image
      run: |
        source docker/compose.env && docker-compose build -f docker/openbbterminal-poetry.dockerfile
        docker build --tag ghcr.io/colin99d/openbb:latest
        docker run ghcr.io/colin99d/openbb:latest
        docker push ghcr.io/colin99d/openbb:latest

