interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/quote/PM?apikey=MOCK_API_KEY
  response:
    body:
      string: "[ {\n  \"symbol\" : \"PM\",\n  \"name\" : \"Philip Morris International
        Inc.\",\n  \"price\" : 90.18000000,\n  \"changesPercentage\" : 0.62485800,\n
        \ \"change\" : 0.55999800,\n  \"dayLow\" : 89.67000000,\n  \"dayHigh\" : 91.18000000,\n
        \ \"yearHigh\" : 112.48000000,\n  \"yearLow\" : 85.64000000,\n  \"marketCap\"
        : 139788910592.00000000,\n  \"priceAvg50\" : 100.93280000,\n  \"priceAvg200\"
        : 98.19670000,\n  \"volume\" : 5170940,\n  \"avgVolume\" : 5486803,\n  \"exchange\"
        : \"NYSE\",\n  \"open\" : 90.71000000,\n  \"previousClose\" : 89.62000000,\n
        \ \"eps\" : 5.78000000,\n  \"pe\" : 15.60207600,\n  \"earningsAnnouncement\"
        : \"2022-07-21T12:30:00.000+0000\",\n  \"sharesOutstanding\" : 1550109898,\n
        \ \"timestamp\" : 1658135074\n} ]"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: ''
version: 1
