interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/financial-growth/PM?apikey=MOCK_API_KEY&limit=0&period=annual
  response:
    body:
      string: "[\n  {\n    \"symbol\": \"PM\",\n    \"date\": \"2022-12-31\",\n    \"period\":
        \"FY\",\n    \"revenueGrowth\": 0.011367616621557077,\n    \"grossProfitGrowth\":
        -0.04748538011695906,\n    \"ebitgrowth\": -0.056184971098265896,\n    \"operatingIncomeGrowth\":
        -0.056184971098265896,\n    \"netIncomeGrowth\": -0.0066966736194972,\n    \"epsgrowth\":
        -0.006837606837606844,\n    \"epsdilutedGrowth\": -0.005136986301369906,\n
        \   \"weightedAverageSharesGrowth\": -0.0006418485237483953,\n    \"weightedAverageSharesDilutedGrowth\":
        -0.0012828736369467607,\n    \"dividendsperShareGrowth\": 0.03126877850138039,\n
        \   \"operatingCashFlowGrowth\": -0.09726748558535973,\n    \"freeCashFlowGrowth\":
        -0.13307781442196273,\n    \"tenYRevenueGrowthPerShare\": 0.10003922095286838,\n
        \   \"fiveYRevenueGrowthPerShare\": 0.10129409242531759,\n    \"threeYRevenueGrowthPerShare\":
        0.06429126078232547,\n    \"tenYOperatingCFGrowthPerShare\": 0.24611785379238255,\n
        \   \"fiveYOperatingCFGrowthPerShare\": 0.20829311996900549,\n    \"threeYOperatingCFGrowthPerShare\":
        0.06928873281124993,\n    \"tenYNetIncomeGrowthPerShare\": 0.1173305307409352,\n
        \   \"fiveYNetIncomeGrowthPerShare\": 0.4944397884530347,\n    \"threeYNetIncomeGrowthPerShare\":
        0.2576726025505395,\n    \"tenYShareholdersEquityGrowthPerShare\": -1.8002354709752093,\n
        \   \"fiveYShareholdersEquityGrowthPerShare\": 0.2612745033957558,\n    \"threeYShareholdersEquityGrowthPerShare\":
        0.2273046090711274,\n    \"tenYDividendperShareGrowthPerShare\": 0.5709365359849053,\n
        \   \"fiveYDividendperShareGrowthPerShare\": 0.19431185503032025,\n    \"threeYDividendperShareGrowthPerShare\":
        0.0895077947101069,\n    \"receivablesGrowth\": 0.20710659898477157,\n    \"inventoryGrowth\":
        0.13371559633027522,\n    \"assetGrowth\": 0.4938483894405425,\n    \"bookValueperShareGrowth\":
        0.1131255957244982,\n    \"debtGrowth\": 0.5508523340286269,\n    \"rdexpenseGrowth\":
        0,\n    \"sgaexpensesGrowth\": -0.033376885615868865\n  },\n  {\n    \"symbol\":
        \"PM\",\n    \"date\": \"2021-12-31\",\n    \"period\": \"FY\",\n    \"revenueGrowth\":
        0.0944796821635185,\n    \"grossProfitGrowth\": 0.11764705882352941,\n    \"ebitgrowth\":
        0.11201576962632842,\n    \"operatingIncomeGrowth\": 0.11201576962632842,\n
        \   \"netIncomeGrowth\": 0.1307100297914598,\n    \"epsgrowth\": 0.13372093023255804,\n
        \   \"epsdilutedGrowth\": 0.13178294573643404,\n    \"weightedAvera[...]
