interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/quote/PM?apikey=MOCK_API_KEY
  response:
    body:
      string: "[ {\n  \"symbol\" : \"PM\",\n  \"name\" : \"Philip Morris International
        Inc.\",\n  \"price\" : 94.99000000,\n  \"changesPercentage\" : -0.01052860,\n
        \ \"change\" : -0.01000210,\n  \"dayLow\" : 93.76000000,\n  \"dayHigh\" :
        95.78500000,\n  \"yearHigh\" : 112.48000000,\n  \"yearLow\" : 85.64000000,\n
        \ \"marketCap\" : 147244941312.00000000,\n  \"priceAvg50\" : 101.99400000,\n
        \ \"priceAvg200\" : 98.46595000,\n  \"volume\" : 5858190,\n  \"avgVolume\"
        : 5641353,\n  \"exchange\" : \"NYSE\",\n  \"open\" : 95.03000000,\n  \"previousClose\"
        : 95.00000000,\n  \"eps\" : 5.78000000,\n  \"pe\" : 16.43425600,\n  \"earningsAnnouncement\"
        : \"2022-07-21T12:30:00.000+0000\",\n  \"sharesOutstanding\" : 1550109920,\n
        \ \"timestamp\" : 1657284247\n} ]"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: ''
version: 1
