interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/rss_feed?apikey=MOCK_API_KEY&page=0
  response:
    body:
      string: "[\n  {\n    \"title\": \"6-K - ORGANIGRAM HOLDINGS INC. (0001620737)
        (Filer)\",\n    \"date\": \"2023-01-27 17:29:57\",\n    \"link\": \"https://www.sec.gov/Archives/edgar/data/1620737/000119312523017794/0001193125-23-017794-index.htm\",\n
        \   \"cik\": \"0001620737\",\n    \"form_type\": \"6-K\",\n    \"ticker\":
        \"OGI\",\n    \"done\": true\n  },\n  {\n    \"title\": \"13F-HR - DENVER
        WEALTH MANAGEMENT, INC. (0001909800) (Filer)\",\n    \"date\": \"2023-01-27
        17:28:41\",\n    \"link\": \"https://www.sec.gov/Archives/edgar/data/1909800/000195175723000081/0001951757-23-000081-index.htm\",\n
        \   \"cik\": \"0001909800\",\n    \"form_type\": \"13F-HR\",\n    \"ticker\":
        \"None\",\n    \"done\": true\n  },\n  {\n    \"title\": \"13F-HR - TruWealth
        Advisors, LLC (0001834985) (Filer)\",\n    \"[...]
