interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/enterprise-values/PM?apikey=MOCK_API_KEY&limit=0&period=annual
  response:
    body:
      string: "[ {\n  \"symbol\" : \"PM\",\n  \"date\" : \"2021-12-31\",\n  \"stockPrice\"
        : 103.519997000000004,\n  \"numberOfShares\" : 1557000000,\n  \"marketCapitalization\"
        : 161180635329,\n  \"minusCashAndCashEquivalents\" : 4496000000,\n  \"addTotalDebt\"
        : 27806000000,\n  \"enterpriseValue\" : 184490635329\n}, {\n  \"symbol\" :
        \"PM\",\n  \"date\" : \"2020-12-31\",\n  \"stockPrice\" : 79.6500020000000006,\n
        \ \"numberOfShares\" : 1557000000,\n  \"marketCapitalization\" : 124015053114,\n
        \ \"minusCashAndCashEquivalents\" : 7280000000,\n  \"addTotalDebt\" : 31536000000,\n
        \ \"enterpriseValue\" : 148271053114\n}, {\n  \"symbol\" : \"PM\",\n  \"date\"
        : \"2019-12-31\",\n  \"stockPrice\" : 84.3300019999999932,\n  \"numberOfShares\"
        : 1555000[...]
