interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/rss_feed?apikey=MOCK_API_KEY&page=0
  response:
    body:
      string: "[ {\n  \"title\" : \"6-K - Engine Gaming & Media, Inc. (0001714562)
        (Filer)\",\n  \"date\" : \"2023-01-13 13:32:45\",\n  \"link\" : \"https://www.sec.gov/Archives/edgar/data/1714562/000149315223001382/0001493152-23-001382-index.htm\",\n
        \ \"cik\" : \"0001714562\",\n  \"form_type\" : \"6-K\",\n  \"ticker\" : \"GAME\"\n},
        {\n  \"title\" : \"10-K - TRANSACT ENERGY CORP (0001383394) (Filer)\",\n  \"date\"
        : \"2023-01-13 13:25:12\",\n  \"link\" : \"https://www.sec.gov/Archives/edgar/data/1383394/000139390523000016/0001393905-23-000016-index.htm\",\n
        \ \"cik\" : \"0001383394\",\n  \"form_type\" : \"10-K\",\n  \"ticker\" : \"TEGY\"\n},
        {\n  \"title\" : \"6-K - MorphoSys AG (0001340243) (Filer)\",\n  \"date\"
        : \"2023-01-13 13:21:18\",\n  \"link\" : \"https://www.se[...]
