interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/rss_feed?apikey=MOCK_API_KEY&page=0
  response:
    body:
      string: "[\n  {\n    \"title\": \"10-K - YORK WATER CO (0000108985) (Filer)\",\n
        \   \"date\": \"2023-03-07 11:39:13\",\n    \"link\": \"https://www.sec.gov/Archives/edgar/data/108985/000010898523000016/0000108985-23-000016-index.htm\",\n
        \   \"cik\": \"0000108985\",\n    \"form_type\": \"10-K\",\n    \"ticker\":
        \"YORW\",\n    \"done\": true\n  },\n  {\n    \"title\": \"10-K - LINCOLN
        NATIONAL LIFE INSURANCE CO /IN/ (0000726865) (Filer)\",\n    \"date\": \"2023-03-07
        11:26:23\",\n    \"link\": \"https://www.sec.gov/Archives/edgar/data/726865/000072686523000180/0000726865-23-000180-index.htm\",\n
        \   \"cik\": \"0000726865\",\n    \"form_type\": \"10-K\",\n    \"ticker\":
        \"None\",\n    \"done\": true\n  },\n  {\n    \"title\": \"6-K - Shell plc
        (0001306965) (Filer)\",\n    \"date\": \"202[...]
