interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/enterprise-values/PM?apikey=MOCK_API_KEY&limit=0&period=annual
  response:
    body:
      string: "[\n  {\n    \"symbol\": \"PM\",\n    \"date\": \"2022-12-31\",\n    \"stockPrice\":
        103.83,\n    \"numberOfShares\": 1557000000,\n    \"marketCapitalization\":
        161663310000,\n    \"minusCashAndCashEquivalents\": 3207000000,\n    \"addTotalDebt\":
        43123000000,\n    \"enterpriseValue\": 201579310000\n  },\n  {\n    \"symbol\":
        \"PM\",\n    \"date\": \"2022-09-30\",\n    \"stockPrice\": 92.5299988,\n
        \   \"numberOfShares\": 0,\n    \"marketCapitalization\": 0,\n    \"minusCashAndCashEquivalents\":
        5368000000,\n    \"addTotalDebt\": 24580000000,\n    \"enterpriseValue\":
        19212000000\n  },\n  {\n    \"symbol\": \"PM\",\n    \"date\": \"2021-12-31\",\n
        \   \"stockPrice\": 103.5199966,\n    \"numberOfShares\": 1558000000,\n    \"marketCapital[...]
