interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/rss_feed?apikey=MOCK_API_KEY&page=0
  response:
    body:
      string: "[\n  {\n    \"title\": \"13F-HR - Cohen Capital Management, Inc. (0001508120)
        (Filer)\",\n    \"date\": \"2023-01-31 17:30:26\",\n    \"link\": \"https://www.sec.gov/Archives/edgar/data/1508120/000150812023000001/0001508120-23-000001-index.htm\",\n
        \   \"cik\": \"0001508120\",\n    \"form_type\": \"13F-HR\",\n    \"ticker\":
        \"None\",\n    \"done\": true\n  },\n  {\n    \"title\": \"20-F - ZK International
        Group Co., Ltd. (0001687451) (Filer)\",\n    \"date\": \"2023-01-31 17:24:29\",\n
        \   \"link\": \"https://www.sec.gov/Archives/edgar/data/1687451/000141057823000049/0001410578-23-000049-index.htm\",\n
        \   \"cik\": \"0001687451\",\n    \"form_type\": \"20-F\",\n    \"ticker\":
        \"ZKIN\",\n    \"done\": true\n  },\n  {\n    \"title\": \"13F-HR - RWC Asset
        Management LLP (0001520478) (Filer)\",\n    \"[...]
