interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/ratios/PM?apikey=MOCK_API_KEY&limit=0&period=annual
  response:
    body:
      string: "[\n  {\n    \"symbol\": \"PM\",\n    \"date\": \"2022-12-31\",\n    \"period\":
        \"FY\",\n    \"currentRatio\": 0.7176982733391865,\n    \"quickRatio\": 0.291300848697688,\n
        \   \"cashRatio\": 0.11731782265144863,\n    \"daysOfSalesOutstanding\": 54.65461872678043,\n
        \   \"daysOfInventoryOutstanding\": 316.4699175583231,\n    \"operatingCycle\":
        371.12453628510355,\n    \"daysOfPayablesOutstanding\": 130.48061743553762,\n
        \   \"cashConversionCycle\": 240.64391884956592,\n    \"grossProfitMargin\":
        0.6410175681632139,\n    \"operatingProfitMargin\": 0.38555506580190163,\n
        \   \"pretaxProfitMargin\": 0.3662867577608463,\n    \"netProfitMargin\":
        0.2848687110383477,\n    \"effectiveTaxRate\": 0.1928829293450232,\n    \"returnOnAssets\":
        0.14669022875764012,\n    \"returnOnEquity\": -1.0101596516690856,\n    \"returnOnCapitalEmployed\":
        0.3565584510117921,\n    \"netIncomePerEBT\": 0.777720474471377,\n    \"ebtPerEbit\":
        0.9500244977951985,\n    \"ebitPerRevenue\": 0.38555506580190163,\n    \"debtRatio\":
        1.1023167588074123,\n    \"debtEquityRatio\": -4.814446801384392,\n    \"longTermDebtToCapitalization\":
        1.3455899374951772,\n    \"totalDebtToCapitalization\": 1.2621612129017152,\n
        \   \"interestCoverage\": 15.9453125,\n    \"cashFlowToDebtRatio\": 0.25051596595784154,\n
        \   \"companyEquityMultiplier\": -6.886345874734844,\n    \"receivablesTurnover\":
        6.678301093355761,\n    \"payablesTurnover\": 2.797350343473994,\n    \"inventoryTurnover\":
        1.1533481691280598,\n    \"fixedAssetTurnover\": 4.733532041728763,\n    \"assetTurnover\":
        0.5149397707559864,\n    \"operatingCashFlowPerShare\": 6.938342967244702,\n
        \   \"freeCashFlowPerShare\": 6.246628131021194,\n    \"cashPerShare\": 2.0597302504816954,\n
        \   \"payoutRatio\": 0.863395225464191,\n    \"operatingCashFlowSalesRatio\":
        0.3401234179207858,\n    \"freeCashFlowOperatingCashFlowRatio\": 0.9003054707025826,\n
        \   \"cashFlowCoverageRatios\": 0.25051596595784154,\n    \"shortTermCoverageRatios\":
        1.309772065955383,\n    \"capitalExpenditureCoverageRatio\": -10.030640668523677,\n
        \   \"dividendPaidAndCapexCoverageRatio\": 1.6040089086859688,\n    \"dividendPayoutRatio\":
        0.8633952254641911,\n    \"priceBookValueRatio\": -17.593387294853187,\n    \"priceToBookRatio\":
        -17.593387294853187,\n    \"priceToSalesRatio\": 4.961399471066054,\n    \"priceEarningsRatio\":
        17.416442307692307,\n    \"priceToFreeCashFlowsRatio\": 16.202341147439853,\n
        \   \"priceToOperatingCashFlowsRatio\": 14.587056373229657,\n    \"priceCashFlowRatio\":
        14.587056373229657,\n    \"priceEarningsToGrowthRatio\": -25.471546874999976,\n
        \   \"priceSalesRatio\": 4.961399471066054,\n    \"dividendYield\": 0.04957357020514207,\n
        \   \"enterpriseValueMultiple\": 14.906783153445543,\n    \"priceFairValue\":
        -17.593387294853187\n  },\n  {\n    \"symbol\": \"PM\",\n    \"date\": \"2021-12-31\",\n
        \   \"period\": \"FY\",\n    \"currentRatio\": 0.9201246429498832,\n    \"quickRatio\":
        0.4381199688392625,\n    \"cashRatio\": 0.2334977927810958,\n    \"daysOfSalesOutstanding\":
        45.79207132622194,\n    \"daysOfInventoryOutstanding\": 317.3280159521436,\n
        \   \"operatingCycle\": 363.12008727836553,\n    \"daysOfPayablesOutstanding\":
        121.21784646061815,\n   [...]
