include LICENSE
include README.md
include pyproject.toml
include jupyter-config/openbb_terminal_documentation.json

include package.json
include ts*.json

graft openbb_terminal_documentation/labextension

# Javascript files
graft src
graft style
prune **/node_modules
prune lib

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
